<section class="about">
  <a href="/"><img src="{{ "/assets/balu.jpg" | relative_url }}" alt="{{ site.plainwhite.name }}" style="border-radius: 50%"></a>
  <h2><a href="/">{{ site.plainwhite.name }}</a></h2>
  <p class="tagline">{{ site.plainwhite.tagline }}</p>
  <p><a href="/">Home</a> | <a href="/tech">Blog</a> | <a href="/talks">Talks</a> | <a href="/setup">Setup</a> | <a href="/tech/feed.xml">Feed</a></p>
</section>
