<!--<footer class="site-footer" style="width:100%;bottom:0;position:fixed">-->

  <!--<div class="wrapper">-->


<!--[>    <div class="footer-col-wrapper"><]-->
      <!--[><div class="footer-col footer-col-1"><]-->
        <!--[><ul class="contact-list"><]-->
            <!--[><li>Freedom. Privacy. Everywhere</li><]-->
        <!--[></ul><]-->
      <!--[></div><]-->

      <!--[><div class="footer-col footer-col-2"><]-->
      <!--[></div><]-->

      <!--[><div class="footer-col footer-col-3" style="text-align:right"><]-->
          <!--[>Powered by Jekyll<]-->
      <!--[></div><]-->
    <!--[></div><]-->

  <!--</div>-->

<!--</footer>-->
