<header class="bg-light">
    <div class="navigation-bar light" style="background-color:white;border-bottom:0.5px dashed grey">
        <div class="navigation-bar-content container">
            <a href="/" class="element"><span class="icon-grid-view"></span>Balasankar C</a>
            <a class="element1 pull-menu" href="#"></a>
            <ul class="element-menu place-right">
                <li><a class="page-link" href="/">Home</a></li>
                <li>
                    <a class="dropdown-toggle" href="#">Blogs</a>
                    <ul class="dropdown-menu light" data-role="dropdown">
                        <li><a href="/tech">Technocrazian</a></li>
                        <li><a href="/literature">ശങ്കരാഭരണം</a></li>
                    </ul>
                </li>
                <li><a class="page-link" href="/code">Code</a></li>
                <li><a class="page-link" href="/talks">Talks</a></li>
                <li><a class="page-link" href="/setup">Setup</a></li>
                <li><a class="page-link" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>
