---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'Signing in... '
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 6
wordpress_url: http://balasankarc.comule.com/?p=5
date: '2012-10-19 21:52:42 -0400'
date_gmt: '2012-10-19 16:22:42 -0400'
categories:
- Uncategorized
tags: []
comments: []
---
<p>Signing in...</p>
<p>Boom....</p>
<p>BSC - Burning Sensation of Craziness....</p>
<p>My world, my word....</p>
<p>With Love</p>
<p>BSC</p>
