---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Debian Packaging
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 43
wordpress_url: http://balasankarc.comule.com/?p=43
date: '2012-10-23 22:38:26 -0400'
date_gmt: '2012-10-23 17:08:26 -0400'
categories:
- Debian
tags:
- debian-packaging
- diaspora-packaging
- smc
comments: []
---
<p>Howdy all,</p>
<p>Today also I'm continuing packaging session with j4v4m4n. There is a happy news that I finally uploaded my first package to mentors.debian.net. I've also requested Alioth for joining Ruby project.</p>
<p>So, i thought why don't i&nbsp;summarize&nbsp;what all I know about packaging.</p>
<p>It is as follows</p>
<ol>
<li>Make an ITP (Intent To Package) - Sample ITP can be found <a title="here" href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=691054" target="_blank">here</a></li>
<li>Mail the itp to&nbsp;submit@bugs.debian.org. Note the following things<br />
(a) Use plain text formatting. Don't use HTML formatting<br />
(b) The subject should be ITP:
<package name> -- <One liner description></li></p>
<li>&nbsp;Wait for confirmation from bug centre.</li>
<li>If you get confirmation mail, proceed</li>
<li>Download the gem and convert it to deb package using the command<br />
<span style="color: #ff0000;"><em>gem2deb
<package name></em></span></li></p>
<li>Run the following command in terminal (first , change directory to folder where you downloaded the package) to check for errors<br />
<span style="color: #ff0000;"><em>lintian -iIEcv --pedantic --color auto <your .changes file></em></span></li></p>
<li>Correct the errors by editing the files - control, copyright and changelog in the folder <em>/
<package folder>/
<package name>/debian/</em></li></p>
<li>Rebuild the package using the following command in terminal (change directory to the folder with name same as name of package inside your downloaded folder)<br />
<span style="color: #ff0000;"><em>dpkg-buildpackage</em></span></li></p>
<li>Sign the package using your GPG Key</li>
<li>Create an account in mentors.debian.net</li>
<li>Upload your package to mentors following the instructions <a href="http://mentors.debian.net/intro-maintainers" target="_blank">here</a></li>
<li>Wait for confirmation</li><br />
</ol><br />
I've reached only here... Will update along with my journey...</p>
