---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Continuing packaging session...
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 30
wordpress_url: http://balasankarc.comule.com/?p=30
date: '2012-10-21 22:18:41 -0400'
date_gmt: '2012-10-21 16:48:41 -0400'
categories:
- Debian
tags:
- debian-packaging
- diaspora-packaging
- smc
comments: []
---
<p>Howdy all,</p>
<p>The packaging session i mentioned earlier have just begun... We got aneesh and nadir today as session mate... Anyone interested can join the channel&nbsp;#debian-diaspora on irc.oftc.net...</p>
<p>I corrected my control files and .changes files, Rebuilt the package and boom!<br />
I uploaded my first package to mentors.debian.net and requested for uploading the same on&nbsp;alioth.debian.org... Now waiting for their confirmation mail...</p>
