---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Programming Languages I intend to learn
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 87
wordpress_url: http://balasankarc.comule.com/?p=87
date: '2012-11-14 00:21:53 -0500'
date_gmt: '2012-11-13 18:51:53 -0500'
categories:
- Other
tags: []
comments:
- id: 4
  author: Hrishi | Stultus
  author_email: hrishi.kb@gmail.com
  author_url: http://stultus.in
  date: '2012-11-21 14:35:12 -0500'
  date_gmt: '2012-11-21 09:05:12 -0500'
  content: let me know if you need any help on 1,2 and 3 ;)
- id: 5
  author: balasankarc
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2012-11-24 22:17:57 -0500'
  date_gmt: '2012-11-24 16:47:57 -0500'
  content: Can you suggest a good beginners reference for Javascript and PyGTK?
- id: 6
  author: Akshay
  author_email: akshayramesh92@gmail.com
  author_url: ''
  date: '2013-03-22 19:42:33 -0400'
  date_gmt: '2013-03-22 14:12:33 -0400'
  content: I would like to join you for 1 and 5 :) ;)
---
<p>Howdy all,</p>
<p>This post will act as a remainder rather than a blog post. In my life, I wish to learn the following languages</p>
<ol>
<li>Python</li>
<li>Java</li>
<li>JavaScript</li>
<li>A little of Ruby</li>
<li>And of course improve my VB and VB.NET</li><br />
</ol><br />
Hope God will let me... :)</p>
