---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Diaspora Packaging
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 74
wordpress_url: http://balasankarc.comule.com/?p=74
date: '2012-11-01 17:44:20 -0400'
date_gmt: '2012-11-01 12:14:20 -0400'
categories:
- Debian
tags:
- debian-packaging
- diaspora-packaging
comments: []
---
<p>Howdy all,</p>
<p>I forgot to tell you I'm temporarily out of Diaspora Packaging session till 5th November due to my exams... Hope to get there back soon....</p>
