---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: "എന്റെ ആദ്യത്തെ വിക്കി ആഘോഷം"
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 183
wordpress_url: http://balasankarc.comule.com/?p=183
date: '2012-12-25 17:13:10 -0500'
date_gmt: '2012-12-25 11:43:10 -0500'
categories:
- Wiki
tags:
- malayalam
- wikipedia
- "മലയാളം"
- "വിക്കി"
comments:
- id: 9
  author: "നത ഹുസൈൻ"
  author_email: nethahussain@gmail.com
  author_url: http://swethaambari.wordpress.com
  date: '2013-01-20 08:51:31 -0500'
  date_gmt: '2013-01-20 03:21:31 -0500'
  content: "ഇപ്പോഴാണ് ഇത് കാണുന്നത്. പരിപാടിയിൽ പങ്കെടുത്ത കാര്യം ബ്ലോഗിൽ രേഖപ്പെടുത്തി
    വയ്ക്കാൻ തോന്നിയത് എന്തുകൊണ്ടും നന്നായി. ആശംസകൾ!"
---
<p>പ്രിയപ്പെട്ടവരെ,<br />
ഈ കഴിഞ്ഞ ഞായറാഴ്ച (23/10/2012) ഞാന്&zwj; എന്റെ ജീവിതത്തിലെ ആദ്യ വിക്കി ആഘോഷത്തില്&zwj; പങ്കെടുത്തു. മലയാളം വിക്കിപീഡിയയുടെ പത്താം വാര്&zwj;ഷികം ആയിരുന്നു അത്.<br />
കലൂര്&zwj; റിന്യൂവല്&zwj; സെന്ററില്&zwj; വച്ചായിരുന്നു ചടങ്ങ്. ഓണ്&zwj;ലൈനില്&zwj; കൂടി മാത്രം പരിചയം ഉണ്ടായിരുന്ന മനോജേട്ടം, അഖിലന്&zwj; എന്നിങ്ങനെ കുറേ പേരെ അവിടെ വച്ച് "ജീവനോടെ" കാണാന്&zwj; സാധിച്ചു.<br />
രാവിലെ 10.00 മണിയോടെ ചടങ്ങുകള്&zwj; ആരംഭിച്ചു. ശ്രീ. പ്രകാശ് ബാരെ, ശ്രീ. ബാലചന്ദ്രന്&zwj; (ബാബുജി), ശ്രീ. സഹദേവന്&zwj; എന്നിവരായിരുന്നു മുഖ്യാതിഥികള്&zwj;. ഉദ്ഘാടനം ചെയ്യാന്&zwj; നിശ്ചയിച്ചിരുന്നത് ശ്രീ. കെ ജയകുമാറിനെ ആയിരുന്നെങ്കിലും ഔദ്യോഗിക തിരക്കുകള്&zwj; കാരണം അദ്ദേഹത്തിന് എത്തി ചേരാന്&zwj; കഴിഞ്ഞില്ല. അതുകൊണ്ട് മലയാളത്തിലെ ഏറ്റവും തല മുതിര്&zwj;ന്ന വിക്കിപീഡിയനായ ബാബുജി ചടങ്ങുകള്&zwj; ഔപചാരികമായി ഉദ്ഘാടനം ചെയ്തു. ശ്രീ. പ്രകാശ് ബാരെ, ശ്രീ. സഹദേവന്&zwj; എന്നിവര്&zwj; ആശംസയര്&zwj;പ്പിച്ച് സംസാരിച്ചു. അതിനു ശേഷം ശ്രീമതി. നതാ ഹുസൈന്&zwj; വിക്കിപീഡിയ വിഹഗവീക്ഷണം എന്ന വിഷയത്തില്&zwj; സംസാരിച്ചു. ശേഷം കണ്ണന്&zwj; മാഷ് വിക്കിഗ്രന്ഥശാലയെ കുറിച്ചു സംസാരിച്ചു... (സത്യം പറഞ്ഞാല്&zwj; ഞങ്ങള്&zwj; പുറകില്&zwj; ഭയങ്കര സംസാരം ആയിരുന്നു, അതുകൊണ്ട് ഒന്നും കേട്ടില്ല, കണ്ണന്&zwj; മാഷ് ക്ഷമിക്കുക... :) ). അതിനു ശേഷം ചെറിയ ഒരു പരിചയപ്പെടുത്തല്&zwj; ആയിരുന്നു. സമയക്കുറവു മൂലം എല്ലാവരേയും പരിചയപ്പെടാന്&zwj; പറ്റിയില്ല. ഉച്ചക്ക് ശേഷം വിക്കിപീഡിയ പഠനശിബിരം, "വിക്കിപീഡിയയും മലയാളം കമ്പ്യൂട്ടിംഗും" എന്ന വിഷയത്തില്&zwj; സിമ്പോസിയം എന്നിവ നടന്നു. ഇതിനിടെ ശ്രീ. കെ വേണു ആഘോഷത്തിന്റെ ഭാഗമായി പിറന്നാള്&zwj; കേക്ക് മുറിക്കുകയും, സ്വന്തമായി ഒരു വിക്കി അക്കൗണ്ട് ഉണ്ടാക്കുകയും ചെയ്തു. വൈകിട്ട് 5 മണിയോട് കൂടി ആഘോഷങ്ങള്&zwj; അവസാനിച്ചു.<br />
ഈ ചടങ്ങിന്റെ ഭാഗമായി, പല ടെക്നികല്&zwj; മേഖലകളിലും അവഗാഹമായ ജ്ഞാനമുള്ള ഒട്ടനവധി പേരെ കാണാനും, അവരുമായി സമയം ചിലവഴിക്കാനും സാധിച്ചു. വളരെ നല്ല ഒരനുഭവമായിരുന്നു അത്.</p>
<p>ഈ പരിപാടി കൊള്ളാം... :)</p>
<p>PS: പറയാന്&zwj; മറന്നു പോയി, ഒരു സ്റ്റിക്കറും കിട്ടി... അതും കലക്കി... ;)</p>
