---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: "ഗ്നോം മലയാളം പ്രാദേശികവത്ക്കരണം, ഐ ആർ സി മീറ്റിങ്ങ്"
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 33
wordpress_url: http://balasankarc.comule.com/?p=33
date: '2012-10-22 19:16:58 -0400'
date_gmt: '2012-10-22 13:46:58 -0400'
categories:
- SMC
tags:
- smc
- gnome
- localisation
comments: []
---
<p>നമസ്കാരം,</p>
<p>ഇന്ന് അടുത്ത IRC മീറ്റിങ്ങിലാണ്&zwj;.. ഇത് ഗ്നോം ഇന്റര്ഫേസ് എങ്ങനെ മലയാളീകരിക്കും എന്നതിനെ പറ്റി പുതിയ SMC മെമ്പേഴ്സിന്&zwj; &nbsp;അവബോധം കൊടുക്കാന് വേണ്ടിയുള്ളതാണ്&zwj;... അനീഷ് ആണ്&zwj; ക്ലാസ്സ് എടുക്കുന്നത്... നോക്കിയിട്ട് വരാം...</p>
