---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: My first "usable" software - tiff2djvu
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 191
wordpress_url: http://balasankarc.comule.com/?p=191
date: '2012-12-29 21:14:35 -0500'
date_gmt: '2012-12-29 15:44:35 -0500'
categories:
- Wiki

tags: []
comments: []
---
<p>Howdy all,<br />
Last day I created an app called tiff2djvu, mainly intended for wikisource users. It is for Ubuntu OS (I haven't tested on others) and is written using Python. While using Scan Tailor to correct scanned images, the outputs are TIFF images. Inorder to upload them to wikisource, we need to convert them to a single DJVU file. This software does this purpose. Thanks for Manojettan for the idea and Hrishi for technical support.</p>
<p>The software can be found <a href="https://github.com/balasankarc/tiff2djvu">here</a>.</p>
<p>Please read the README file to get information about prerequisites.</p>
<p>:)</p>
