---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: "മലയാളം വിക്കിപീഡിയയുടെ പത്താം വാർഷികം"
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 173
wordpress_url: http://balasankarc.comule.com/?p=173
date: '2012-12-18 16:14:24 -0500'
date_gmt: '2012-12-18 10:44:24 -0500'
categories:
- Wiki
tags:
- malayalam
- wikipedia
comments: []
---
<p>നമസ്കാരം,<br />
മലയാളം വിക്കിപീഡിയയുടെ പത്താം വാര്&zwj;ഷികം ഈ വരുന്ന ഡിസംബര്&zwj; 21നാണ്. അന്നേ ദിവസം വിക്കിപീഡിയയ്ക് സമ്മാനമായി പരമാവധി തിരുത്തുകള്&zwj; കൊടുക്കാനാണ് തീരുമാനം. ഓഫ്&zwnj;&zwnj;ലൈന്&zwj; ആഘോഷങ്ങള്&zwj; ഡിസംബര്&zwj; 23ന് എറണാകുളം കലൂര്&zwj; റിന്യൂവല്&zwj; സെന്ററില്&zwj; വച്ച് നടക്കുന്നതായിരിക്കും. കാര്യപരിപാടികള്ക്ക് സന്ദര്ശിക്കുക - <a href="http://ml.wikipedia.org/wiki/%E0%B4%B5%E0%B4%BF%E0%B4%95%E0%B5%8D%E0%B4%95%E0%B4%BF%E0%B4%AA%E0%B5%80%E0%B4%A1%E0%B4%BF%E0%B4%AF:%E0%B4%AE%E0%B4%B2%E0%B4%AF%E0%B4%BE%E0%B4%B3%E0%B4%82_%E0%B4%B5%E0%B4%BF%E0%B4%95%E0%B5%8D%E0%B4%95%E0%B4%BF%E0%B4%AA%E0%B5%80%E0%B4%A1%E0%B4%BF%E0%B4%AF_%E0%B4%AA%E0%B4%A4%E0%B5%8D%E0%B4%A4%E0%B4%BE%E0%B4%82_%E0%B4%B5%E0%B4%BE%E0%B5%BC%E0%B4%B7%E0%B4%BF%E0%B4%95%E0%B4%82/%E0%B4%8E%E0%B4%B1%E0%B4%A3%E0%B4%BE%E0%B4%95%E0%B5%81%E0%B4%B3%E0%B4%82" target="_blank">വിക്കിപീഡിയ പത്താം വാര്&zwj;ഷികം</a>.</p>
<p>മിക്കവാറും ഞാനും പോകും. എന്റെ ആദ്യത്തെ വിക്കി പരിപാടി. നോക്കട്ടെ എങ്ങനെ ഉണ്ടെന്ന്.</p>
