---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'Oracle not available : Shared memory realm doesnot exist'
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 81
wordpress_url: http://balasankarc.comule.com/?p=81
date: '2012-11-05 22:06:57 -0500'
date_gmt: '2012-11-05 16:36:57 -0500'
categories:
- Software errors and correction
tags:
- oracle
- sql
- sqlplus
comments: []
---
<p>On opening sqlplus, I get the error:</p>
<p>&ldquo;Oracle not available&rdquo;<br />
&ldquo;Shared memory realm does not exist&rdquo;</p>
<p>Solution done by me after searching&nbsp;Google:&ndash;</p>
<p>1.> In cmd type "sqlplus conn / as sysdba" without quotes</p>
<p>2.> startup nomount;<br />
It shows the message</p>
<p>ORACLE instance started.</p>
<p>Total System Global Area (some value) bytes</p>
<p>Fixed Size (some value)&nbsp;bytes</p>
<p>Variable Size (some value)&nbsp;bytes</p>
<p>Database Buffers (some value)&nbsp;bytes</p>
<p>Redo Buffers (some value)&nbsp;bytes</p>
<p>3.>alter database mount;</p>
<p>4.> alter database open;</p>
<p>Now your data base is ready to use.</p>
<p>Courtesy :&nbsp;<a href="http://satendrakumar.wordpress.com/2011/06/11/oracle-not-available-shared-memory-realm-doesnot-exist/">http://satendrakumar.wordpress.com/2011/06/11/oracle-not-available-shared-memory-realm-doesnot-exist/</a></p>
<p>I just posted it here because it will be easier for me to access if the error repeats...</p>
