---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Pirate Party of India
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 89
wordpress_url: http://balasankarc.comule.com/?p=89
date: '2012-11-21 08:55:43 -0500'
date_gmt: '2012-11-21 03:25:43 -0500'
categories:
- Pirate Party
tags:
- freedom
- india
- party
- pirate
- piratepin
comments: []
---
<p>Howdy All</p>
<p>check this out... Its worth reading... Fight for a cause...</p>
<p>For doubts mail at c [dot] balasankar [at] gmail [dot] com or join the mailing list given in the following website...</p>
<p>Do you think the government isn't running the way we people thought they would?<br />
Do you believe government are enforcing their stupid laws on us?<br />
Do you think computer and internet should be made fundamental right to everyone?<br />
Do you believe in transparent governance?<br />
Do you believe in free sharing of knowledge?<br />
And</p>
<p>DO YOU BELIEVE OUR INTERNET SHOULD NOT BE MONITORED AND WE SHOULD BE GIVEN FULL FREEDOM ON OUR FACEBOOK STATUSES AND LIKES???</p>
<p>Then</p>
<p>Join Pirate Party of India</p>
<p>Pirate Party is a label adopted by political parties in different<br />
countries. Pirate Parties support civil rights, direct democracy and<br />
participation, reform of copyright and patent law, free sharing of<br />
knowledge (Open content), information Privacy, transparency, and<br />
freedom of information. They advocate network neutrality and<br />
universal, unrestricted access to the Internet as indispensable<br />
conditions to some of this.</p>
<p>Pirate Parties now have a presence in several countries around the<br />
world and have elected members to Parliaments. Pirate Party India was<br />
born in the shadow of increasing censorship and copyright enforcement,<br />
deteriorating civil rights and inaccessible and opaque governance<br />
policies. Alienation of citizens nationwide led likeminded individuals<br />
to come together as India's Pirate Party in an effort to magnify as<br />
many citizen voices as possible and promote open and responsive<br />
governance.</p>
<p>The Pirate Party currently is still forming and not reached the<br />
strength for registering with the Election Commission. Hop on. Write<br />
history.</p>
<p>Details about constitution and how to join :&nbsp;<a href="http://pirateparty.org.in/index2.html">http://pirateparty.org.in/index2.html</a><br />
Wiki Page :&nbsp;<a href="http://wiki.pirateparty.org.in/wiki/Main_Page">http://wiki.pirateparty.org.in/wiki/Main_Page</a><br />
Mailing Lists : <a href="http://lists.pirateparty.org.in/listinfo.cgi">http://lists.pirateparty.org.in/listinfo.cgi</a><br />
Blog : <a href="http://blog.pirateparty.org.in/">http://blog.pirateparty.org.in/</a></p>
<p>&nbsp;</p>
