---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: ILUG - Indian Libre User Group - Cochi
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 67
wordpress_url: http://balasankarc.comule.com/?p=67
date: '2012-10-25 19:09:25 -0400'
date_gmt: '2012-10-25 13:39:25 -0400'
categories:
- FOSS
tags:
- foss
- fsf
- ilug
- libre
- linux
comments: []
---
<p>Howdy all,</p>
<p>Let's see how many of you knew about ILUG? I came to know about it very recently. They are dedicated&nbsp;spreading Free Software awareness in society through its regular monthly meetings ( 4th Sunday of every month ),conducted since 1997. This month's meeting's details are as follows:</p>
<p><strong>1. Introduction to Free Software</strong></p>
<p>We start of with our regular discussion on the concepts and philosophy of the Free Software Movement and related topics.</p>
<p><strong>2. Agenda : Password Security &amp; its Importance</strong></p>
<p>Finding out more about password vulnerability tools to understand the password attacks and tools, the benefits of being protected will be discussed. Password attacks can be minimised by password analysis &amp;<br />
security measures.</p>
<p><strong>3. Technical Discussions<br />
</strong><br />
Attendees will discuss and/or present topics of interest. They will share their knowledge by handling small sessions to make up the Technical Session part of the Meeting.</p>
<p><strong>4. Q&amp;A Session</strong></p>
<p>This would be used to answer doubts that users have concerning Free Software.</p>
<p>For more information about the group, visit their website -&nbsp;<a href="http://www.ilug-cochin.org/">http://www.ilug-cochin.org/</a></p>
<p>To join mailing list , visit -&nbsp;<a href="http://ilug-cochin.org/mailman/listinfo/mailinglist_ilug-cochin.org">http://ilug-cochin.org/mailman/listinfo/mailinglist_ilug-cochin.org</a></p>
<p>P.S : I haven't been able to attend their meeting even once, including the one happening this sunday... Every time, some other appoints block it... What to do???</p>
