---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: My first packaging session
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 9
wordpress_url: http://balasankarc.comule.com/?p=9
date: '2012-10-21 11:22:54 -0400'
date_gmt: '2012-10-21 05:52:54 -0400'
categories:
- Debian
tags:
- debian-packaging
- diaspora-packaging
- smc
comments:
- id: 2
  author: Praveen
  author_email: me@j4v4m4n.in
  author_url: http://j4v4m4n.in
  date: '2012-10-21 12:02:47 -0400'
  date_gmt: '2012-10-21 06:32:47 -0400'
  content: Thanks for the blog and your contributions! Tell your friends about it
    and bring them to the sessions!
- id: 3
  author: Anish A
  author_email: aneesh.nl@gmail.com
  author_url: http://helloinfinity.com
  date: '2012-10-21 19:43:02 -0400'
  date_gmt: '2012-10-21 14:13:02 -0400'
  content: Great... I will be there today.
- id: 43358
  author: My 2^10 days of packaging | Technocrazian
  author_email: ''
  author_url: http://balasankarc.in/tech/?p=725
  date: '2015-08-09 17:44:14 -0400'
  date_gmt: '2015-08-09 12:14:14 -0400'
  content: "[&#8230;] to check how many days have gone since I was first introduced
    to packaging by Praveen. From my blog post entry, it was on October 20, 2012 when
    I joined an IRC training conducted by Praveen. It was for the [&#8230;]"
---
<p>Howdy all,</p>
<p>Had my first packaging session (debian-diaspora) last night. The session was conducted by Mr. Praveen Arimbrathodiyil (j4v4m4n) and Mr. Vasudeva Kamath (copyninja). Learned the basics of Ruby Gem Packaging for debian packages...My fellow session mates were Mr. Ajinkya Bhosale and Xavier B... &nbsp;The instructors helped us in various steps of packaging like</p>
<ol>
<li>Selecting an unpackaged gem</li>
<li>Writing an ITP</li>
<li>Reporting it to bug&nbsp;centrr</li>
<li>Converting the gem to a .deb package</li><br />
</ol><br />
I selected the package jammit ver. 0.6.5, packaged it and reported to <a title="here" href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=691054">here</a>. Later converted it to a deb file and am currently working on fixing the errors in copyright and license files.</p>
<p>Javaman and copyninja were extremely helpful and described every step in detail. The session will continue today night... Eagerly waiting for it.</p>
