---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: How is FOSS good for the common man? - My views
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 402
wordpress_url: http://balasankarc.in/tech/?p=402
date: '2013-08-28 01:00:01 -0400'
date_gmt: '2013-08-27 19:30:01 -0400'
categories:
- FOSS

tags: []
comments:
- id: 18
  author: Aboobacker MK
  author_email: aboobackervyd@gmail.com
  author_url: ''
  date: '2013-06-16 19:19:27 -0400'
  date_gmt: '2013-06-16 13:49:27 -0400'
  content: Foss consist of two parts 1, free which user centered, and deals with freedom  2.open
    source, which is developer centered, deals with practical advantage of releasing
    source code :)
---
<p>I've been asked "how the common people benefit from free software?? They don't understand code, so how does the source code being available benefits them?? Open source is only developer oriented. Its not for common people.." many a times.</p>
<p>There can be a large paragraph of answer for these questions, but I like to keep it simple.</p>
<p>Open source provides security to the common man, from the possible frauds. The funny thing is, that security originates from fear. When the code is open, though the common user cannot understand code, there are thousands out there who can understand it. They will read it and review it. If they find one single malpractice/fraud, they will make sure the WHOLE hacker community knew about it (Yes they can, why do you think there are a zilliont tech-websites and BBs and Mailing Lists out there?? ). When that happens, the credibility of the company which made that software goes to ashes. So, there is a fear, for the developer/company who developed a software which can do fraud, that they may lose their good-boy-image. That fear prevents them from impregnating their code with backdoors and ways to access your info. That fear prevents them from stealing your passwords. This fear, is the common man's shield. This fear, is his benefit from FOSS when compared to Propreitary softwares. This fear, makes FOSS his buddy, rather than a mysterious neighbour.</p>
<p><strong>FOSS is both the sword and shield. Sword for the developers/code-understanding-geeks and shield for the common users.</strong></p>
<p>PS: The above is only my view. It may be right or wrong. Anyone and everyone are welcomed to comment as that will be helpful atleast to me in understanding things better.</p>
