---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Python Class
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 331
wordpress_url: http://balasankarc.comule.com/?p=331
date: '2013-03-24 00:17:46 -0400'
date_gmt: '2013-03-23 18:47:46 -0400'
categories:

tags: []
comments:
- id: 13
  author: Nandaja
  author_email: nandaja.varma@gmail.com
  author_url: http://nandajavarma.wordpress.com
  date: '2013-03-25 11:14:14 -0400'
  date_gmt: '2013-03-25 05:44:14 -0400'
  content: "ഇന്ത്യന്&zwj; പീനല്&zwj; കോര്&zwj;ട്ട് , 1860 സെക്ഷന്&zwj; 109 അനുസരിച്ച്
    ഹൃഷിക്ക്  5 വര്&zwj;ഷം കഠിന തടവും, 5 ലക്ഷം രൂപ പിഴയും ഈ കോടതി പ്രക്യാപിക്കുന്നു..."
- id: 14
  author: Balasankar Chelamattath
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-05-05 12:41:57 -0400'
  date_gmt: '2013-05-05 07:11:57 -0400'
  content: |-
    ജെം,
    പ്ര"ഖ്യാ"പിക്കുന്നു...  :P
- id: 15
  author: "അഖിലൻ"
  author_email: mail@akhilan.in
  author_url: http://akhilan.in
  date: '2013-05-29 22:56:09 -0400'
  date_gmt: '2013-05-29 17:26:09 -0400'
  content: "ഇന്ത്യൻ പീനൽ കോഡല്ലേ? അതോ ഈയെടെക്കെങ്ങാനും മാറ്റ്യാ?"
---
<p>Howdy all,<br />
Planned and exeuted (both done by gem) a python training session in IRC tonight. Stultus, Jishnu and Ershad were happy to help us learn the basics of python programming. Later it was more like a collective teaching-learning session. The members were me, Akshay, Nandaja, Dileep, Shafeeq and Aravind. The session covered variables and for and while loops. Hope this session continues for some time... (ഹൃഷിയുടെ മാനേജർ ഉടനെ എങ്ങും തിരിച്ചു വരല്ലേ... )</p>
<p>PS : ഈ സെഷൻ നടത്താൻ സഹകരിച്ച അബാക്കസിനും, നന്ദജക്കും മണവാളൻ & മണവാളൻസിന്റെ പേരിലും, എന്റെ സ്വന്തം പേരിലും നന്ദി രേഖപ്പെടുത്തുന്നു...<br />
PPS : Stultus is great, Stultus is awsome, Stutltus is python.. Stultus rocks... And Chathan too....<br />
PPPS: നാളെ എന്നെ കണ്ടില്ലങ്കിൽ, ഹൃഷിയെ പോലീസിൽ ഏൽപ്പിച്ചേക്ക്...</p>
