---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: FOSS ലോകത്തെ ലൈസൻസുകൾ
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 413
wordpress_url: http://balasankarc.in/tech/?p=413
date: '2013-08-28 01:00:02 -0400'
date_gmt: '2013-08-27 19:30:02 -0400'
categories:

tags: []
comments:
- id: 44
  author: Praveen
  author_email: praveen@debian.org
  author_url: http://j4v4m4n.in
  date: '2013-08-28 15:03:06 -0400'
  date_gmt: '2013-08-28 09:33:06 -0400'
  content: "അപ്പാച്ചെ ലൈസന്&zwj;സിനെപ്പറ്റി പറയുന്നിടത്തു് വളരെ സാധാരണയായി കണ്ടുവരുന്നൊരു
    പിഴവു് ബാലുവിനും പറ്റി. ഓപ്പണ്&zwj; സോഴ്സും സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറും തമ്മില്&zwj;
    തത്വങ്ങളിലേ വ്യത്യാസമുള്ളൂ, പ്രായോഗിക വ്യത്യാസങ്ങളൊന്നുമില്ല (അധികമാരും ഉപയോഗിയ്ക്കാത്ത
    റെസിപ്രോക്കല്&zwj; ലൈസന്&zwj;സ് എന്ന ഒറ്റ ലൈസന്&zwj;സേ ഓപ്പണ്&zwj;സോഴ്സ് ഇനിഷ്യേറ്റീവ്
    അംഗീകരിച്ചതും സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയര്&zwj; ഫൌണ്ടേഷന്&zwj; അംഗീകരിയ്ക്കാത്തതുമായുള്ളൂ).
    സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറിലെ സ്വാതന്ത്ര്യത്തേയും ആദര്&zwj;ശത്തേയും പറ്റി പറയാന്&zwj;
    മടിയുള്ളവര്&zwj; പ്രായോഗികമായുള്ള മെച്ചങ്ങളെപ്പറ്റി മാത്രം പറയാനായി കണ്ടെത്തിയ
    വാക്കാണു് ഓപ്പണ്&zwj;സോഴ്സ്. ഓപ്പണ്&zwj;സോഴ്സ് എന്നതു് പ്രധാനമായും നല്ല സോഫ്റ്റ്&zwnj;വെയര്&zwj;
    ഉണ്ടാക്കാനുള്ള ഒരു രീതിയായും സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയര്&zwj; എന്നതു് ഒരു സാമൂഹിക
    പ്രസ്ഥാനമായും സ്വയം വിശേഷിപ്പിയ്ക്കുന്നു. കൂടുതല്&zwj; ഇവിടെ https://www.gnu.org/philosophy/free-software-for-freedom.html"
- id: 45
  author: admin
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-08-28 15:05:36 -0400'
  date_gmt: '2013-08-28 09:35:36 -0400'
  content: "പിഴവ്, അതിനെ ഓപ്പൺ സോഴ്സ് ലൈസൻസ് എന്ന് വിളിച്ചതാണോ?? സ്വതന്ത്ര ലൈസൻസില്&zwj;
    ഇറക്കിയ സോറ്റ്&zwnj;വെയറിന്റെ ഡെറിവേറ്റീവ്സ് എല്ലാം സ്വതന്ത്രം ആവണമെന്ന് നിര്&zwj;ബന്ധമില്ലേ??
    അപ്പാഷേക്ക് അങ്ങനെ ഇല്ലല്ലോ?? അപ്പോള്&zwj;, അതിന് സ്വതന്ത്ര ലൈസൻസില്&zwj; നിന്നും
    വ്യത്യാസമില്ലേ??"
- id: 47
  author: "പ്രവീണ്&zwj;"
  author_email: praveen@debian.org
  author_url: http://j4v4m4n.in
  date: '2013-08-30 19:23:40 -0400'
  date_gmt: '2013-08-30 13:53:40 -0400'
  content: "കോപ്പിലെഫ്റ്റായിട്ടുള്ള (protective എന്നു് പറയും) സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറുകള്&zwj;ക്കു്
    മാത്രമേ അതേ ലൈസന്&zwj;സില്&zwj; മാറ്റങ്ങള്&zwj; വിതരണം ചെയ്യണമെന്ന നിബന്ധനയുള്ളൂ.\r\n\r\nകോപ്പിലെഫ്റ്റല്ലാത്ത
    സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറുകളുമുണ്ടു്. അപ്പാച്ചെ, എംഐടി, ബിഎസ്ഡി തുടങ്ങിയവ ഇത്തരത്തിലുള്ള
    ലൈസന്&zwj;സുകളാണു്.\r\n\r\nപ്രായോഗികമായി എല്ലാ ഓപ്പണ്&zwj;സോഴ്സ് ലൈസന്&zwj;സുകളും
    സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയര്&zwj; ലൈസന്&zwj;സുകളാണു് (റെസിപ്രോക്കല്&zwj; ലൈസന്&zwj;സൊഴികെ,
    അതാണെങ്കില്&zwj; ആകെ ഒരു സോഫ്റ്റ്&zwnj;വെയര്&zwj; മാത്രമേ ഉപയോഗിയ്ക്കുന്നുള്ളൂ).
    വ്യത്യാസം ആശയത്തില്&zwj; മാത്രമേ ഉള്ളൂ. കുരുടന്മാര്&zwj; ആനയെ കണ്ട പോലുള്ള വ്യത്യാസം
    മാത്രമേ ഉള്ളൂ. വാലില്&zwj; പിടിച്ചവര്&zwj; ആന ചൂലു് പോലെയാണെന്നും കാലില്&zwj;
    പിടിച്ചവര്&zwj; ആന തൂണു് പോലാണെന്നു് പറയുന്നതു് പോലെ."
---
<p><strong>FOSS ലോകത്തെ അനുമതികൾ</strong></p>
<p>ഒരു പ്രയോഗം, ഏതൊക്കെ രീതിയിൽ ഉപയോഗിക്കാം എന്ന് രേഖപ്പെടുത്തി വയ്ക്കുന്ന സംവിധാനമാണ് ലൈസൻസിങ്ങ്. മറ്റൊരാൾക്ക് കാണാൻ മാത്രം, കാണാനും തിരുത്താനും, കണ്ട് തിരുത്തി വേറൊരു പേരിൽ പുറത്തിറക്കാൻ, ഇങ്ങനെ പലരീതിയിലും അനുമതി ഏർപ്പെടുത്താം. സ്വതന്ത്ര പ്രയോഗം ലോകത്തെ,  ചില അനുമതികളെ (ലൈസൻസുകളെ) പറ്റി പറയാം.</p>
<p><strong>GNU General Public License</strong></p>
<p>ആദ്യമായി, ഗ്നു സാർവ്വ ജനിക അനുമതി അഥവാ GNU General Public License എന്നതിനെ പറ്റി പറയാം. സ്വതന്ത്ര അനുമതികളിൽ ഏറ്റവും മുൻപന്തിയിൽ കേൾക്കുന്ന ഒരു പേരാണ് ഇത്.  Free Software Foundationന്റെ ഭാഗമായി റിച്ചാർഡ് സ്റ്റാൾമാനാണ് ഈ അനുമതി ഉണ്ടാക്കിയത്. ഈ അനുമതി, സ്വതന്ത്ര പ്രയോഗം ഫൗണ്ടേഷൻ പറയുന്ന എല്ലാ സ്വാതന്ത്ര്യങ്ങളും അനുവദിക്കുന്നു. എനിക്ക് എളുപ്പത്തിന്, പോയിന്റുകൾ ആയിട്ട് പറയാം.</p>
<ol>
<li>ഒരു പ്രയോഗം GNU GPLഇൽ ആണെങ്കിൽ, അത് ഒരു സ്വതന്ത്ര പ്രയോഗം ആണ്.</li>
<li>അതിന്റെ സോഴ്സ് കോഡ് ആർക്കും ലഭിക്കും. അത് ആർക്ക് വേണമെങ്കിലും, പങ്കുവെയ്ക്കാം, തിരുത്താം, തിരുത്തിയ വേർഷൻ പുറത്തിറക്കാം.</li>
<li>പക്ഷേ, അതിൽ നിന്ന് ഉണ്ടാക്കുന്ന ഏതൊരു ഉത്ഭവസൃഷ്ടിയും (Derivative Work), അതേ അനുമതിയിൽ തന്നെ ആയിരിക്കണം. അതായത്, GNU GPLഇൽ ഉള്ള ഒരു പ്രയോഗത്തിലെകോഡ് മാറ്റം വരുത്തി ഒരു ക്ലോസ്ഡ് സോഴ്സ് പ്രയോഗം ഉണ്ടാക്കാൻ സാധിക്കില്ല.<br />
<strong>അച്ഛൻ സ്വതന്ത്രനാണെങ്കിൽ, പിള്ളേരെല്ലാം സ്വതന്ത്രന്മാർ തന്നെയായിരിക്കണം.</strong></li><br />
</ol><br />
ഉദാഹരണം : ലിനക്സ് ഓപ്പറേറ്റിങ്ങ് സിസ്റ്റം</p>
<p>ചുരുക്കി പറഞ്ഞാൽ, ഗ്നുവിന്റെ തത്വചിന്തയെ ഇങ്ങനെ വിശദീകരിക്കാം.<br />
<strong>"</strong><strong>ഞാൻ എങ്ങനെ നിങ്ങളുടെ സ്വാതന്ത്ര്യത്തെ വിലകൽപിച്ചുവോ അപ്രകാരം നിങ്ങൾ മറ്റുള്ളവരുടേയും സ്വാതന്ത്ര്യത്തെ വിലകൽപിക്കുക"</strong></p>
<p><strong>Apache License</strong></p>
<p><strong></strong>അടുത്തതായി, അപ്പാഷേ അനുമതിയെ കുറിച്ച് പറയാം. അപ്പാഷേ അനുമതി ഒരു പെർമ്മിസീവ്(permissive) സ്വതന്ത്ര അനുമതി ആണ്. ഒരു പ്രയോഗം പെർമ്മിസീവ് അനുമതിയിൽ ആണ് എന്ന് വച്ചാൽ, ആ പ്രയോഗത്തിൽ നിന്നും സൃഷ്ടിക്കുന്ന ഉത്ഭവസൃഷ്ടികൾ, വേറെ ഏത് അനുമതിയുടെ കീഴിലും ഇറക്കാം. അത് ഒരു ക്ലോസ്ഡ് സോഴ്സ് പോലുമാവാം. ഇതൊക്കെ ആണെങ്കിലും, അപ്പാഷെ അനുമതിയും ഒരു സ്വതന്ത്ര അനുമതി ആണു്. ഇതും, ഗ്നു പബ്ലിക് അനുമതിയും പരസ്പരം പൊരുത്തമുള്ളവ (Compatible) ആണു്. അപ്പാഷേ അനുമതിയിൽ ഇറക്കിയ ഒരു പ്രയോഗം, ജിപിഎൽ അനുമതിയിൽ ഇറക്കിയ ഒരു പ്രയോഗത്തിൽ ഉൾക്കൊള്ളിക്കാം. കാരണം, അപ്പാഷേ പറയുന്നത് വേണമെങ്കിൽ ഉത്ഭവസൃഷ്ടി ക്ലോസ്ഡ് സോഴ്സ് ആക്കാമെന്നാണു്. അങ്ങനെ അല്ലെങ്കിലും കുഴപ്പമൊന്നുമില്ല. ജിപി&zwnj;എലിൽ ഇറക്കിയാലും, അപ്പാഷേയുടെ നിബന്ധന ഒന്നും തെറ്റുന്നില്ല. പക്ഷേ തിരിച്ചു് പറ്റില്ല. കാരണം ജിപി&zwnj;എലിൽ ഇറക്കിയതിന്റെ ഉത്ഭവസൃഷ്ടികൾ അങ്ങനെ തന്നെ വേണമെന്നുണ്ട്. പക്ഷേ അതു് അപ്പാഷേയിൽ എത്തിയാൽ അങ്ങനെ വേണമെന്നില്ല. ഇതു് ജിപി&zwnj;എലിന്റെ നിബന്ധന തെറ്റിക്കും. അതിനാൽ ജി&zwnj;പി&zwnj;എലിൽ ഇറക്കിയതു് അപ്പാഷേയിൽ ഉപയോഗിക്കാൻ പറ്റില്ല. പെർമ്മിസീവ് അനുമതിയുടെ ഉത്ഭവസൃഷ്ടികൾ ക്ലോസ്ഡ് സോഴ്സിൽ ആക്കാൻ സാധിക്കും എന്നത് കൊണ്ട് തന്നെ, ഇത് കമ്പനികൾക്ക് പ്രിയപ്പെട്ടതാണ്. ഉദാഹരണം : ആൻഡ്രോയിഡ്</p>
<p><strong>അച്ഛൻ സ്വതന്ത്രനാണെങ്കിൽ തന്നെയും, പിള്ളേരെല്ലാം സ്വതന്ത്രന്മാർ തന്നെയായിരിക്കണമെന്നില്ല. അവർ ക്ലോസ്ഡ് സോഴ്സ് വരെ ആവാം.<br />
</strong></p>
<p><strong>GNU Lesser General Public License</strong></p>
<p>അടുത്തതായി, ഗ്നു പുറത്തിറക്കിയതും, എന്നാൽ GPLന്റെ അത്രയും കണിശക്കാരനല്ലാത്തതുമായ ഒരു അനുമതി ആണ്. ഈ അനുമതി, ഒരു സ്വതന്ത്ര പ്രയോഗത്തിനെ (തൽക്കാലം 'ക' എന്ന് വിളിക്കാം) , വേറൊരു സ്വതന്ത്രം/പ്രൊപ്രൈറ്ററി പ്രയോഗത്തിന്റെ (തൽക്കാലം 'ച' എന്ന് വിളിക്കാം) കൂടെ ലിങ്ക് ചെയ്യാൻ (ഒരു ലൈബ്രറി ആയി) അനുവദിക്കുന്നു. ഇങ്ങനെ അനുവദിക്കുന്നത് കൊണ്ട്, 'ച'  സ്വതന്ത്ര പ്രയോഗം ആക്കണമെന്നില്ല (അതൊരു ഉത്ഭവസൃഷ്ടി ആവരുത്. അങ്ങനെ ആണെങ്കിൽ, അത് സ്വതന്ത്രമായേ പറ്റൂ). ഇങ്ങനെ ഒരു പ്രൊപ്രൈറ്ററി പ്രയോഗത്തിന്റെ കൂടെ ഉള്ള ലിങ്കിങ്ങ് സമ്മതിക്കുന്നത് കൊണ്ട്, കണിശത കുറയുന്നു. അതിനാൽ Lesser എന്ന പേരും വന്നു. കൂടുതലും ലൈബ്രറികളാണ് (പുസ്തക ലൈബ്രറി അല്ല, ചില പ്രയോഗങ്ങളെ വിളിക്കുന്ന പേരാണ് ലൈബ്രറികൾ എന്ന്)ഈ അനുമതി ഉപയോഗിക്കുന്നത്.</p>
<p><b>GNU Affero General Public License</b></p>
<p>GNU GPL സ്റ്റാൻഡ് എലോൺ (ഒരേ സമയം ഒരു കമ്പ്യൂട്ടറിൽ മാത്രം പ്രവർത്തിക്കുന്നതു്) പ്രവർത്തനങ്ങൾ എന്താണോ, അത് തന്നെയാണ് GNU AGPL നെറ്റ്&zwnj;വർക്ക് അല്ലെങ്കിൽ വെബ് പ്രവർത്തനംസിന്. ഒരു വെബ് ആപ്പ്ലിക്കേഷന്റെ സോഴ്സ് കോഡ്, അത് ഉപയോഗിക്കുന്ന ഏതൊരു നെറ്റ് ഉപയോക്താവിനും ലഭ്യമാക്കണം എന്നാണ് ഇതിന്റെ നിയമം. എന്ന് വച്ചാൽ, ഇന്റർനെറ്റിൽ അല്ലെങ്കിൽ ലോക്കൽ നെറ്റ്&zwnj;വർക്കിൽ Affero GPLലുള്ള ഒരു പ്രയോഗം ഉപയോഗിച്ചിട്ടുണ്ടെങ്കിൽ, ആ പ്രയോഗത്തിന്റെ കോഡ് ആ നെറ്റ്&zwnj;വർക്കിലെ ഉപയോക്താക്കൾക്ക് പ്രാപ്യമായിരിക്കണം.  ബാക്കി എല്ലാം GNU GPL പോലെ തന്നെ.</p>
<p>ഉദാഹരണം : ലോഞ്ച്പാഡ്</p>
<p><strong>Creative Commons (ക്രിയേറ്റീവ് കോമൺസ്) കുടുംബം</strong></p>
<p>ക്രിയേറ്റീവ് കോമൺസ് അനുമതികൾ കൂടുതലായും കലാപരമായ/സാഹിത്യപരമായ സൃഷ്ടികൾക്കാണ് ഉപയോഗിക്കുന്നത്. ഒരു സൃഷ്ടി, പൊതുസഞ്ചയത്തിൽ ആക്കാനാണ് ഈ അനുമതികൾ ഉപയോഗിക്കുന്നത്. പ്രധാനമായും ഈ അനുമതിക്കു് 4 വിശേഷസ്വഭാവങ്ങൾ (Parameters) നിർദ്ദേശിക്കാം.</p>
<ol>
<li>BY - കടപ്പാട് നിർബന്ധം</li>
<li>NC - Non Commercial -  വാണിജ്യപരമായ ഉപയോഗത്തിന് എടുക്കാൻ പാടില്ല</li>
<li>ND- Non Derivative - ഉത്ഭവസൃഷ്ടി ഉണ്ടാക്കാൻ പാടില്ല. കിട്ടിയത് പോലെ ഉപയോഗിച്ചോണം</li>
<li>SA - Share Alike - ഏത് അനുമതിയിലാണോ കിട്ടിയത്, അതുപോലെ തന്നെ പുറത്തിറക്കണം</li><br />
</ol><br />
ഈ നാലെണ്ണത്തിന്റെ, വിവിധ സംയുക്തങ്ങൾ കൊണ്ട്, 6 അനുമതികൾ നിർവചിച്ചിട്ടുണ്ട്.</p>
<ol>
<li>CC BY - സൃഷ്ടിയിൽ എന്ത് മാറ്റം വേണമെങ്കിലും വരുത്തി പുറത്തിറക്കാം, പക്ഷേ യഥാർത്ഥ രചയിതാവിന് കടപ്പാട് വെക്കണം</li>
<li>CC BY- SA - സൃഷ്ടിയിൽ എന്ത് മാറ്റം വേണമെങ്കിലും വരുത്തി പുറത്തിറക്കാം, പക്ഷേ യഥാർത്ഥ രചയിതാവിന് കടപ്പാട് വെക്കണം. കൂടാതെ ഉത്ഭവസൃഷ്ടിയും ഇതേ അനുമതി ഉപയോഗിച്ചേ മതിയാവൂ. വിക്കിപീഡിയ, വിക്കിഗ്രന്ഥശാല മുതലായ സംരംഭങ്ങൾ ഈ അനുമതി ആണ് ഉപയോഗിക്കുന്നത്.</li>
<li>CC BY-ND - സൃഷ്ടിയിൽ നിന്ന് മാറ്റം ഒന്നും വരുത്താതെയും, യഥാർത്ഥ രചയിതാവിന് കടപ്പാട് വച്ചുകൊണ്ടുമുള്ള പങ്കുവെയ്ക്കൽ സമ്മതിക്കുന്നു.</li>
<li>CC BY-NC - സൃഷ്ടി വാണിജ്യപരമായ ആവശ്യത്തിനൊഴിച്ച് മറ്റേതു ആവശ്യത്തിനും ഉപയോഗിക്കാം, (പങ്കുവെയ്ക്കാം, മാറ്റം വരുത്താം,പുനർനിർമ്മിക്കാം). യഥാർത്ഥ രചയിതാവിന് കടപ്പാട് വെയ്ക്കണം. പക്ഷേ, ഉത്ഭവസൃഷ്ടി ഇതേ അനുമതി ഉപയോഗിക്കണമെന്നില്ല.</li>
<li>CC BY-NC-SA - സൃഷ്ടി വാണിജ്യപരമായ ആവശ്യത്തിനൊഴിച്ച് മറ്റേതു ആവശ്യത്തിനും ഉപയോഗിക്കാം, (പങ്കുവെയ്ക്കാം, മാറ്റം വരുത്താം,പുനർനിർമ്മിക്കാം). യഥാർത്ഥ രചയിതാവിന് കടപ്പാട് വെയ്ക്കണം. കൂടാതെ ഉത്ഭവസൃഷ്ടി ഇതേ അനുമതി ഉപയോഗിച്ചേ മതിയാവൂ.</li>
<li>CC BY-NC-ND - ഏറ്റവും കണിശമായ ഒരു അനുമതി ആണിത്. സൃഷ്ടി ഉപയോഗിക്കാം, പങ്കുവെയ്ക്കാം. പക്ഷേ അതിൽ മാറ്റം വരുത്താൻ പാടില്ല, വാണിജ്യപരമായ ആവശ്യത്തിന് ഉപയോഗിച്ചു കൂട. ഇതിനൊക്കെ പുറമേ യഥാർത്ഥ രചയിതാവിന് കടപ്പാടും വെയ്ക്കണം.</li><br />
</ol><br />
<strong>GNU</strong> <strong>Free Documentation License (ഗ്നു സ്വതന്ത്ര ഡോക്യുമെന്റേഷൻ അനുമതി)</strong></p>
<p>ക്രിയേറ്റീവ് കോമൺസ് പോലെ ഈ അനുമതിയും കലാപരമായ/സാഹിത്യപരമായ സൃഷ്ടികൾക്ക് ഉള്ളതാണ്. എന്നാൽ, ഈ അനുമതി താഴെ പറയുന്ന നിബന്ധനകൾ അനുസരിച്ച് മാത്രം ഉപയോഗിക്കേണ്ടതാണ്</p>
<ol>
<li>സൃഷ്ടിയുടെ മുൻകാല രചയിതാക്കൾക്ക് എല്ലാവർക്കും കടപ്പാട് കൊടുക്കണം</li>
<li>സൃഷ്ടിയിൽ വരുത്തുന്ന എല്ലാ മാറ്റവും രേഖപ്പെടുത്തണം</li>
<li>സൃഷ്ടിയുടെ എല്ലാ ഉത്ഭവസൃഷ്ടികളും ഇതേ അനുമതിയിൽ ആയിരിക്കണം</li>
<li>ഒറിജിനൽ സൃഷ്ടിയുടെ അനുമതിയുടെ പൂർണ്ണരൂപം, ഉപയോക്താവ് മാറ്റരുതെന്ന് നിർദ്ദേശ്ശിച്ചിട്ടുള്ള ഭാഗങ്ങൾ, വാറന്റി എന്നിവ ഉത്ഭവസൃഷ്ടികളിലും സംരക്ഷിക്കണം.</li>
<li>സാങ്കേതികപരമായ ഒരു രീതിയിൽ കൂടിയും സൃഷ്ടിയുടെ സ്വതന്ത്രമായ പങ്കുവെയ്ക്കൽ തടസ്സപ്പെടുത്താൻ പാടില്ല.</li><br />
</ol><br />
സൃഷ്ടി സ്വതന്ത്രമായി ഉപയോഗിക്കാം, മാറ്റം വരുത്തം, വാണിജ്യപരമായ ആയോ അല്ലാതെയോ പങ്കുവെയ്ക്കാം. എന്നാൽ, വാണിജ്യപരമായ ആയി പങ്കു വെയ്ക്കുമ്പോൾ കോപ്പികളുടെ എണ്ണം 100ൽ കൂടുതൽ ആണെങ്കിൽ, യഥാർത്ഥ കൃതി/സോഴ്സ് കോഡ് കൂടി ഉപയോക്താവിന് ലഭ്യമാക്കണം. ഈ അനുമതി വാണിജ്യപരമായ ഉപയോഗത്തെ മുന്നിൽ കണ്ടുകൊണ്ടുള്ളതാണ്. ഒരു പ്രസാധകന്, ഒരു കൃതി, യാതൊരു ബാധ്യതയും (പണത്തിന്റെ കാര്യത്തിൽ അല്ല, അനുമതിയുടെ കാര്യത്തിൽ) കൂടാതെ പ്രസിധീകരിക്കാൻ സാധിക്കുന്നു.</p>
<p>എന്നിരുന്നാലും, GFDL ഒരു സ്വതന്ത്ര അനുമതി അല്ലെന്ന് വാദിക്കുന്നവരും ഉണ്ട്. അവർ ഉന്നയിക്കുന്ന വാദങ്ങൾ ഇവയാണ്.</p>
<ol>
<li>മുകളിൽ പറഞ്ഞിരിക്കുന്ന നിബന്ധനകളിൽ നാലാമത്തേത്, ഉപയോക്താക്കളുടെ "മാറ്റം വരുത്താൻ" ഉള്ള അവകാശത്തിനുമേൽ യഥാർത്ഥ സൃഷ്ടാവിന് കടന്നു കയറാൻ അനുവാദം കൊടുക്കുന്നു. ഇത് സ്വാതന്ത്ര്യത്തിനെതിരാണ്.</li>
<li>മുകളിൽ പറഞ്ഞിരിക്കുന്ന നിബന്ധനകളിൽ അഞ്ചാമത്തേത്, മാറ്റം വരുത്തിയ സ്വകാര്യ കോപ്പികൾ സൂക്ഷിക്കുന്നതിനു വരെ വിരുദ്ധമായേക്കാം. ഇതും സ്വാതന്ത്ര്യത്തിനെതിരാണ്.</li><br />
</ol><br />
സ്വതന്ത്ര അനുമതികളിൽ പ്രമുഖമായവയെ നമ്മൾ പരിചയപ്പെട്ടു കഴിഞ്ഞു. എന്നാൽ കഴിയുന്ന രീതിയിൽ വിശദീകരിക്കാൻ ഞാൻ ശ്രമിച്ചിട്ടുണ്ട്. ഏതെങ്കിലും അനുമതിയെ വിട്ടുപോയിട്ടുണ്ടെങ്കിൽ ക്ഷമിക്കുക. അഭിപ്രായങ്ങൾ അറിയിക്കാൻ മറക്കരുത്. ഈമെയിൽ വിലാസം : c.balasankar@gmail.com</p>
<p><strong>പദസൂചിക</strong><br />
അനുമതി - License<br />
ഉത്ഭവസൃഷ്ടി - Derivative Work<br />
വാണിജ്യപരമായ - Commercial<br />
സംയുക്തം - Combination</p>
<p>കടപ്പാട് : അഖിൽ കൃഷ്ണൻ എസ്, വിക്കിപീഡിയ, ക്രിയേറ്റീവ് കോമൺസ് വെബ്സൈറ്റ്, ഫ്രീ പ്രയോഗം ഫൗണ്ടേഷൻ വെബ്സൈറ്റ്.</p>
