---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: "സർവം മഗ്ര മയം..."
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 317
wordpress_url: http://balasankarc.comule.com/?p=317
date: '2013-03-20 15:54:58 -0400'
date_gmt: '2013-03-20 10:24:58 -0400'
categories:

tags: []
comments: []
---
<p>ഹല!!,<br />
ഇന്നലെ മുതൽ ഫേസ്ബുക്ക് മുതൽ മഗ്രയോട് മഗ്ര... കൂട്ടത്തിൽ എന്റെ വകയും കിടക്കട്ടെ എന്ന് കരുതി ഞാനും ഇട്ടു രണ്ടുമൂന്നെണ്ണം..<br />
ഇനി ഈ മഗ്ര എന്താണെന്നല്ലേ,<br />
ഫേസ്ബുക്കിലൊക്കെ നല്ല പൊളപ്പൻ ഇംഗ്ലീഷ് വാക്യങ്ങളോട് കൂടിയ കവർ ഫോട്ടോകൾ കാണുമ്പോൾ ആഗ്രഹിക്കാറില്ലേ, ഇങ്ങനത്തെ ഐറ്റം നമ്മടെ മലയാളത്തിലും ഉണ്ടായിരുന്നെങ്കിൽ എന്ന്?? (ഞാൻ കൊതിക്കാറുണ്ടായിരുന്നു)...<br />
ആ കൊതിക്കൊരു ഉത്തരമാണ് മഗ്ര...<br />
മഗ്ര = മലയാളം + ഗ്രാഫിക്സ് + കാലിഗ്രാഫി...</p>
<p>ഓറിയോൺ, ഹിരൺ എന്നീ രണ്ട് ചങ്ങായിമാരാണ് ഈ ചടങ്ങ് തുടങ്ങി വച്ചത്.... ഇന്നലെ ഒരു ഫേസ്ബുക്ക് പേജ് തുടങ്ങി (<a href="https://www.facebook.com/malayaleegraphy">ഇതാ</a>)... പിന്നങ്ങോട്ട് പൊടിപാറ്റണ ആക്ടിവിറ്റിയായിരുന്നു... പോസ്റ്റോട് പോസ്റ്റ്... കവർഫോട്ടോയോട് കവർഫോട്ടോ.... പേജിന്റെ ലൈക്കുകൾ റോക്കറ്റ്പോലെ മേപ്പോട്ട്...</p>
<p>ഈ പേജില്ലെ വിക്രിയകൾ കണ്ടപ്പോൾ, കഴിവുള്ള മറ്റുപലരും (എന്നെ പോലെ കഴിവില്ലാത്തവരും) കവർഫോട്ടോകൾ ഉണ്ടാക്കാൻ തുടങ്ങി... പിന്നെ ഒരു പ്രളയമായിരുന്നു...</p>
<p>എന്തായാലും സൈബർ ലോകത്ത് മലയാളം വളരുക തന്നെയാണ്... ഈ സംരംഭത്തിന്, ഒരായിരം നന്ദി ഹിരൺ, ഓറിയോൺ...</p>
<p>PS: എല്ലാരും പോയി ആ ഫേസ്ബുക്ക് പേജ് ഒന്ന് കാണൂ... എന്നിട്ട് ഇഷ്ടപ്പെട്ടാൽ ഒന്ന് ലൈക്ക് ചെയ്യൂ...</p>
<p>ചില സാമ്പിളുകൾ</p>
<p>[nggallery id=3]</p>
