---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Diaspora v0.1.0.0
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 355
wordpress_url: http://balasankarc.comule.com/?p=355
date: '2013-05-21 22:20:31 -0400'
date_gmt: '2013-05-21 16:50:31 -0400'
categories:

tags: []
comments: []
---
<p>Ahoy,<br />
It is a fscinating news to those in the FOSS world that their favourite open source social networking platform - DIASPORA has released its new version - v0.1.0.0 ( I ask the creators, the hell dudes?? why not v1.0.0.0. Why a preceding 0?? ). This one is a toast to the tongue as it comes with a brand new set of cool and amazing features and I plan to share (good artists copy, great artists steal) those features here.</p>
<h2><strong><strong>Feature #1 - Photo upload from mobile</strong></strong></h2><br />
With the release of Diaspora v0.1.0.0, it's possible to upload photos to your stream from mobile devices.<br />
<img alt="Photo Upload" src="http://www.burganteam.fr/autres/diaspora/upload-mobile.png" /></p>
<h2><strong><strong>Feature #2 - <strong>Post preview</strong><br />
</strong></strong></h2><br />
&nbsp;<img src="http://www.burganteam.fr/autres/diaspora/preview.png" alt="Post Preview" /><br />
This might be one of the most long-awaited features in Diaspora history!</p>
<p>You can now preview your posts before committing them to the stream. No more frustration from those silly spelling mistakes!</p>
<p>(TO BE CONTINUED)</p>
<p>Attribution : Diaspora HQ Stream</p>
