---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: FOSSMeet
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 218
wordpress_url: http://balasankarc.comule.com/?p=218
date: '2013-03-17 12:22:24 -0400'
date_gmt: '2013-03-17 06:52:24 -0400'
categories:

tags:
- smc
- localisation
- foss
- pirate
comments:
- id: 10
  author: Nandaja
  author_email: nandaja.varma@gmail.com
  author_url: http://nandajavarma.wordpress.com/
  date: '2013-03-17 13:41:27 -0400'
  date_gmt: '2013-03-17 08:11:27 -0400'
  content: 'Missed your session on wikisource. :-( Someother time, hopefully. :-)
    And you could attend more sessions than me. #jealous :P'
- id: 11
  author: Hrishi|StultuS
  author_email: hrishi.kb@gmail.com
  author_url: http://stultus.in
  date: '2013-03-17 13:43:34 -0400'
  date_gmt: '2013-03-17 08:13:34 -0400'
  content: ":)"
- id: 12
  author: Akshay
  author_email: akshayramesh92@gmail.com
  author_url: ''
  date: '2013-03-22 19:30:21 -0400'
  date_gmt: '2013-03-22 14:00:21 -0400'
  content: Nice one !! FOSSMEET was really a good one !! To realise that what the
    outer world wants !! Looking forward for such programmes :)
---
<p style="text-align: justify;">Howdy all,<br />
Its already late to mention about the first FOSS event I attended, which was FOSSMeet at NIT-C (Feb 22- 24). Saw the brochure of the event @ FB and decided to attend it anyway. One of my friend, Akshay was also interested and we decided to go together. When I told my bro about the event, he also showed interest and agreed to join us. Later one of his students, Amal also joined us. And just the day before the event, I was informed I had to take a session on "Introduction of Wikisource" as part of the SMC Session. And I became nervous ofcourse. Made a presentation somehow. So, at 22nd morning we all left to NIT (by car). Reached there by 4.30 and the registration was not still open. We waited in the college ground and premises for sometime and later successfully completed our registration. I saw Praveen roaming through the premises but due to tiredness decided to meet him later. THen I found Akhilan. Along with him, I met Shirish, Pavithran and Anish. I really was exceted about meeting them for the first time AFK (not Akhilan, I met him @ Wiki event). Anish gave me my SMC T-Shirt After registration, we had a formal inauguration ceremony by Sasikumar sir, an active FOSSian. Later, he presented a talk on FOSS which was extremely informative. We all then went to the MiniDebConf which was also happening simultaneously. A presentation about FreedomBox was going on, and Praveen was really killing Abhishek (Sorry, praveen :) ), well in a constructive manner. He asked the questions that a common man would ask when told about freedombox. Then we had a discussion about Pirate Party of India and Jackson joined us. Me, Praveen, Shirish, Pavithran, Anish and Akhian sat there till midnight and then went to have tea ( ;) )... Then we seperated for sleep and I went back to my travel-mates. Our stay was arranged in the hostel common rooms and the organisers provided us beds and pillows. It was a peaceful sleep.</p></p>
<p style="text-align: justify;">The next day, we woke up at 6.00 and got ready and left for the events by 9.30. We had food and we went for a session on Scala programming by Pramode Sir. I have seen him earlier when he came to our college to conduct a workshop on Python. His session was interesting and we were acquainted with Scala. Then we left for lunch. During lunch, I found out many SMC guys (and gals) whom I was longing to meet. Ani chechi, Jishnu, Sadik, Hrishi etc and I met George. Along with them I also saw Nandaja whom I knew from Diaspora packaging IRC chats. It was nice to meet all of them. Then we left for our SMC session. For the session, the strength of audience was not much. First Sadik gave an introduction about the activities of SMC. Then Anish gave a talk about GNOME Localisation which was followed by Ani chechi's talk about all other localisations like KDE, Firefox etc. Hrishi introduced Diaspora and its localistaion which was followed by Akhilan's intro to wikipedia and my talk on Wikisource. After the session we went to the MiniDebConf where we sat around and chat. That night Hiran arrived and we all talked for long. Then we went to have food. (Anish, remember fruit beer??? ) After that we discussed a little about Pirate Party. Nandaja had left early as she had to go to her relatives' home. Her session has been postponed (again!!). We decided to atted that session and then went to sleep.</p></p>
<p style="text-align: justify;">Its the last day of FOSSMeet and we rose up a little late. I went to MiniDebConf and my companions went somewhere else (I don't remember, sorry). There was only a small audience to Nandaja's session as there were many other sessions happening simultaneously. Then we decided we will conduct that session after all other sessions (by the time, she gave aprivate tuition to a girl who came to attend the session). Hiran's session was going to begin and we decided to attend that and went there. It was an awsome session and was followed by a talk on FOSS. That day, I met Dhananjay and Jaseem and was impressed by there personalities. After lunch we roamed around for some time. As I had to go to my relatives' home, we left early after getting our participation certificates.</p></p>
<p style="text-align: justify;">It was a great experience spending time with similar-minded-geeks and techies and I really was sad to leave. Though half-heartedly, I bid farewell and left the campus by 4.00.</p></p>
<p style="text-align: justify;">View Photos <a title="Photos" href="http://balasankarc.comule.com/photos">Here</a></p></p>
<p style="text-align: justify;">PS : This happened some time back and I really don't remember the details. My apologies if I have missed anyone.</p></p>
