---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Rooting and Installing Malayalam Font in Micromax Canvas 2 A110 with Official
  Jelly Bean ROM
author:

  display_name: Balasankar C
  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 434
wordpress_url: http://balasankarc.in/tech/?p=434
date: '2013-07-24 01:20:07 -0400'
date_gmt: '2013-07-23 19:50:07 -0400'
categories:

tags: []
comments:
- id: 79
  author: Anil pk
  author_email: pkanil4u@gmail.com
  author_url: ''
  date: '2013-09-23 02:52:43 -0400'
  date_gmt: '2013-09-22 21:22:43 -0400'
  content: "sir,\r\n      Please tell me how to transfer the files (system_fonts.xml
    &amp; fallback_fonts.xml to the folder (system/fonts).I rooted my A110 running
    on jellybean.but still no malayalam on it.please help me.my mail id   pkanil4u@gmail.com.
    Thanks in advance."
- id: 248
  author: Dharmendra Rana
  author_email: dharmendra_rana20@yahoo.com
  author_url: ''
  date: '2013-11-18 08:38:56 -0500'
  date_gmt: '2013-11-18 03:08:56 -0500'
  content: "I wish to install Gujarati n Hindi font in phone(micromax A75)\r\nI have
    the font file but when I m going to main font folder to paste its shows that its
    not rewritable request u please help on it."
- id: 387
  author: PRASANTH KUMAR
  author_email: prasanth7vups@gmail.com
  author_url: ''
  date: '2013-12-11 14:41:10 -0500'
  date_gmt: '2013-12-11 09:11:10 -0500'
  content: "How can I  type malayalam  font in my canvas 2  A100\r\npls say details.
    \ I expect A to Z details of it."
- id: 402
  author: admin
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-12-14 13:56:07 -0500'
  date_gmt: '2013-12-14 08:26:07 -0500'
  content: Do you have root permissions?
- id: 403
  author: admin
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-12-14 13:57:50 -0500'
  date_gmt: '2013-12-14 08:27:50 -0500'
  content: |-
    For typing, you can either use https://play.google.com/store/apps/details?id=in.androidtweak.inputmethod.indic&hl=en or https://play.google.com/store/apps/details?id=com.jeesmon.apps.varamozhi&hl=en

    Install the app, go to settings->language and input-> activate the keyboard->when typing, select the keyboards installed and type.
- id: 33205
  author: Sudeep
  author_email: sudeep.net@live.com
  author_url: ''
  date: '2014-12-23 01:30:54 -0500'
  date_gmt: '2014-12-22 20:00:54 -0500'
  content: A116 also I am facing same issue... anyone have solution
- id: 38977
  author: vishnu e.g
  author_email: vishnueg75@gmail.com
  author_url: ''
  date: '2015-01-25 21:35:58 -0500'
  date_gmt: '2015-01-25 16:05:58 -0500'
  content: How can I root using windows 7
- id: 43820
  author: shambu
  author_email: shambhuskumar@gmail.com
  author_url: ''
  date: '2016-03-07 01:36:50 -0500'
  date_gmt: '2016-03-06 20:06:50 -0500'
  content: but in whatsapp the font is not fit on the screen.... it overflows.....
---
<p>Hi all,<br />
I was disappointed to find that my new Micromax Canvas 2 A110 (then having Android ICS) was not supporting Malayalam. Then I heard the good news, Micromax released Jelly Bean update for it. Hoping that it would satisfy my need, I rushed to the service centre and upgraded my phone to Jelly Bean. DAMN!!, still no Malayalam. I was afraid to root my phone, because it will void my warranty. Then, out of desperate need, I decided to root. Here are the steps I followed. Before proceeding, read this twice - <strong>ROOTING WILL VOID YOUR WARRANTY. I AM NOT RESPONSIBLE FOR ANY DAMAGE OCCURRED TO YOUR DEVICE DUE TO ROOTING.</strong></p>
<p>I have used Windows XP.</p>
<ol>
<li>Get the drivers from here - <a href="http://www.micromaxinfo.com/download.ashx?section=mobile-A110&amp;file=A110-Drivers.rar">http://www.micromaxinfo.com/download.ashx?section=mobile-A110&amp;file=A110-Drivers.rar</a> and install it.</li>
<li>Download ClockWorkMode Recovery image from here - <a href="http://www.mediafire.com/download.php?aak733itivap95w">http://www.mediafire.com/download.php?aak733itivap95w</a> and rename it to <strong>recovery.img</strong></li>
<li>Download Flash Tools from here - <a href="http://d-h.st/t5c">http://d-h.st/t5c</a></li>
<li>Extract Flash_Tools.rar</li>
<li>Go to the folder named <strong>SP_Flash_Tool_v3.1220.01</strong> and run <strong>Flash_tool.exe</strong></li>
<li>Click the button <strong>Scatter Loading. </strong>In the<strong> </strong>dialog box appeared, select the file named <strong>MT6577_Android_scatter_emmc.txt </strong>which is present inside the directory <strong>scatter file </strong>under the folder you just extracted.</li>
<li>Uncheck all other options except <strong>RECOVERY</strong></li>
<li><strong></strong>Click on the checkbox <strong>RECOVERY. </strong>A dialog window will open. Select the previously downloaded and renamed <strong>recovery.img</strong></li>
<li>Power off your phone and connect it to your PC. If a prompt appears for installing drivers, do it.</li>
<li>Remove your phone from PC. Remove the battery from the phone.</li>
<li>Click on the button named <strong>Download</strong>.</li>
<li>Connect your phone (with battery removed). If a prompt appears (again) for installing drivers, do it.</li>
<li>A green circle will appear showing the status of download. If download OK appears, remove your phone.</li>
<li>Let out a deep breath and say Hurray, you have installed ClockWorkMode on your phone. Now you can proceed to rooting. (Yes, we haven;t yet started it... )</li>
<li>Download Super User Binaries from here - <a href="http://download.chainfire.eu/310/SuperSU-v1.04.zip">http://download.chainfire.eu/310/SuperSU-v1.04.zip</a></li>
<li>DO NOT UNZIP THEM</li>
<li>Copy them to the root directory of your SD Card (of course after powering on your phone)</li>
<li>Power off your phone.</li>
<li>Press the Volume UP + Volume DOWN + Power buttons simultaneously to boot your phone.</li>
<li>Select Recovery Mode using the Volume UP and DOWN Buttons. (Touch won't work)</li>
<li>You'll reach CWM Menu. Here also touch won;t work. UP/DOWN for navigation and Power for selecting</li>
<li>Select the option <strong>Install zip from SD Card </strong>and select the .zip file you have moved to the root directory</li>
<li>If you see <strong>Installation complete, </strong>let out another deep breath.</li>
<li>Reboot your phone (normally, without pressing Volume Buttons) and have your fingers crossed.</li>
<li>If your phone boots fine, jump, dance and scream like hell as you have now successfully rooted your phone.</li><br />
</ol><br />
<strong>Now installing Malayalam fonts.</strong></p>
<ol>
<li>Install <strong>ES File Explorer</strong> from Google Play Store</li>
<li>Open it and click settings</li>
<li>Select <strong>Root Explorer. </strong>It will ask for Super User permissions, grant them.</li>
<li>On the navigation pane, click the <strong>/</strong> button to go to the root directory.</li>
<li>Go to <strong>system/etc/</strong> and take backups of the files&nbsp;<strong>system_fonts.xml &amp; fallback_fonts.xml </strong>to somewhere safe.</li>
<li>Download this file - <a href="http://goo.gl/mPx8u">http://goo.gl/mPx8u</a> and unzip it.</li>
<li>Copy the files <strong>system_fonts.xml &amp; fallback_fonts.xml</strong> from the extracted folder to <strong>system/etc</strong> and replace the existing files</li>
<li>Copy the file <strong>Kaumudi-Sans.ttf</strong> file to <strong>system/fonts</strong> folder.</li>
<li>Reboot your phone and again keep your fingers crossed.</li>
<li>Check if you can read malayalam. If yes, say HURRAY!!!</li><br />
</ol><br />
Courtesy : Some websites. Sorry guys, I don;t remember the address.</p>
