---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Free and Open Source Software (FOSS)
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 390
wordpress_url: http://balasankarc.comule.com/?p=390
date: '2013-06-10 17:00:27 -0400'
date_gmt: '2013-06-10 11:30:27 -0400'
categories:

tags:
- foss
- fsf
- freedom
- opensource
comments:
- id: 16
  author: "അഖിലൻ"
  author_email: mail@akhilan.in
  author_url: http://akhilan.in
  date: '2013-06-10 21:03:44 -0400'
  date_gmt: '2013-06-10 15:33:44 -0400'
  content: "ഇതിപ്പോൾ പറഞ്ഞു വന്നിരിക്കണു് ഓപൺ സോഴ്സ്&zwnj; = സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ?\nസ്റ്റാൾമാൻ
    മാഷ്&zwnj; കേക്കണ്ട ട്ടോ. \nആൻഡ്രോയ്ഡ്&zwnj; ഓപൺ സോഴ്സ്&zwnj; ആണു് പക്ഷേ സ്വതന്ത്രമല്ല.
    (അപാഷേ അനുമതിയുടെ കൊണം) അതിന്റെ നിർമ്മിതിയുടെ ഒരു സമയത്തു പോലും സോഴ്സ്&zwnj; പുറത്തു
    വിടുന്നില്ല. എല്ലാം കഴിഞ്ഞ്&zwnj; ഒരു പതിപ്പ്&zwnj; പുത്തിങ്ങിയിട്ടേ അതിന്റെ സോഴ്സ്&zwnj;
    കിട്ടൂ. ഐസ്ക്രീമിന്റെ സോഴ്സ്&zwnj; അത്&zwnj; പുറത്തിങ്ങിയിട്ടും ലഭ്യമായിരുന്നില്ല.
    പിന്നെ ജെല്ലിബീൻ ഇറങ്ങിയിട്ടാണു് കിട്ടിയതു്. \nഇതും ഒന്ന് വായിച്ചു നോക്കൂ\n\ntechcrunch.com/2013/04/06/where-the-free-software-movement-went-wrong-and-how-to-fix-it/"
- id: 19
  author: Aboobacker MK
  author_email: aboobackervyd@gmail.com
  author_url: http://www.tachyons.tk
  date: '2013-06-16 20:01:34 -0400'
  date_gmt: '2013-06-16 14:31:34 -0400'
  content: "1. Free software is an ideology which talks about ethics and freedom but
    open source is a development approch in which source code is public\r\n\r\n2.
    They are entirly diffrent approches, but practically free software and opensource
    softwares are almost same because source code of a free software must be published\r\n\r\n3.MIT
    license is also allow hiding source code of fork\r\n\r\n4 . GPL is not unique
    free software license\r\n\r\n5. LGPL allow the free software code to use in closed
    source s/w"
- id: 20
  author: Aboobacker MK
  author_email: aboobackervyd@gmail.com
  author_url: http://www.tachyons.tk
  date: '2013-06-16 20:04:21 -0400'
  date_gmt: '2013-06-16 14:34:21 -0400'
  content: GPL also allow the developers to hide source code during the development
    . And AFAIK android core is licensed in GPL
- id: 21
  author: admin
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-06-16 20:47:57 -0400'
  date_gmt: '2013-06-16 15:17:57 -0400'
  content: Isn't Android under Apache Software License?
- id: 22
  author: admin
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2013-06-16 20:49:14 -0400'
  date_gmt: '2013-06-16 15:19:14 -0400'
  content: Open source looses the idea of freedom. Open Source licenses allow derivatives
    to be converted to converted to closed source if wanted. GPL doesnot do that.
- id: 23
  author: Aboobacker MK
  author_email: aboobackervyd@gmail.com
  author_url: http://www.tachyons.tk
  date: '2013-06-16 21:38:21 -0400'
  date_gmt: '2013-06-16 16:08:21 -0400'
  content: "Open source is a developent approch in which source code is open so that
    it can be reused without re inventing the wheel . It reduce cost , increase the
    development speed, improve the quality etc . And since it is a developement approch
    the concept of freedom and ethics is not included in it . \r\n\r\nBut free software
    is a users perspective . Ie that they belive that a software should provide 4
    freedoms, else it is not ethical \r\n\r\n\r\nIf a software gives the above mentioned
    freedom, but also gives the freedom to close the source code of the fork, how
    can you say that it is not a free software?"
- id: 24
  author: Aboobacker MK
  author_email: aboobackervyd@gmail.com
  author_url: http://www.tachyons.tk
  date: '2013-06-16 21:47:31 -0400'
  date_gmt: '2013-06-16 16:17:31 -0400'
  content: Yes, android except it's kernal is licensed under apache license . Apache
    is not a copyleft license, but still it is a free software license approved by
    free software foundation
---
<p style="text-align: justify;">നമസ്കാരം,<br />
എന്റെ കൂട്ടുകാരിൽ ചിലരെങ്കിലും ഞാൻ മുട്ടിന് മുട്ടിന് Open Source എന്ന് വിളിച്ചു പറഞ്ഞോണ്ട് നടക്കുന്നത് കണ്ടിട്ടുണ്ടാവും. എന്താണ് ഈ ഓപ്പൺ സോഴ്സ് എന്ന് എന്നെക്കൊണ്ട് പറ്റുന്ന രീതിയിൽ പറയാം.</p></p>
<h4 style="text-align: justify;">പ്രൊപ്രൈറ്ററി സോഫ്റ്റ്&zwnj;വെയർ</h4></p>
<p style="text-align: justify;">സാധാരണ രീതിയിൽ നിങ്ങൾ ഒരു സോഫ്റ്റ്&zwnj;വെയർ വാങ്ങുകയാണെങ്കിൽ, നിങ്ങൾക്ക് അത് ഉപയോഗിക്കാനുള്ള അവകാശം മാത്രമേ ലഭിക്കൂ. അതിന്റെ പ്രവർത്തനം എങ്ങനെ ആണെന്ന് പഠിക്കാനോ, അല്ലെങ്കിൽ അത് മറ്റൊരാളുമായി പങ്കുവെയ്ക്കുവാനോ സാധിക്കില്ല. നിയമവിരുദ്ധമായി അത് പങ്കുവെച്ചാൽ, നിങ്ങൾക്കെതിരെ നിയമനടപടികൾക്ക് പോവാൻ ആ സോഫ്റ്റ്&zwnj;വെയർ ഇറക്കിയ കമ്പനിക്ക് അവകാശമുണ്ട്. ഇത്തരം സോഫ്റ്റ്&zwnj;വെയറുകളുടെ പ്രശ്നങ്ങൾ പറഞ്ഞുകൊണ്ട് തന്നെ തുടങ്ങാം ആദ്യം</p></p>
<ol style="text-align: justify;">
<li>ഈ സോഫ്റ്റ്&zwnj;വെയറുകൾ നിങ്ങൾക്ക് ഉപയോഗിക്കാൻ മാത്രമേ സാധിക്കൂ. പങ്ക് വെയ്ക്കാൻ സാധിക്കില്ല</li>
<li>ഈ സോഫ്റ്റ്&zwnj;വെയറുകളുടെ സോഴ്സ് കോഡ് നിങ്ങൾക്ക് ലഭിക്കില്ല. അതിനാൽ തന്നെ അവയുടെ പ്രവർത്തനം എങ്ങനെ എന്ന് അറിയാൻ സാധിക്കില്ല. അതിനാൽ തന്നെ സോഫ്റ്റ്&zwnj;വെയർ നിങ്ങളുടെ വിവരങ്ങൾ ചോർത്തുന്നുണ്ടോ എന്ന് നിങ്ങൾക്ക് അറിയാൻ സാധിക്കില്ല. ഉദാഹരണത്തിന് (ഉദാഹരണം മാത്രമാണ്), നിങ്ങൾ നിങ്ങളുടെ മൈക്രോസോഫ്റ്റ് ഓഫീസ് വേർഡിൽ അടിക്കുന്ന കാര്യങ്ങൾ, ആ സോഫ്റ്റ്&zwnj;വെയർ നിങ്ങൾ അറിയാതെ തന്നെ ബിൽ ഗേറ്റ്സിന് അയച്ചു കൊടുക്കുന്നുണ്ടെങ്കിൽ, നിങ്ങൾക്ക് അത് അറിയാൻ ഒരു വഴിയും ഇല്ല. നിങ്ങൾ മൈക്രോസോഫ്റ്റ് ഓഫീസ് വേർഡിൽ നിങ്ങളുടെ പാസ്&zwnj;വേർഡ്/ബാങ്ക് അക്കൗണ്ട് നമ്പർ/പിൻകോഡ് എന്നിവ അടിക്കുന്നു എന്നിരിക്കട്ടെ. ഈ വിവരങ്ങൾ വേറൊരാൾക്ക് ലഭിച്ചാലുണ്ടാകുന്ന ഫലം ഞാൻ പറയാതെ തന്നെ അറിയാമല്ലോ.</li>
<li>ഈ സോഫ്റ്റ്&zwnj;വെയറുകൾ "ഞാൻ വില കൊടുത്തു വാങ്ങിയതിനു മേൽ എനിക്ക് പൂർണ്ണസ്വാതന്ത്ര്യം ഉണ്ട്" എന്ന മൗലികാവകാശത്തെ ലംഘിക്കുന്നു</li><br />
</ol></p>
<h4 style="text-align: justify;">സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ</h4></p>
<p style="text-align: justify;">മുകളിൽ പറഞ്ഞിരിക്കുന്ന പ്രശ്നങ്ങൾക്ക് ഒക്കെയുള്ള ഒരു പരിഹാരമാണ് Free and Open Source Software (FOSS).<br />
ശ്രദ്ധിക്കേണ്ട ഒരു കാര്യം ഇവിടെ <strong>Free</strong> എന്ന് വച്ചാൽ <strong>സൗജന്യം</strong> എന്നല്ല അർത്ഥം. <strong>സ്വതന്ത്രം</strong> എന്നാണ്. ഇത് വ്യക്തമാക്കാൻ വേണ്ടി ഒരു വാക്യം തന്നെയുണ്ട്.</p></p>
<p style="text-align: justify;"><strong>Free as in free speech, not as in free beer</strong></p></p>
<p style="text-align: justify;">ഓപ്പൺ സോഴ്സ് എന്നത് കൊണ്ട് സോഴ്സ് കോഡ് ലഭ്യമാക്കുന്നത് എന്നും അർത്ഥം. ഇവ രണ്ടും പരസ്പരപൂരകങ്ങളാണ്. അതുകൊണ്ട് തന്നെ, നമ്മൾ&nbsp;സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ എന്നതും, ഓപ്പൺസോഴ്സ് സോഫ്റ്റ്&zwnj;വെയർ എന്നതും ഒരേ കാര്യത്തെ തന്നെ സൂചിപ്പിക്കൻ ഉപയോഗിക്കുന്നു. (<strong>ഇത് പൂർണ്ണമായും ശരിയല്ല. സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറും ഓപ്പൺ സോഴ്സ് സോഫ്റ്റ്&zwnj;വെയറും തമ്മിൽ ഒരു വലിയ വ്യത്യാസം ഉണ്ട്. അതിനെ കുറിച്ച് അവസാനം പറയാം.</strong>)<br />
ഇനി, ഇവ തരുന്ന സ്വാതന്ത്രം ഏതൊക്കെ രീതിയിൽ ഉള്ളതാണെന്ന് നോക്കാം.</p></p>
<p style="text-align: justify;"><strong>സ്വാതന്ത്ര്യം 0</strong> : ഈ സോഫ്റ്റ്&zwnj;വെയർ എന്ത് ഉപയോഗത്തിനും പ്രവർത്തിപ്പിക്കുവാനുള്ള സ്വാതന്ത്ര്യം.</p></p>
<p style="text-align: justify;"><strong>സ്വാതന്ത്ര്യം 1</strong> :ഈ സോഫ്റ്റ്&zwnj;വെയർ എങ്ങനെ പ്രവർത്തിക്കുന്നു എന്നു പഠിക്കാനും, ആ പ്രവർത്തനും നിങ്ങളുടെ ആവശ്യത്തിന് അനുസരിച്ച് മാറ്റാനുമുള്ള സ്വാതന്ത്ര്യം. സോഴ്സ് കോഡ് ലഭ്യത എന്ന പ്രത്യേകത ഈ സ്വാതന്ത്ര്യത്തോട് ചേർന്നു നിൽക്കുന്നു.</p></p>
<p style="text-align: justify;"><strong>സ്വാതന്ത്ര്യം 2</strong> :ഈ സോഫ്റ്റ്&zwnj;വെയർ നിങ്ങളുടെ സുഹൃത്തുകളുമായി (വേണമെങ്കിൽ ശത്രുക്കളുമായും ) പങ്കുവെയ്ക്കാനുള്ള സ്വാതന്ത്ര്യം.</p></p>
<p style="text-align: justify;"><strong>സ്വാതന്ത്ര്യം 3</strong> :ഈ സോഫ്റ്റ്&zwnj;വെയറിൽ നിങ്ങൾ മാറ്റം വരുത്തിയെങ്കിൽ, അത് മറ്റുള്ളവരുമായി പങ്കുവെയ്ക്കാനുള്ള സ്വാതന്ത്ര്യം. അങ്ങനെ ചെയ്യുന്നത് വഴി നിങ്ങൾക്ക്, നിങ്ങളുടെ മാറ്റം സമൂഹത്തിന് ഉപകാരപ്രദമാക്കാൻ സാധിക്കും. സോഴ്സ് കോഡ് ലഭ്യത എന്ന പ്രത്യേകത ഈ സ്വാതന്ത്ര്യത്തോട് ചേർന്നു നിൽക്കുന്നു.</p></p>
<h4 style="text-align: justify;">അപ്പോൾ എനിക്ക് സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ കൊണ്ട് വരുമാനം ഉണ്ടാക്കാൻ സാധിക്കില്ലേ?</h4></p>
<p style="text-align: justify;">ഇതിന്റെയൊക്കെ അർത്ഥം നിങ്ങൾക്ക് നിങ്ങൾ കഷ്ടപ്പെട്ട് ഉണ്ടാക്കിയ/മാറ്റം വരുത്തിയ സോഫ്റ്റ്&zwnj;വെയർ വില മേടിച്ചുകൊണ്ട് വിൽക്കാൻ പാടില്ലെന്നല്ല. തീർച്ചയായും നിങ്ങൾക്ക് വില മേടിക്കാം. പക്ഷേ, മുകളിൽ പറഞ്ഞിരിക്കുന്ന വ്യവസ്ഥകൾ അംഗീകരിക്കണമെന്ന് മാത്രം. എന്നുവച്ചാൽ, മറ്റൊരാൾക്ക് ആ സോഫ്റ്റ്&zwnj;വെയർ മുകളിൽ പറഞ്ഞിരിക്കുന്ന സ്വാതന്ത്ര്യം അനുവദിക്കണമെന്ന് അർത്ഥം. (ഇത് എല്ലാ സ്ഥലത്തും ശരിയാവണമെന്നില്ല)</p></p>
<h4 style="text-align: justify;">എങ്ങനെ എന്റെ സോഫ്റ്റ്&zwnj;വെയർ സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ ആക്കാം?</h4></p>
<p style="text-align: justify;">ഇനി എങ്ങനെയാണ് ഒരു സോഫ്റ്റ്&zwnj;വെയർ സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ ആക്കുക എന്ന് നോക്കം.<br />
മേൽപ്പറഞ്ഞിരിക്കുന്ന സ്വാതന്ത്ര്യങ്ങൾ അനുവദിച്ചുകൊണ്ട് ഒരു സോഫ്റ്റ്&zwnj;വെയർ പുറത്തിറക്കാൻ വേണ്ടി, ഫ്രീ സോഫ്റ്റ്&zwnj;വെയർ ഫൗണ്ടേഷൻ (<a href="http://www.fsf.org">www.fsf.org</a>) എന്ന സംഘടന, ഒരു പുതിയ തരത്തിലുള്ള ലൈസൻസ് പ്രസിദ്ധീകരിച്ചിട്ടുണ്ട്. GNU Public License (GPL) എന്നാണ് ഇതിന്റെ പേര്. നിങ്ങളുടെ സോഫ്റ്റ്&zwnj;വെയർ സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ ആക്കണമെങ്കിൽ ആ സോഫ്റ്റ്&zwnj;വെയറിനെ പങ്കിടുന്ന കൂടെ, <a title="ഈ ലിങ്കിൽ" href="http://www.gnu.org/licenses/gpl-3.0.txt">ഈ ലിങ്കിൽ</a> കൊടുത്തിരിക്കുന്ന ഭാഗവും ചേർക്കണം. അത് ഒരു ടെക്സ്റ്റ് ഫയൽ ആയി പങ്കിട്ടാൽ മതിയാവും. അങ്ങനെ ചെയ്യുന്ന വഴി, നിങ്ങളുടെ സോഫ്റ്റ്&zwnj;വെയർ ഒരു സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ ആയിക്കഴിഞ്ഞു. GPL പോലത്തെ നിരവധി ലൈസൻസുകൾ ഉണ്ട്. അവയെ കുറിച്ച് ഇനിയൊരു പോസ്റ്റിൽ വിവരിക്കാം.</p></p>
<h4 style="text-align: justify;">സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറും ഓപ്പൺസോഴ്സ് സോഫ്റ്റ്&zwnj;വെയറും തമ്മിലുള്ള വ്യത്യാസം</h4><br />
ഓപ്പൺ സോഴ്സ് ഫിലോസഫി പറയുനന്ത്, ഒരു സോഫ്റ്റ്&zwnj;വെയറിന്റെ സോഴ്സ് കോഡ് പരസ്യപ്പെടുത്തണമെന്ന് മാത്രമാണ്. അതിൽ നിന്നും ഡെവലപ്പ് ചെയ്യുന്നവ അങ്ങനെ ആകണമെന്ന് ഇല്ല. അപ്പാഷെ ലൈസൻസ് പോലുള്ള പെർമിസ്സീവ് ലൈസൻസുകൾ, ഒരു സോഫ്റ്റ്&zwnj;വെയറിന്റെ പുതുക്കലുക്കൾ, വേറേതൊരു ലൈസൻസിങ്ങ് രീതിയിലും പ്രസിദ്ധീകരിക്കൻ അനുവദിക്കുന്നു. അതായത്, നിങ്ങൾക്ക് കിട്ടിയ ഒരു സോഫ്റ്റ്&zwnj;വെയർ അപ്പാഷെ ലൈസൻസിലുള്ളതാണെങ്കിൽ, നിങ്ങൾക്ക് അവയിൽ ആവശ്യമുള്ള മാറ്റം വരുത്തി, അതിനെ ഇഷ്ടമുള്ള രീതിയിൽ പ്രസിദ്ധീകരിക്കാം. ക്ലോസ്ഡ് സോഴ്സ് ആയി പോലും. അതിനാൽ നാട്ടുഭാഷയിൽ പറഞ്ഞാൽ "ഓപ്പൺ സോഴ്സ് ലൈസൻസിൽ, തന്ത ഓപ്പൺ സോഴ്സ് ജാതി ആയത് കൊണ്ട്, മക്കൾ അങ്ങനെ ആയിക്കോളണമെന്നില്ല. അവയ്ക്ക് ഏത് ജാതി വേണമെങ്കിലും സ്വീകരിക്കാം."</p>
<p>ഇനി സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ. സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയറിൽ നിന്നും വിപുലീകരിച്ചെടുക്കുന്ന എല്ലാ സോഫ്റ്റ്&zwnj;വെയറുകളും, അതേ ലൈസൻസിൽ തന്നെ ആയിരിക്കണം. ഒരു സോഫ്റ്റ്&zwnj;വെയർ GPLലാണെങ്കിൽ, അതിന്റെ സന്തതിപരമ്പര മുഴുവൻ GPLൽ തന്നെ ആയിരിക്കണം.</p>
<p>ശ്രീ. റിച്ചാർഡ് സ്റ്റാൾമാന്റെ അഭിപ്രായത്തിൽ, ഓപ്പൺ സോഴ്സ് സോഫ്റ്റ്&zwnj;വെയർ <strong>സ്വാതന്ത്ര്യം </strong>എന്ന ആശയത്തെ അത്ര കണ്ട് പിന്താങ്ങുന്നില്ല. ഗ്നു ചിന്താഗതി തന്നെ ഇപ്രകാരമാണ്. <strong>ഞാൻ എങ്ങനെ നിങ്ങളുടെ സ്വാതന്ത്ര്യത്തെ വിലകൽപിച്ചുവോ അപ്രകാരം നിങ്ങൾ മറ്റുള്ള വരുടേയും സ്വാതന്ത്ര്യത്തെ വിലകൽപിക്കുക</strong>.</p>
<p>അപ്പോൾ, ഓപ്പൺ സോഴ്സ് ആയി എന്നതു കൊണ്ട് ഒരു സോഫ്റ്റ്&zwnj;വെയർ സ്വതന്ത്രം ആയി എന്നർത്ഥമില്ല. എന്നാൽ ഒരു സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയർ എന്തൊക്കെയായാലും ഓപ്പൺ സോഴ്സ് ആയിരിക്കും.</p>
