---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Why Diaspora
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 382
wordpress_url: http://balasankarc.comule.com/?p=382
date: '2013-06-10 00:54:53 -0400'
date_gmt: '2013-06-09 19:24:53 -0400'
categories:

tags: []
comments: []
---
<p style="text-align: justify;"><span style="text-decoration: underline;"><em><span style="color: #ff0000; text-decoration: underline;">Note</span></em></span><em> </em>: Updated. Details of "<a title="Free and Open Source Software (FOSS)" href="http://savepoddery.com" target="_blank"><strong>Save Poddery Campaign</strong></a>" added at the end. Do check it out.</p></p>
<p style="text-align: justify;">Hi all,<br />
I believe many of you have heard about information being leaked by NSA from top ranked websites like Google, Facebook and Twitter etc. In the current socio-economic scenario, information is the most valuable asset. It is much more valuable than money and any other material facts. Information, if delivered to the wrong hands, can cause devastating effects.<br />
I believe all of us value Privacy. What we share in the conventional social networking sites like Facebook, Google+, Twitter etc, compromises our Privacy. There is no way we can know whether these corporates are manhandling our private data. They can easily sell these data to a 3rd party even without our knowledge or consent. So, why keep our data in a centralized server, where someone can easily put there hand and grab whatever they want.<br />
So, Facebook/Google+/Twitter is at the end of a cliff with the following questions<br />
<strong>Q1.</strong> How can we be sure that you don't steal our passwords? Can we see the code you use??<br />
<strong>Answer: No</strong><br />
<strong>Q2.</strong> How can we be sure that you don't sell our information? Can we host our own data and use your platform to share it?<br />
<strong>Answer: No</strong><br />
<strong>Q3.</strong> Can you give any proof that you don't compromise our data to a 3rd party/government without our consent?<br />
<strong>Answer : No</strong><br />
<strong>Q4.</strong> Are your background working transparent so that anyone can check their trustworthiness?<br />
<strong>Answer : No</strong><br />
<strong>Q5.</strong> THEN, HOW ON EARTH CAN WE BELIEVE YOU, YOU MORONS???<br />
<strong>Answer : Err...</strong></p></p>
<p style="text-align: justify;">The think-tanks of Internet had thought about this problem and they came up with an idea, an idea that can be so powerful to uproot the existing social-networking convention - DECENTRALIZED SOCIAL NETWORKING. In a nutshell, decentralization means the data will not be stored at a single place which is directly controlled by a corporate. Rather, YOU can store YOUR data, and share it with whomever you wish and them only.<br />
Diaspora, is a social networking project which emphasizes on decentralization and Privacy awareness. It is an open source project, so that anyone can read its code and check whether it have some hidden backdoors for stealing your data.</p></p>
<p style="text-align: justify;">Diaspora network works by connecting different instances of the Diaspora software. These instances are called <strong>pods</strong>. That is, if you have a server with you, you can host your own diaspora pod (to understand more clearly, you can have your own facebook/google+) by installing the Diaspora software in that server, in which you may/maynot provide access to others. So, the data will be stored in your server only, not on a centralized server. No outsider can put their hands on it without your knowledge. The government can't even touch your data without your consent.Moreover, Diaspora provides inter-connectivity between pods. That is, you can connect your pod to other pods and search for members in those pods and connect with them. You can share date with the selected friends.</p></p>
<p style="text-align: justify;">Diaspora is like a crystal clear lake, It is cent percent transparent. That transparency, actually is the greatest protector of Privacy. One can make sure that his data will be his and his only, ALWAYS.</p></p>
<p style="text-align: justify;">Thus, Diaspora provides better security than Facebook/Google+.</p></p>
<p style="text-align: justify;">So, to summarize, Diaspora provides the following benefits when compared to conventional social networking sites.<br />
1. Decentralization - Your data will not be stored in a central server<br />
2. Privacy awareness - You can decide who can access your data. No one can do it without your consent.<br />
3. Transparency - Since Diaspora code is open source</p></p>
<p style="text-align: justify;">Diaspora also provides some other facilities like #hashtags , Aspects (similar to friends circle in Google+) etc. Hashtags can be used for following your favourite topics while Aspects can be used to categorize friends so as to make selective-sharing more easier.</p></p>
<p style="text-align: justify;">My diaspora profile can be found here - <a title="Balasankar C" href=" https://joindiaspora.com/u/balasankarc">Balasankar C</a></p></p>
<p style="text-align: justify;">So, I hope everyone will join Diaspora and be more Privacy aware beings and say loudly "I AM FREE".</p></p>
<p style="text-align: justify;">Hack Happily,</p></p>
<p style="text-align: justify;">Balasankar C</p></p>
<p style="text-align: justify;">&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;&mdash;&mdash;&mdash;&mdash;&mdash;&ndash;</p></p>
<h2 style="text-align: justify;"><span style="text-decoration: underline;"><strong>Save Poddery Campaign</strong></span></h2></p>
<p style="text-align: justify;"><a href="http://poddery.com">poddery.com,</a> one of the earliest <a href="http://en.wikipedia.org/wiki/Diaspora_%28social_network%29">diaspora social networking host</a> is scheduled to be closed down on June 30th, 2013. We want to save this pod. So we are running a campaign for the same alive. You can also contribute to this campaign by donating an amount, based on your ability. You can also contribute by sharing news about this campaign with your friends and communities of which you are a member.</p></p>
<p style="text-align: justify;">You can know more about this campaign at <a href="http://savepoddery.com">http://savepoddery.com</a> .</p></p>
<p style="text-align: justify;">Donate as you can, share this info with your friends and</p></p>
<p style="text-align: justify;"><strong> Use diaspora, Talk diaspora and Be diaspora.</strong></p></p>
