---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: "സോഫ്റ്റ്&zwnj;വെയര്&zwj; സ്വാതന്ത്ര്യദിനാഘോഷം @ തൃശ്ശൂർ"
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 453
wordpress_url: http://balasankarc.in/tech/?p=453
date: '2013-09-21 23:07:49 -0400'
date_gmt: '2013-09-21 17:37:49 -0400'
categories:
- SMC
- FOSS
tags: []
comments: []
---
<p style='text-align:justify'>ഇന്ന് (സെപ്റ്റംബര്&zwj; 21, 2013) ലോകത്ത് എമ്പാടും സോഫ്റ്റ്&zwnj;വെയര്&zwj; സ്വാതന്ത്ര്യദിനം ആഘോഷിക്കുന്നതിന്റെ ഭാഗമായി, സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങിന്റെ നേതൃത്വത്തില്&zwj;, തൃശ്ശൂര്&zwj; സാഹിത്ര അക്കാദമിയിലെ ചങ്ങമ്പുഴ ഹാളില്&zwj; വെച്ച്, സോഫ്റ്റ്&zwnj;വെയര്&zwj; സ്വാതന്ത്ര്യദിനം വളരെയധികം ഭംഗിയായി ആഘോഷിച്ചു. ശ്രീ കെ വേണു ഉദ്ഘാടനം ചെയ്ത ചടങ്ങില്&zwj;, തൃശ്ശൂര്&zwj; പിജി സെന്ററിലെ രഞ്ജിത്ത് മാഷ് ആയിരുന്നു അദ്ധ്യക്ഷൻ. വേണുമാഷ് സോഫ്റ്റ്&zwnj;വെയര്&zwj; സ്വാതന്ത്ര്യത്തിന്റെ രാഷ്ട്രീയ, സാമൂഹിക മാനങ്ങളെ പറ്റിയും, സുതാര്യത, സ്വകാര്യത എന്നിവയെ പറ്റിയും അത്യാവശ്യം ആഴത്തില്&zwj; തന്നെ സംസാരിച്ചു. DAKFനെ പ്രതിനിധീകരിച്ച് സുദര്&zwj;ശൻ മാഷും, പരിഷത്തിനെ പ്രതിനിധീകരിച്ച് സുധീര്&zwj; മാഷും പങ്കെടുത്തു.എം ഇ എസ് എഞ്ചി. കോളേജിലെ അധ്യാപകന്&zwj; ഡോ. സികെ രാജു,കവി അന്&zwj;വര്&zwj; അലി എന്നിവരും സ്വതന്ത്ര സോഫ്റ്റ്&zwnj;വെയര്&zwj; എന്ന ആശയത്തെ കുറിച്ചും, അതിന്റെ നിരവധി മാനങ്ങളെ കുറിച്ചും സംസാരിച്ചു. സ്വമകയെ കുറിച്ചും, ലാംഗ്വേജ് കമ്പ്യൂട്ടിങ്ങിനെ കുറിച്ചും അനിവര്&zwj; ഒരു ആമുഖപ്രസംഗം നടത്തി. അതിനു ശേഷം മലയാളം കമ്പ്യൂട്ടിങ്ങ് രംഗത്ത് സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങിന്റെ ഇടപെടലുകള്&zwj; എന്ന വിഷയത്തെ കുറിച്ച് എന്റെ വക ഒരു പ്രെസന്റേഷൻ ഉണ്ടായിരുന്നു ( <a title="http://balasankarc.in/smc/" href="http://balasankarc.in/smc/">http://balasankarc.in/smc/</a> ). ഹൃഷി, സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങ് വികസിപ്പിച്ച <strong>ശില്&zwj;പ </strong>എന്ന വെബ് ഫ്രെയിംവര്&zwj;ക്കിനെ പറ്റി വിശദീകരിച്ചു. പ്രവീണേട്ടൻ ഡയാസ്പുറ, അത് മുന്നില്&zwj; വെക്കുന്ന സ്വകാര്യതാ-സംരക്ഷണം എന്നിവയെ പറ്റി സംസാരിച്ചു. പ്രവീണേട്ടൻ, അനിവര്&zwj;, വേണു മാഷ് എന്നിവര്&zwj; സ്വകാര്യത സുതാര്യത എന്നിവയെ പറ്റി ഒരു ചെറിയ (തീരെ ചെറിയ) സംവാദത്തില്&zwj; ഏര്&zwj;പ്പെട്ടെങ്കിലും, പെട്ടെന്ന് തന്നെ തിരിച്ച് ഡയാസ്പുറയിലേക്ക് എത്തി. അതിനു ശേഷം മലയാളം വിക്കി പ്രവര്&zwj;ത്തകനായ അല്&zwj;ഫാസ്, വിക്കിയെ കുറിച്ചും, സ്വതന്ത്ര വിജ്ഞാനത്തെ കുറിച്ചും സംസാരിച്ചു. ഊണിനു ശേഷം സ്വമകയുടെ 12ആം വാര്&zwj;ഷികത്തിനെ പറ്റിയുള്ള ചര്&zwj;ച്ചകളും, വാര്&zwj;ഷികത്തിന്റെ വെബ്സൈറ്റിന്റെ ( <a href="http://12.smc.org.in">http://12.smc.org.in</a> ) പ്രകാശനവും നടന്നു.</p></p>
<p><span style="text-decoration: underline;"><strong>ചിത്രങ്ങള്&zwj;</strong></span></p>
<p>[gallery ids="455,456,457,458,459,460,465"]</p>
