---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Typing Malayalam in Android
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 486
wordpress_url: http://balasankarc.in/tech/?p=486
date: '2014-03-14 00:49:03 -0400'
date_gmt: '2014-03-13 19:19:03 -0400'
categories:

tags:
- smc
- malayalam
- android
- typing
- indic
- keyboard
- jellybean
- micromax
- canvas
- a110
comments:
- id: 1160
  author: Umesh
  author_email: umesh.p.nair@gmail.com
  author_url: http://malayalam.usvishakh.net/blog/
  date: '2014-03-14 11:00:04 -0400'
  date_gmt: '2014-03-14 05:30:04 -0400'
  content: "താങ്ക്സ്!\r\n\r\nസത്യം പറയാമല്ലോ.  ഈ സാധനം ഇൻസ്റ്റാൾ ചെയ്തിട്ടു രണ്ടു
    മൂന്നു ദിവസമായി.  ഇതെങ്ങനെ ഉപയോഗിക്കും എന്നറിയാതെ വിഷമിക്കുകയായിരുന്നു..."
- id: 1168
  author: Amruth
  author_email: amrthraj@gmail.com
  author_url: http://amruthrajr.com
  date: '2014-03-15 13:12:17 -0400'
  date_gmt: '2014-03-15 07:42:17 -0400'
  content: "ഇത് Android 4.1 ന് മുകളിലുള്ള ഫോണുകളില്&zwj; മാത്രമേ ഉപയോഗിക്കാന്&zwj;
    സാധിക്കു എന്നുള്ളത് വളരെ വിഷമകരമാണ്. കാരണം ഒരു അറുപതു ശതമാനം ആളുകളും ഉപ്രയോഗിക്കുന്നത്
    4.1 ഇല്&zwj; താഴെയുള്ള സോഫ്റ്റ്&zwnj;വെയര്&zwj; ആണ്."
---
<div style="text-align:justify">നമസ്കാരം,</p>
<p>മലയാളത്തെ ഇഷ്ടപ്പെടുന്നവർക്ക് ഒരു സന്തോഷവാർത്തയുമായാണ് ഈ ബ്ലോഗ് പോസ്റ്റ്. ആൻഡ്രോയിഡ് ഫോണുകളിൽ മലയാളമടക്കം 15 ഭാഷകൾ ടൈപ്പ് ചെയ്യാൻ സഹായിക്കുന്ന ഒരു പുതിയ ആപ്ലിക്കേഷൻ രംഗത്തെത്തിയിരിക്കുന്നു. തിരുവനന്തപുരത്തെ ഐസിഫോസ് എന്ന സ്ഥാപനവുമായി ഒത്തുചേർന്ന് ഈ ആപ്ലിക്കേഷൻ നിർമ്മിച്ചത് "<a href="http://smc.org.in">സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങ്</a>" എന്ന സംഘടനയിലെ <a href="http://blog.thecodecracker.com/">ശ്രീ. ജിഷ്ണു മോഹൻ</a> ആണ്. ആൻഡ്രോയിഡ് 4.1 (ജെല്ലിബീൻ) അല്ലെങ്കിൽ അതിനു് മുകളിലുള്ള പതിപ്പുകളോ ഉപയോഗിക്കുന്നവർക്ക് ഈ ആപ്ലിക്കേഷൻ ഗൂഗിൾ പ്ലേസ്റ്റോറിൽ നിന്നും ഡൗൺലോഡ് ചെയ്ത് എടുക്കാവുന്നതാണ്. ( ലിങ്ക് - <a href="https://play.google.com/store/apps/details?id=org.smc.inputmethod.indic">https://play.google.com/store/apps/details?id=org.smc.inputmethod.indic</a> ).</p>
<p>ഇനി എന്റെ പോസ്റ്റിന്റെ ഉദ്ദേശം. എങ്ങനെയാണ് മലയാളത്തിൽ ടൈപ്പ് ചെയ്യുക എന്ന് പലരും എന്നോട് ചോദിക്കാറുണ്ട്. മേൽപ്പറഞ്ഞ ടൂൾ വെച്ച് എങ്ങനെയാണ് ടൈപ്പ് ചെയ്യുക എന്ന് പറയാം. ഞാൻ ഉപയോഗിച്ചിരിക്കുന്നത് Micomax Canvas 2 A110 എന്ന ഫോണാണ്.</p>
<p>1. ആദ്യമേ തന്നെ പ്ലേസ്റ്റോറിൽ നിന്നും ആ ആപ്ലിക്കേഷൻ ഡൗൺലോഡ് ചെയ്യുക.</p>
<p>2. ഫോണിന്റെ സെറ്റിങ്ങ്സ് പേജിൽ പോവുക. അതിൽ "Languages &amp; Input" എന്ന ബട്ടണിൽ ക്ലിക്ക് ചെയ്യുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/01.png"><img alt="01" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/01-168x300.png" width="168" height="300" /></a></p>
<p>3. അവിടെ "Keyboard &amp; Input Methods" എന്ന തലക്കെട്ടിനു് താഴെയായി "Indic Keyboard" എന്ന ബട്ടൺ കാണാം. അതിന്റെ വശത്തുള്ള ചെറിയ പെട്ടിയിൽ അമർത്തുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/01.png"><img alt="01" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/01-168x300.png" width="168" height="300" /></a></p>
<p><img alt="02" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/02-168x300.png" width="168" height="300" /></p>
<p>4. ഇനി വരുന്ന മുന്നറിയിപ്പ് സ്ക്രീനിൽ ഓക്കെ അമർത്തുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/03.png"><img alt="03" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/03-168x300.png" width="168" height="300" /></a></p>
<p>5. ഇപ്പോൾ "Indic Keyboard"നു് ഇടത്തുവശത്ത് ഒരു ശരി വന്നിരിക്കും. ഇനി "Indic Keyboard"ന്റെ വലതു വശത്തുള്ള ബട്ടൺ അമർത്തുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/04.png"><img class="alignnone size-medium wp-image-490" alt="04" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/04-168x300.png" width="168" height="300" /></a></p>
<p>6. ഇപ്പോൾ എത്തിയിട്ടുണ്ടാവുക "Indic Keyboard Settings" എന്ന സ്ക്രീനിലായിരിക്കും. അതിൽ "Input languages" എന്ന ബട്ടൺ അമർത്തുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/05.png"><img class="alignnone size-medium wp-image-491" alt="05" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/05-168x300.png" width="168" height="300" /></a></p>
<p>7. ഇനി വരുന്ന സ്ക്രീനിൽ "Use system language" എന്ന ഓപ്ഷൻ ശരിയിട്ട നിലയിൽ കാണാം. അതിൽ അമർത്തി ആ ശരി കളയുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/06.png"><img class="alignnone size-medium wp-image-492" alt="06" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/06-168x300.png" width="168" height="300" /></a></p>
<p>8. ഇനി ഏറ്റവും താഴേക്ക് സ്ക്രോൾ ചെയ്താൽ മലയാളത്തിന്റെ ഇൻപുട്ട് രീതികൾ കാണാം. അതിൽ നിന്നും ഇഷ്ടമുള്ളത് തിരഞ്ഞെടുക്കുക. ഞാൻ ലിപ്യന്തരണത്തിന്റെ ആളാണ്. എന്നു് വച്ചാൽ "bAlu" എന്നടിച്ചാൽ "ബാലു" എന്നു് വരുന്ന രീതി.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/07.png"><img class="alignnone size-medium wp-image-493" alt="07" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/07-168x300.png" width="168" height="300" /></a></p>
<p>9. ഇനി എല്ലാത്തിൽ നിന്നും പുറത്തു കടന്ന്, മലയാളം ടൈപ്പ് ചെയ്യേണ്ട ആപ്ലിക്കേഷൻ തുറക്കുക. ഉദാഹരണം : മെസ്സഞ്ചർ. അതിൽ ടെക്സ്റ്റ്ബോക്സിൽ ക്ലിക്ക് ചെയ്യുമ്പോൾ ലഭിക്കുന്ന കീബോർഡിലെ സ്പേസ് കീ അമർത്തിപ്പിടിക്കുക. ഇപ്പോൾ ഒരു സ്ക്രീൻ വരും.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/08.png"><img class="alignnone size-medium wp-image-494" alt="08" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/08-168x300.png" width="168" height="300" /></a></p>
<p>10. അതിൽ നിന്നും മലയാളം തിരഞ്ഞെടുക്കുക.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/09.png"><img class="alignnone size-medium wp-image-495" alt="09" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/09-168x300.png" width="168" height="300" /></a></p>
<p>11. ഇനി എന്തെങ്കിലും ടൈപ്പ് ചെയ്താൽ തത്തുല്യമായ മലയാളം ടെക്സ്റ്റ്ബോക്സിൽ വരുന്നതു് കാണാം.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/03/10.png"><img class="alignnone size-medium wp-image-496" alt="10" src="http://balasankarc.in/tech/wp-content/uploads/2014/03/10-168x300.png" width="168" height="300" /></a></p>
<p>&nbsp;</p>
<p>ഇനി "bhaaratham ente raajyam" എന്നടിക്കുന്ന വൃത്തികേട് ഉപേക്ഷിക്കൂ...&nbsp; അതിനു് പകരം "ഭാരതം എന്റെ രാജ്യം" എന്ന് തന്നെ ടൈപ്പ് ചെയ്ത് സന്തോഷിക്കൂ.<br />
</div><br />
<?php get_HitsMechanic();?></p>
