---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: The CLI way.
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 538
wordpress_url: http://balasankarc.in/tech/?p=538
date: '2014-06-25 01:01:35 -0400'
date_gmt: '2014-06-24 19:31:35 -0400'
categories:

- Lecture
tags:
- linux
- cli
- command
- command line
- console
- gui
- gnu
- gnu/linux
- debian
comments: []
---
<div style="text-align:justify">
Howdy all,</p>
<p>It recently occured to me that, the best school I ever got was the Internet (After that, comes my friends). So, it is my social responsibility to give something back to them (Yeah, Internet is never an "it" for me, but "them". Internet Is Real). So, I decided to write something here frequently that I gained from Internet. It is hereby stated that all the content below was gained from one or another source through Internet. However, I will never copy paste anything from another blog/forum.<br />
    So, now let's come to the point. I will be starting a series of posts regarding the usage of command line interface (CLI) to perform our day-to-day computer activities more powerfully, efficiently and in a less time-consuming way. During my beginning stages of computing, I, like everyone else, was extremely dependent on GUI for anything and everything. But, as my involvement with computers increased, I came to understand that using a mouse is kinda lame and GUI sucks big time. The true power of computers lie in the mighty console. It is fast, it is flexible and it just rocks. (And between you and me, I am an extremely lazy person, damn lazy even to move my hand from keyboard to mouse and back.) Since then, I was trying to find good alternatives for the GUI applications that I frequently used. The first thing to understand is, there are some scenarios where a GUI application have to be used, and there is nothing bad in doing that. After all, we are not Console Sanyasis who have rejected GUI for eternity or Console Terrorists who want to eradicate all GUI applications. Example : Watching a video, Drawing a picture etc. So, it for any GUI application, try hard to find an alternative; if you get one, use it whenever possible unless for an extreme opposing reason; else don't hesitate to use GUI (You can always try to create your own application).<br />
    So, the series will contain the following apps that I use nowadays instead of GUI applications. First I will state my environment. I am running Debian Sid on a Lenovo Thinkpad E430 with 2GB RAM nad 500 GB Hard disk. My shell is zsh (which is way cooler than bash) and my window manager is i3. My main computing activities include - Coding, Browsing, Mailing, Music, Movies, Chatting, Downloading Torrents, and various file operations. The apps I am gonna cover in the series will be</p>
<ol>
<li>Vi Editor</li>
<li>Elinks</li>
<li>ncmpcpp</li>
<li>wget</li>
<li>irssi</li>
<li>youtube-dl</li>
<li>deluge</li>
<li>shell operations</li>
<li>some useful commands</li><br />
The list may get updated. :)<br />
    </ol></p>
<p>    I am not guaranteeing any completeness in the posts, neither any frequency in when I will post. I know that these stuff are available in plenty on Internet. Still, I am writing these posts because 1) It helps me to remember the commands. 2> These posts can act as a reference for at least me. If you come across these posts, please see them as mere references and not the ultimate guides. And, if you have a better suggestion for any application, comment it ASAP. </p>
<p>    Thanks. :)<br />
</div></p>
