---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Celebrating Deepavali Differently - DebUtsav '14
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 576
wordpress_url: http://balasankarc.in/tech/?p=576
date: '2014-10-22 16:28:04 -0400'
date_gmt: '2014-10-22 10:58:04 -0400'
categories:
- Debian
- SMC
- FOSS

- Lecture
tags: []
comments:
- id: 8157
  author: Anish Sheela
  author_email: aneesh.nl@gmail.com
  author_url: ''
  date: '2014-10-26 17:38:00 -0400'
  date_gmt: '2014-10-26 12:08:00 -0400'
  content: That's "Let's bring Eben Moglen" was hilarious...
- id: 9802
  author: Hrishi
  author_email: hrishi.kb@gmail.com
  author_url: http://stultus.in
  date: '2014-10-30 01:15:35 -0400'
  date_gmt: '2014-10-29 19:45:35 -0400'
  content: "https://www.youtube.com/watch?v=n5fGAhR1LcY\r\n\r\nKuch toh
    log kahenge... logom ka kaam hai kehna..  :)"
- id: 43753
  author: Debutsav 2014 &#8211; My experience | Tummala Dhanvi&#039;s Blog
  author_email: ''
  author_url: https://dhanvi1.wordpress.com/2014/10/21/debutsav-2014-my-experience/
  date: '2016-02-25 01:04:01 -0500'
  date_gmt: '2016-02-24 19:34:01 -0500'
  content: "[&#8230;] Celebrating Deepavali Differently &#8211; DebUtsav &#8217;14
    [&#8230;]"
---
<div style="text-align: justify;">Heyo,<br />
We celebrated Deepavali a little early and a little differently. It was Free Culturised, :D. Yeah folks, I am definitely talking about the DebUtsav '14 that happened in Amrita Vishwavidyapeetom, Kollam last week (October 17-18). It was truly one hell of an event. The wowness lies in knowing that the event rocked even when about 90% of the audience were sweeped away due to some unfortunate happenings. The registered number was around 300, but some issues in the college forced the in-house participants to leave and we were left with about 30 participants. Special mention to those who stayed back even when the management asked them to leave.I reached Amrita by around 7.30 PM on thursday and as usual rung up my local contact - Harish. It was literally shocking to know that he spoke Malayalam. All the time I wasted to carefully analyze each english word I said when I talked to him before. All blame goes to the great j4v4m4n who told me Harish was a Tamilian based on Maharashtra. He quickly guided me to the hostel where I met Shirish (it was after about 1.5 years, I first met him at FOSSMeet '13 @ NITC, Calicut). Along with him were Mr. Krishnakant Mane (hereafter KK), founder of GNUKhata, whom I longed to meet. Also, his colleagues Mr. Eshan and Mr. Arun Kelkar were with him and they seemed quite the gentlemen. Also, Priyanka Nag, who was a Mozilla Rep working at Scrollback also was at the Guest house at that time and she was damn energetic. Anyways, it is always cool to see Women in Technology (Yeah, it is the fault of men only that there are relatively less number of women when it comes to technology). I was sharing a room with Mr. Gokul, who was from C-DAC Chennai and seemed to be a nice fellow. I ringed up Praveen to check on his arrival time. He reached the guest house along with Manoj at about 10 PM. By the time he reached, we had food and were having a small chat with the organizers who were busy preparing the lab. However, it was a little sad to know that many of the talks, supposed to be taken by girls from Amrita, that I wanted to attend were cancelled, blaming the "attendance shortage". Obviously, we were against it and made sure that atleast three or four such sessions would be there - Git, ZSH, Linux Kernel etc. I saw some extremely active students (and a teacher - Midhun whom me and praveen thought was a student and realised only by the end of the conference) like Harish, Tony, Darshana, Akshay (who seemed to be a true geek and I wasn't wrong, he was cool) etc. It was shocking to find out that there had been about 12 GSoC participants from Amrita alone and I just did a comparison with my college and hang my head down. :(</p>
<p>The next day started with a formal inauguration which involved, as obvious as it can be, prayer, some speeches blah blah. The only exceptional stuff was the welcome speech by Harish, who seemed to be full of energy and the Keynote address by KK, who was far more energetic. He inspired the students to the damn core and his words were well received. Later, we moved on to the introduction to Debian session by Shirish, which I mentioned - partly because I was busy with Praveen talking about the issues of poddery and testing the laptops for Free software compatibility using h-node.</p>
<p>There was a session on LaTeX for professionals, which I decided to skip so that I could talk with Praveen about poddery and other stuff. Also, Manojettan and Tony mash was with us and we discussed about testing laptops with gNewsense for Free Software Compatibility. After a break, we moved to the lab for the packaging session by Praveenettan.</p>
<p>The first task for the hackathon cum packaging session was to install Diaspora locally. Everyone was asked to follow the wiki instructions and the bottleneck in connection and lack of pre-planning to store the necessary packages locally slightly slowed down the process. Before the work started, Praveen and shirish talked about Debian a bit more and I was asked to talk on Diaspora and h-node. It was really great to speak in an extempore manner and it dissolved away the so called formality in the conference (which really lightened both the audience and the speakers). Since we had some T-Shirts with us, we announced a t-shirt to anyone who either finds out an A-Platinum rated laptop OR tests 10 laptops or package a gem by the time the conference ended. Once the participants started installing Diaspora and hitting erros, it was time for learning. They were introduced to apt-get, aptitude, backports, cuRl etc. When the night went darker and we decided to wind up for sleep, almost two were near to success in installing diaspora. Sooraj Kenoth and Anish also joined us at that night and we had a pretty good time talking (even though praveen's kerner crashed soon). We started discussing about the activities that were supposed to happen in December - SMC Annual Meet, Swatantra Conference and Wikisangamolsavam. Shirish was also there and when we went full malayalam, he signed off to sleep. It was truly funny when Anish woke up Praveen from sleep and shouted "Let's bring Eben Moglen!!" and praveen just blinked his eyes not knowing what the damn hell he was talking about. Soon it came down to me, manojettan and tony mash and we discussed about Wiki and related stuff. Hrishi also joined us at morning and his hair just rocked. :D</p>
<p>The next day had some wonderful sessions planned. It included talks like "Git for humans" by Darshana, "How to contribute to Linux Kernel" by Tina or someone like that(her name I forgot, mainly coz I wasn't interested in her attitude towards teaching those who were in front of her), "Getting Handy with SailsJS" by Pranav, and Ishaan's talk about his experience with HP forcing Windows OS on their users. I also took a session on Localization and it was a complete disaster coz I couldn't demo any of the web platforms for l10n due to some connectivity issues. Later, there was an official release of the desktop client of GNUKhata and the team interacted with the audience about various features of GNUKhata and how it will be a true rival to Tally. After a short break, we continued the hackathon and Sachin and Akshay succeeded in setting up diaspora pods (even though communication between them was skipped owing to our lazyness in setting up a bridge from LAN to Virtualbox). Once they understood the difficulty in manually installing such a software, they cleary understood the idea (so I hope) why packaging was necessary. Then praveen talked about the diaspora's code and different gems. Vegas was selected as a test gem and everyone were introduced to gem2deb, dpkg-buildpackage and lintian. We were only able to talk till editing the three c* files and running lintian to correct errors when the conference had to officially wind up. One Mr. Biju presided the session and everyone shared their experience. There was also quite some beautiful singing by KK, Athira, AKshay and one girl <del datetime="2016-02-15T16:25:13+00:00">whose name I never got</del> named <a href="https://in.linkedin.com/in/pooja-prakash-7263315b">Pooja Prakash</a> (Her voice reminded Bernadette from TBBT a lot, and she even looked like her a bit. Anyway, it was a damn sweet childish voice). KK sang beautifully and Hrishi was literally in heaven as it was one of Kishoreda's songs. Akshay surprised everyone when he sang an english and malayalam song back to back. We speakers (I hate using that word which imposes a great gap between other participants) were presented with some books by Matha Amrithanandamayi and the session officially wound up. Sachin and Akshay were gifted the T-Shirts as promised and Praveen gathered few of them and assigned some gems to them to package.</p>
<p>The conference, or Utsav to be talking the truth in sense, was one of the best moments in my life and I was damn happy to see students who embrace the free culture and technology and are eager to get involved in that. Also, meeting KK, who won the fight between him and visual impairedness, was truly an inspiring situation. So, in short, it was an event full of FOSS, Fun and Food. :)</p>
<p></div></p>
