---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Back to Pack(aging)
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 566
wordpress_url: http://balasankarc.in/tech/?p=566
date: '2014-08-15 22:39:49 -0400'
date_gmt: '2014-08-15 17:09:49 -0400'
categories:
- Debian

tags:
- gnu/linux
- debian
- diaspora
- packaging
- hacking
comments: []
---
<div style="text-align:justify">
Howdy all,<br />
I was introduced to the world of packaging by <a href="http://j4v4m4n.in/">Praveen</a> (a.k.a javaman), one year back. It was a training session for packaging diaspora gems for debian (so that diaspora can finally be installed by sudo apt-get install diaspora). I tried packing one package named jammit and I think I stopped it when I found that, it had some dependencies yet to be packaged. And as usual, I had found new areas to graze. (Typical me.. :D ) .</p>
<p>However, I had recently decided to try packaging again and started working on a gem today. <a href="https://github.com/propublica/timeline-setter">timeline-setter</a>. It is a gem to create HTML timelines from spreadsheet of events. I started following the steps in the <a href="https://wiki.debian.org/Diaspora/Packaging">wiki</a>. Whenever I got errors, <a href="http://nandajavarma.wordpress.com/">Nandaja</a> helped me decode them.</p>
<p>One of the errors was, the source code contained two minified javascript files, one being jquery source itself. So, lintian was giving errors on them. Also, when edited those files to unminify them ,I saw an error that I hadn't seen during my earlier tries of packaging. dpkg-buildpackage was telling that, if I edit those files, I must add them to source. Actually, it made sense and I obeyed. Then I remembered about running the tests, and was stuck with a "cannot load" error. Fortunately, my rails learning paid off. I could understand that it was a trouble in finding the files to load, and the path actually was set to the current folder, while it should have been the parent folder. I changed that and voila, all tests passed.</p>
<p>I had an account in <a href="alioth.debian.org">Alioth</a> but hadn't used that ever. Also, it took about 1 hour to add ssh key to it. So, I decided to go with mentors. It needed an RFS and I filed one. It was only after filing that, I consulted with Praveen and he said if I had git access. I should use that. People actually like git rather than mentors. Also, I found out that, I had made a typo in the copyright file ( I used GPL instead of MIT). So, I am gonna try git. I am waiting for my ssh key to be added to alioth.</p>
<p>In short, it was awesome to again experience the thrill of hacking, facing errors, solving them and moving forward. I plan to do this more (I always say this, and within two days, my mind would be on something else. :D )</p></p>
