---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'CLI#1 : The Vim Editor'
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 550
wordpress_url: http://balasankarc.in/tech/?p=550
date: '2014-07-06 20:53:10 -0400'
date_gmt: '2014-07-06 15:23:10 -0400'
categories:
- CLI
tags:
- linux
- cli
- command
- gnu/linux
- vim
- vi
- editor
comments:
- id: 2125
  author: V. Sasi Kumar
  author_email: sasi.fsf@autistici.org
  author_url: http://glimpsesofthought.wordpress.com
  date: '2014-07-09 15:29:58 -0400'
  date_gmt: '2014-07-09 09:59:58 -0400'
  content: "Good effort, Balasankar. Hope you are able to continue with this. I am
    sure this will help newbies to start using vim. Hope to see more such posts in
    future.\r\nSasi"
- id: 2126
  author: Balasankar C
  author_email: c.balasankar@gmail.com
  author_url: ''
  date: '2014-07-09 16:54:02 -0400'
  date_gmt: '2014-07-09 11:24:02 -0400'
  content: Thank you sir. I also hope to write more posts of such genre. :)
---
<div style="text-align: justify;">Howdy all,<br />
So, as posted earlier, this is my first post on the series of various CLI tools I use.<br />
In this post I'll be discussing about an awesome CLI text editor - The Vi Editor. Well specifically, its modified version - The Vim Editor. Before beginning, I have to make a declaration. I am totally not interested in the <a href="https://en.wikipedia.org/wiki/Editor_war">editor war </a>and have no grudge against Emacs. When I used Emacs, I found it was a little memory hungry, so I decided to use Vim instead. Emacs is also a pretty good text editor with various features.With that told, let us begin the Vim journey.Vim is a screen-oriented text editor, i.e , it runs in the console. Vi editor will be installed by default in most of the operating systems. To install vim, in debian based OSs, you need to give</p>
<blockquote><p><strong>sudo apt-get install vim</strong></blockquote><br />
The following is a screenshot of vim running in my system with a python file.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2014/07/vim.png"><img class="alignnone size-medium wp-image-556" src="http://balasankarc.in/tech/wp-content/uploads/2014/07/vim-300x152.png" alt="vim" width="100%" /></a></p>
<p>Vim editor mainly has three modes - the command mode, the text mode and the visual mode. As the name suggests, the command mode is used to punch in commands to alter text and perform operations on the text and the text mode is the one in which you type stuff. Every keystroke in the command mode is a command. It can be to delete stuff, change stuff, cut, copy paste and so on. In text mode, every keystroke places the corresponding keys to the monitor (except control,function and other special keys which doesnot represent any character). The visual mode is a special mode used to perform text selection. It is the only way to select a block of text.</p>
<p>By default, vim starts in command mode. It can be changed to text mode by hitting any of the insertion commands - i, I, a, A, o, O. These commands perform different tasks which can be found <a href="http://www.fprintf.net/vimCheatSheet.html">here</a>.</p>
<p>To change to visual mode from command mode, press the key v. By moving the cursor using hjkl keys (refer the link above) or arrow keys (Vi editor doesnot support this, but Vim does), you can select parts of text.</p>
<p>To come back to command mode from visual or insert mode you can either press Escape key or the combination Ctrl+c. I prefer the latter because it involves less movement and finger stretching.</p>
<p>I am not gonna explain about all the commands because they are easily available in the link I shared above (and also because I don't know all of them).<br />
There are some other stuff regarding Vim that one must be aware of.<br />
They are<br />
1. Configuration File<br />
2. Plugins<br />
3. Some to-read documents and videos.</p>
<p>First, lets talk about the configuration file. On startup, vim checks for the existence of a special file called configuration file and prepares the environment as specified in that file. The configuration file for a user is placed in his/her home directory under the name ".vimrc". The "." at the beginning makes it hidden file and the "rc" means "run commands"(as the purpose of configuration file is to run specific commands at startup to prepare the environment as per the user's need). vimrc file can be used to specify which all actions to be performed during the startup. My vimrc file can be found <a href="https://github.com/balasankarc/dotfiles/blob/master/vimrc">here</a>. I have added comments to describe what the various lines wherever possible and whenever I had free time. ;)</p>
<p>Next, we come to plugins. Plugins are used to extend vim's functionality beyond the basic ones. It is used to bring more features that helps us to perform what we need faster. One example will be " a plugin that automatically closes html tags" or "a plugin that provides autocompletion" or "a plugin that provides autocorrect feature". Plugins can be installed using various ways, but I use one using a tool called "pathogen". Pathogenalso is a vim plugin whose function is to manage vim plugins. In usual vim scenario, all plugin files are inside a .vim directory in the user's home directory. However, these are scattered over different directories like bundle, autoload, plugin etc. This creates an ambiguity on which vim file corresponds to which plugin. Pathogen brings a solution to this problem by allowing each plugin to have its own subdirectory, so that, management of the plugin is done inside that directory. If you want to uninstall the plugin, just delete the subdirectory. Get pathogen and know more about it from <a href="https://github.com/tpope/vim-pathogen">here</a>. The following are some of the plugins I use (as I am also a programmer, most of them are related to that field)<br />
1. closetag - to close html tags easily<br />
2. ctrlp - file navigator<br />
3. fugitive - git support<br />
4. nerdcommenter - easy commenting and uncommenting - programming<br />
5. nerdtree - tree like file navigator<br />
6. vim-airline - cool status bar<br />
7. vim-autocorrect - autocorrect<br />
8. vim-flake8 - syntax checker<br />
9. vim-rails - rails support<br />
10. jedi-vim - autocomplete - programming</p>
<p>Next, I will listout some references that I used to get interested in Vim. This includes web pages, books, videos etc.<br />
1. <a href="http://www.viemu.com/a-why-vi-vim.html">http://www.viemu.com/a-why-vi-vim.html</a><br />
2. <a href="https://www.youtube.com/watch?v=YhqsjUUHj6g">https://www.youtube.com/watch?v=YhqsjUUHj6g</a><br />
3. <a href="http://learnvimscriptthehardway.stevelosh.com/">http://learnvimscriptthehardway.stevelosh.com/</a> - customizing vim<br />
4. <a href="http://www.vim.org/docs.php">Vim official documentation</a><br />
5. Surprise, vim has an inbuilt help that can be accessed by the command :help (yes, that colon is there.)</p>
<p>This post was never meant to be an authentic resource for learning vim or about the vim commands. This was just an introduction to vim and the basic concepts. As we can learn swimming only by getting into the pool, use vim and learn vim is the best way. The few advantages I found about using vim are - Less memory than GUI apps, no need of the time-consuming steps of take hand from keyboard-place it on mouse-move mouse-clicl-get hand back to keyboard, get acquainted with configuration files, and last but not least, improve your typing abilities as practice maketh perfect.<br />
Suggestions to make the article are welcome.</p>
<p>PS: Once the series about CLI are finished and I still have the enthusiasm, I'll try to elaborate on this.</p>
<p></div></p>
