---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: nmcli and adhoc wifi hotspot (a.k.a File sharing made easy by Python and nmcli)
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 579
wordpress_url: http://balasankarc.in/tech/?p=579
date: '2014-12-18 13:21:31 -0500'
date_gmt: '2014-12-18 07:51:31 -0500'
categories:

- CLI
tags:
- cli
- command
- command line
- wireless
- wifi
- hotspot
- nmcli
- python
- adhoc
- http
- server
- file
- sharing
comments: []
---
<div style="text-align:justify">
Heyo,<br />
Just like you, I was also using pendrives to transfer movies from my friends' laptops to mine. Yesterday, when I was at Thiruvananthapuram with SMC members for the annual meet and Swathanthra conference, Hrishi told me about python's SimpleHTTPServer package which can be used to create an HTTP Server running at any directory. Along with that, if we create an adhoc wifi-hotspot in our laptop, we can easily transfer files from our laptop to another. But, as I ditched using GUI some months back, I had to create the adhoc hotspot through command line, and who else is to the rescue that our dearest nmcli. But, I couldn't get nmcli to do the job, and fortunately Rajeeshettan was around and he did the magic. The steps are as follows (the $ sign is inserted manually to differentiate the command and its output. I ditched bash long time ago and am a hardcore lover of zsh)</p>
<ol>
<li>Create a connection using nmcli<br />
<strong>$ nmcli connection add type wifi ifname wlan0 ssid 'Balu-laptop'</strong><br />
Connection 'wifi-wlan0' (5d29a639-97c7-49c0-8469-e845d3672d7b) successfully added.</li></p>
<p>Here, Balu-laptop is the name I have given for the connection (it is called SSID) and wifi-wlan0 is the id assigned by nmcli for that connection</p>
<li>After creating the connection, we have to edit the properties of that connection to make it an adhoc wifi hotspot. For that we have to enter the nmcli's editor mode (There should be options to do this in a single line. Have to experiment more)<br />
<strong>$ nmcli con edit wifi-wlan0</li></strong></p>
<p>This takes us to the command line mode of nmcli and we are greeted with a "nmcli>" prompt.</p>
<li>Let's take a glance at the current properties of the connection<br />
<br /><strong>nmcli> print</strong><br />
===============================================================================<br />
Connection profile details (wifi-wlan0)<br />
===============================================================================<br />
connection.id: wifi-wlan0<br />
connection.uuid: 5d29a639-97c7-49c0-8469-e845d3672d7b<br />
connection.interface-name: wlan0<br />
connection.type: 802-11-wireless<br />
connection.autoconnect: yes<br />
connection.timestamp: 0<br />
connection.read-only: no<br />
connection.permissions:<br />
connection.zone: --<br />
connection.master: --<br />
connection.slave-type: --<br />
connection.secondaries:<br />
connection.gateway-ping-timeout: 0<br />
-------------------------------------------------------------------------------<br />
802-11-wireless.ssid: Balu-laptop<br />
802-11-wireless.mode: --<br />
802-11-wireless.band: --<br />
802-11-wireless.channel: 0<br />
802-11-wireless.bssid: --<br />
802-11-wireless.rate: 0<br />
802-11-wireless.tx-power: 0<br />
802-11-wireless.mac-address: --<br />
802-11-wireless.cloned-mac-address: --<br />
802-11-wireless.mac-address-blacklist:<br />
802-11-wireless.mtu: ഓട്ടോ<br />
802-11-wireless.seen-bssids:<br />
802-11-wireless.hidden: no<br />
-------------------------------------------------------------------------------<br />
ipv4.method: auto<br />
ipv4.dns:<br />
ipv4.dns-search:<br />
ipv4.addresses:<br />
ipv4.routes:<br />
ipv4.ignore-auto-routes: no<br />
ipv4.ignore-auto-dns: no<br />
ipv4.dhcp-client-id: --<br />
ipv4.dhcp-send-hostname: yes<br />
ipv4.dhcp-hostname: --<br />
ipv4.never-default: no<br />
ipv4.may-fail: yes<br />
-------------------------------------------------------------------------------<br />
ipv6.method: auto<br />
ipv6.dns:<br />
ipv6.dns-search:<br />
ipv6.addresses:<br />
ipv6.routes:<br />
ipv6.ignore-auto-routes: no<br />
ipv6.ignore-auto-dns: no<br />
ipv6.never-default: no<br />
ipv6.may-fail: yes<br />
ipv6.ip6-Privacy: -1 (അപരിചിതം)<br />
ipv6.dhcp-hostname: --<br />
-------------------------------------------------------------------------------</li></p>
<li>Here we have to change the fields ipv4.method, ipv6.method, connection.autoconnect, 802-11-wireless.mode etc.
<ol>
<li>We change the ipv4.method to shared<br />
<strong>nmcli> set ipv4.method shared</strong></li></p>
<li>We change the ipv6.method to ignore<br />
<strong>nmcli> set ipv6.method ignore</strong></li></p>
<li>We prevent network manager from automatically connecting to the connection<br />
<strong>nmcli> set connection.autoconnect no</strong></li></p>
<li>We change the mode of connection to adhoc from infrastructure<br />
<strong>nmcli> set 802-11-wireless.mode adhoc</strong></li><br />
</ol><br />
</li></p>
<li>After editing, the property list looks like this===============================================================================<br />
Connection profile details (wifi-wlan0)<br />
===============================================================================<br />
connection.id: wifi-wlan0<br />
connection.uuid: 5d29a639-97c7-49c0-8469-e845d3672d7b<br />
connection.interface-name: wlan0<br />
connection.type: 802-11-wireless<br />
connection.autoconnect: no<br />
connection.timestamp: 1418809676<br />
connection.read-only: no<br />
connection.permissions:<br />
connection.zone: --<br />
connection.master: --<br />
connection.slave-type: --<br />
connection.secondaries:<br />
connection.gateway-ping-timeout: 0<br />
-------------------------------------------------------------------------------<br />
802-11-wireless.ssid: Balu-laptop<br />
802-11-wireless.mode: adhoc<br />
802-11-wireless.band: --<br />
802-11-wireless.channel: 0<br />
802-11-wireless.bssid: --<br />
802-11-wireless.rate: 0<br />
802-11-wireless.tx-power: 0<br />
802-11-wireless.mac-address: --<br />
802-11-wireless.cloned-mac-address: --<br />
802-11-wireless.mac-address-blacklist:<br />
802-11-wireless.mtu: ഓട്ടോ<br />
802-11-wireless.seen-bssids:<br />
802-11-wireless.hidden: no<br />
-------------------------------------------------------------------------------<br />
ipv4.method: shared<br />
ipv4.dns:<br />
ipv4.dns-search:<br />
ipv4.addresses:<br />
ipv4.routes:<br />
ipv4.ignore-auto-routes: no<br />
ipv4.ignore-auto-dns: no<br />
ipv4.dhcp-client-id: --<br />
ipv4.dhcp-send-hostname: yes<br />
ipv4.dhcp-hostname: --<br />
ipv4.never-default: no<br />
ipv4.may-fail: yes<br />
-------------------------------------------------------------------------------<br />
ipv6.method: ignore<br />
ipv6.dns:<br />
ipv6.dns-search:<br />
ipv6.addresses:<br />
ipv6.routes:<br />
ipv6.ignore-auto-routes: no<br />
ipv6.ignore-auto-dns: no<br />
ipv6.never-default: no<br />
ipv6.may-fail: yes<br />
ipv6.ip6-Privacy: -1 (അപരിചിതം)<br />
ipv6.dhcp-hostname: --<br />
-------------------------------------------------------------------------------</li></p>
<li>If everything looks fine, save the properties<br />
<strong>nmcli> save</strong></li></p>
<li>Quit the edit mode<br />
<strong> nmcli> quit</strong></li></p>
<li>Now lets activate the connection<br />
<strong> $ nmcli con up wifi-wlan0</strong></li></p>
<li>Now connect to the network and see if you get an IP. Suppose I get the IP 10.0.24.50. Also try it out from another computer and see if the hotspot gets detected and connect to the hotspot.</li>
<li>Now go to the directory and run the python SimpleHTTPServer<br />
<strong> $ python -m SimpleHTTPServer</strong><br />
Serving HTTP on 0.0.0.0 port 8000 ...</li></p>
<li>Now from the other computer, visit our IP:8000 ( 10.0.24.50:8000 ) and see if the directory gets listed. If it does, all is well.</li><br />
</ol><br />
</div></p>
