---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Ruby on Rails
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 508
wordpress_url: http://balasankarc.in/tech/?p=508
date: '2014-05-19 23:41:20 -0400'
date_gmt: '2014-05-19 18:11:20 -0400'
categories:
- Programming
tags:
- programming
- rails
- ruby
- github
- coding
- passion
comments: []
---
<p style="text-align: justify;">Howdy,<br />
As per my <a href="https://www.facebook.com/c.balasankar/posts/721623747848529" target="_blank">New Year Resolution of 2014</a>, I started learning Ruby on Rails. As usual, by 4 months, I had learned 4 lines. But, fortunately, it was time for my university exams. And, just like routine, I was super excited to do stuff (anything) other than studying for exams. I am most productive on the days just before my exams. So, I decided to reboot my Rails learning. And guess what, within 4 days I learned more stuff than what I learned in 4 months. I decided to wrote a Library Management System ( for my father's personal library and also my brother's college library). I knew Library Management Systems were extremely common there are many excellent solutions available and I was just reinventing the wheel. However, this project was a tutorial for me, and that gave me a chance to make mistakes and be cool about it. So, in short, the project was a sandbox. And, as expected, it was study for 15 minutes, code for 50 minutes. The project is still going on and can be found on my <a title="Github Repo" href="https://github.com/balasankarc/thaaliyola" target="_blank">https://github.com/balasankarc/thaaliyola</a>. Check the _dvt_ branch for latest pieces of commits.</p></p>
