---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Goodbye Facebook
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 515
wordpress_url: http://balasankarc.in/tech/?p=515
date: '2014-06-23 00:36:36 -0400'
date_gmt: '2014-06-22 19:06:36 -0400'
categories:
- FOSS

- Privacy
tags:
- freedom
- Privacy
- reset
- the
- net
- facebook
- surveillence
- startpage
- google
- license
comments:
- id: 2007
  author: Manu Krishnan T V
  author_email: tvm@bizzard.info
  author_url: http://www.bizzard.info
  date: '2014-06-23 17:53:02 -0400'
  date_gmt: '2014-06-23 12:23:02 -0400'
  content: "Indeed a good initiative. Rather than speaking about the Privacy issues
    of Facebook, one fine day, I deactivated my Facebook account.\r\n\r\nThe main
    inspiration was that I came across the download data option of facebook, which
    gives all data like when I logged in, from where and what all devices I use. Even
    with that data, one can find patterns of a person's thinking/lifestyle and
    which can be easily used against him/her.\r\n\r\nTill now, I haven't felt
    like I lost my social life. I am informed about events from my friends circle
    and people calls me more often and I am happy with that.\r\n\r\nMail was never
    an issue for me, but the associated services like contacts, and chat is what I
    was more worried about. Sorting out things one by one in my free time."
- id: 2681
  author: crakensio
  author_email: crazysarath8055@gmail.com
  author_url: http://thelinuxgod.net
  date: '2014-08-09 01:05:26 -0400'
  date_gmt: '2014-08-08 19:35:26 -0400'
  content: Really appreciable :)
---
<div style="text-align:justify">
Howdy,<br />
I am extremely happy to announce that I no longer will be using Facebook for the following activities (which, pretty much is everything I used it for before)</p>
<ol>
<li>Sharing a status</li>
<li>Uploading photos or videos</li>
<li>Comments</li>
<li>Re-sharing posts</li>
<li>Likes</li><br />
</ol><br />
This is in association with the<a href="http://resetthenet.org/"> Reset The Net</a> campaign initiated by two organizations - <a href="http://www.fightforthefuture.org/">Fight for the Future</a> and <a href="http://www.thecenterforrights.org/">Center for Rights</a> . This is done as a beginning step to protect my Privacy in the Internet.<br />
The following are a set of questions that I asked myself and others asked me regarding this decision. I am answering it as honestly as I can.</p>
<p><strong>Q1. Why the damn hell are you worried about your Privacy? All you post is silly stuff and who cares about them</strong></p>
<p>Answer: Pretty much true. All I post is silly stuff and there is very little chance that someone cares about them. BUT, I just am afraid of the idea that someone (government, or a 3rd party organization who pays facebook) can access, modify or delete the content I share without my consent, or even without my knowledge. Whether or not the stuff I share matters, I am offended by the possibility of such an unauthorized access.</p>
<p><strong>Q2. Explain your points agains Facebook</strong></p>
<p>Answer : I will try to point out as good as I can</p>
<ol>
<li><span style="text-decoration: underline;">Facebook uses closed-source software</span> - So it is impossible for me to know how they are handling MY data. Yeah, I may not be technically able to understand their code, but I would like to have the ability to analyze their code (Who knows, I may have a friend who can understand such kinda heavy code).</li>
<li><span style="text-decoration: underline;">Security and Privacy</span> - Due to its closed source nature, I can't know how secure my data is. How is it protected, who all can access it etc. My DATA is damn important for me.</li>
<li><span style="text-decoration: underline;">It own's my content</span> - Facebook's Terms and policy states that, for whatever content (that comes under Intellectual Property) I give them ownership.<br />
<blockquote><p><em>For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your <a href="https://www.facebook.com/Privacy/">Privacy</a> and <a href="https://www.facebook.com/settings/?tab=applications">application settings</a>: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Facebook (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</em></blockquote><br />
Well, WTF?? You can use the content I share as you wish? You can even sell them without my consent? What If I share my sister's photo and you sold it to a condom manufacturing firm to use on an Ad?? I don't want that and yes, I am offended.</li><br />
</ol><br />
<strong>Q3.Then why don't you delete your account?</strong></p>
<p>Anwer : There are several reasons</p>
<ol>
<li>There is obviously no good in deleting my account. Facebook says they will delete the data I shared and the license given to them will expire when my account is deleted. But, what proof is there to validate it? Their source code is closed. So, it will be a waste of my time to delete the account.</li>
<li>Most of my friends use Facebook and I don't want to lose access to the stuff they share. This may include a notice from my classmates, a photo of mine posted by another friend, notification of events such as marriages and stuff etc. Of course, I am sad that they use Facebook, but since I can't force them to stop it, unfortunately, the only way for me to get access to these things are via Facebook.</li>
<li>There are some official applications linked to my Facebook account. I don't want to lose them as they are used by other people also.</li><br />
</ol><br />
<strong>Q4. Why only Facebook? Doesn't Google and Twitter also invade your Privacy?</strong></p>
<p>Answer : Of course. As I said in the beginning, these are the first steps towards defending my Privacy in Internet. I have already ditched twitter and will eventually ditch Google also. For a start, I have created an email id with autistici ( balasankarc [at] autistici [dot] org ) and have redirected my other email id ( balasankarc [at] gnome [dot] org ) to this id. Also, I have replaced Google Drive with ownCloud and Google Contacts/Calendar with free CardDav/CalDav softwares. I have stopped using Google Search (unless the language of the search is not english) and moved to <a href="http://startpage.com">StartPage</a>.</p>
<p><strong>Q5. Oh, cut the crap. You will come back to Facebook for your precious contacts.</strong></p>
<p>Answer : I sincerely hope such a situation never arise. And moreover, I have other modes of communication to get in touch with my dear ones.</div></p>
