---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Connecting to Wifi hot spots through command line
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 573
wordpress_url: http://balasankarc.in/tech/?p=573
date: '2014-09-27 20:45:01 -0400'
date_gmt: '2014-09-27 15:15:01 -0400'
categories:

- CLI
tags:
- cli
- command line
- gnu/linux
- network
- manager
- networkmanager
- wireless
- wifi
- hotspot
- accesspoint
- terminal
comments: []
---
<p>Heyo,<br />
For quite a few days, I have been trying different ways to connect to a wireless network (protected through WPA-PSK) via command line a.k.a cli. I tried using wpa_supplicant, iwconfig, editing /etc/network/interfaces etc. Silly me, I was not looking at the great "NetworkManager" which happen to have a cli version. It is called <strong>nmcli</strong>.<br />
The following are the steps to connect to a wifi accesspoint from cli<br />
1. List out all the available access points using the command<br />
<strong><em>nmcli dev wifi list</em></strong><br />
2. Note the SSID of the access point you need to connect to and get its password<br />
3. Connect to access point using the command<br />
<strong><em>nmcli dev wifi connect password </em></strong><br />
Fill in for and eg : I have an accesspoint with name "Balu" and password "samplepassword". So to connect to it, I'll use<br />
<em>nmcli dev wifi connect Balu password samplepassword</em><br />
4. Voila!!</p>
<p>I see this as the easiest way to connect to a wireless network. And as <a href="https://rajeeshknambiar.wordpress.com/">Rajeeshettan</a> often says, NetworkManager is one of the best things that happened to GNU/Linux in quite some years.</p>
<p>&nbsp;</p>
<p>Happy Hacking.</p>
