---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Using Python and odfpy to create Open Document Texts
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 764
wordpress_url: http://balasankarc.in/tech/?p=764
date: '2015-12-07 15:00:22 -0500'
date_gmt: '2015-12-07 09:30:22 -0500'
categories:

- Programming
- Python
tags:
- python
- odfpy
- odt
- opendocumentformat
- docx
- odf
- module
- library
- tutorial
comments: []
---
<style>
code<br />
{<br />
color:#D14;<br />
background-color:#F7F7F9;<br />
border:1px solid #E1E1E8;<br />
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;<br />
}<br />
</style></p>
<p>Heyo,<br />
I have been doing a project for my college, which involved a question paper generation module. I initially relied on LaTex for doing the job and compiling the question paper as pdf from it. But, the staff may sometimes need to edit the questions on the fly before generating a pdf. So, it meant I have to give them an editable format. Most of the staff in my college are not well versed in LaTex, especially the ones from Non-engineering. So I had to go with some text document formats like docx or odt. The project was written in Django, so I searched for docx wrappers in Python (as my college was still in Windows). I eventually found out <a href="https://github.com/python-openxml/python-docx">python-docx</a> but it lacked many features that I wanted, like tabstop to seperate between the question and it's mark or to write two words at two ends of a single line etc. Yes, there were issues file on these, but nothing seems to happen on that front. So, I decided to drop the idea of using docx and move with odt, since newer versions of MS Word supports them without much hassle. That's when I ended up with <a href="https://github.com/eea/odfpy">odfpy</a></p>
<p>Like any other library, I wanted to read the documentation of the library to understand how basic stuff works (Yeah, the RTFM part of me!!). Boy, was I disappointed. The documentation part of odfpy is crap, to put it out bluntly. Yes, there exits an <a href="http://opendocumentfellowship.com/repos/odfpy/trunk/api-for-odfpy.odt">API documentation</a> but it seems too technical and doesn't convey the concepts well. So, it was pretty difficult to get what I want with it. Thanks to the hacker mindset, I was ready to read code and understand it. And the upstream had added several tests to test most of the features which I could use as reference. I was able to get what I wanted and I decided to blog about it so that it'll be a help to others and a note to myself for future reference. So here goes.</p>
<p>To install odfpy in Debian systems, one may use the command <code>sudo apt-get install python-odf</code>. You can also use <code>pip</code> for the job by using <code>sudo pip install odfpy</code>.</p>
<p>Let the hacking begins</p>
<ol>
<li>Create a python file named odftest.py with the following contents
<pre><code>#!/usr/bin/env python<br />
# -*- coding: utf-8 -*-</p>
<p>from odf.opendocument import OpenDocumentText<br />
from odf.style import (Style, TextProperties, ParagraphProperties, ListLevelProperties, TabStop, TabStops)<br />
from odf.text import (H, P, List, ListItem, ListStyle, ListLevelStyleNumber, ListLevelStyleBullet)<br />
from odf import teletype<br />
</code></pre></p>
<p>These are the common modules we need to import for a document. The first one is <code>OpenDocumentText</code> which is the master module that deals with the base class. <code>odf.style</code> has the stuff needed to stylize the document. Like properties for paragraphs, text, lists etc. <code>odf.text</code> handles the text objects like headings, paragraphs, lists etc. <code>teletype</code> module deals with retrieval and insertion of text to elements with proper handling of line breaks and whitespaces.</p></li></p>
<li>
<p>First we need to create an <code>OpenDocumentText</code> object which will act as the base object which creates the document.<br /><br />
<code>textdoc = OpenDocumentText()</code></p></li></p>
<li>
<p>Next we need to create styles to be used in the document - Headings, Bold texts, Bullets, Numbering etc. The following code is written for readability and may be bummed skipping variable assignments with direct usage.</p>
<pre><code># For Level-1 Headings that are centerd<br />
h1style = Style(name="CenterHeading 1", family="paragraph")<br />
h1style.addElement(ParagraphProperties(attributes={"textalign": "center"}))<br />
h1style.addElement(TextProperties(<br />
 attributes={"fontsize": "18pt", "fontweight": "bold"}))<br />
</code></pre></p>
<p>Here, the first line of code initializes a <code>Style</code> object, which has a specific name and belongs to a specific family. Alignment of the text is the property of a paragraph, so it is given as an argument to ParagraphProperties in the second line. However, fontsize and fontweight apply to a specific text, not a paragraph. Hence, they are given as argument to TextProperties object.</p>
<pre><code># For Level-2 Headings that are centered<br />
h2style = Style(name="CenterHeading 2", family="paragraph")<br />
h2style.addElement(ParagraphProperties(attributes={"textalign": "center"}))<br />
h2style.addElement(TextProperties(<br />
 attributes={"fontsize": "15pt", "fontweight": "bold"}))<br />
</code></pre></p>
<p>This block of code defines a smaller headin (note the change in fontsize attribute)</p>
<pre><code># For bold text<br />
boldstyle = Style(name="Bold", family="text")<br />
boldstyle.addElement(TextProperties(attributes={"fontweight": "bold"}))<br />
</code></pre></p>
<p>Here we are defining a style to make text bold. Since it doesn't have anything to deal with paragraphs, it only has TextProperties object</p>
<pre><code># Justified style<br />
justifystyle = Style(name="justified", family="paragraph")<br />
justifystyle.addElement(ParagraphProperties(<br />
 attributes={"textalign": "justify"}))<br />
</code></pre></p>
<p>Here, we specify the justified style, that is applicable to paragraphs. Hence it uses a ParagraphProperties element.</p>
<pre><code># For numbered list<br />
numberedliststyle = ListStyle(name="NumberedList")<br />
level = 1<br />
numberedlistproperty = ListLevelStyleNumber(level=str(level), numsuffix=".", startvalue=1)<br />
numberedlistproperty.addElement(ListLevelProperties(minlabelwidth="%fcm" % (level)))<br />
numberedliststyle.addElement(numberedlistproperty)<br />
</code></pre></p>
<p>Here we define the style to be used for Level 1 numbering, which means no nesting of numbering. The first line, as always defines a Style object which will represent the style. ListLevelStyleNumber() is used to specify that the list is a numbered list and to define the level of the numbering, which in our case is 1. The attribute <code>numsuffix</code> defines the character that should be inserted after a numeral, in the numbering scheme - which in our case is a period (.) and startvalue defines the starting number of the list.<br />
Also, we add ListLevelProperties to impart some features to the items of the list. Here, it is <code>minlabelwidth</code> which specifies how much width should be given to the numbering portion of the text, i.e how much space should be left after the number before the content begins.</p>
<pre><code># For Bulleted list<br />
bulletedliststyle = ListStyle(name="BulletList")<br />
level = 1<br />
bulletlistproperty = ListLevelStyleBullet(level=str(level), bulletchar=u"&bull;")<br />
bulletlistproperty.addElement(ListLevelProperties(<br />
 minlabelwidth="%fcm" % level))<br />
bulletedliststyle.addElement(bulletlistproperty)<br />
</code></pre></p>
<p>Bulleted list is pretty similar to numbered list and the differences are it uses <code>ListLevelStyleBullet</code> which takes <code>bulletchar</code> as argument. Rest is pretty much the same.</p>
<pre><code># Creating a tabstop at 10cm<br />
tabstops_list = TabStops()<br />
tabstop = TabStop(position="10cm")<br />
tabstops_list.addElement(tabstop)<br />
tabstoppar = ParagraphProperties()<br />
tabstoppar.addElement(tabstops_list)<br />
tabstyle = Style(name="Question", family="paragraph")<br />
tabstyle.addElement(tabstoppar)<br />
s.addElement(tabstyle)<br />
</code></pre></p>
<p>In this block, we specify the tabstops we may encounter in the documet. The <code>TabStops</code> element is a collection of all the tab stops we may define. <code>TabStop</code> element is actually the one pointing to each tab stop and understandably, it takes <code>position</code> as an argument. Since tab stops apply to a paragraph, we create a <code>ParagraphProperties</code> object to which we add the list of tabstops we have - <code>tabstops_list</code>. For it to be applied to a text, as seen below, we have to make it a style. So, we create <code>tabstyle</code> for that purpose and add the <code>ParagraphProperties</code> element to it.</p></li></p>
<li>
<p>So, now we have created all our necessary styles. But, how do we associate that to the <code>OpenDocumentText</code> object we created? How will we specify that these all are the style that may be used in the document? For that, we have to add each of the styles we created to the document's style list. It is done as follows</p>
<pre><code>s = textdoc.styles<br />
s.addElement(h1style)<br />
s.addElement(h2style)<br />
s.addElement(boldstyle)<br />
s.addElement(numberedliststyle)<br />
s.addElement(bulletedliststyle)<br />
s.addElement(justifystyle)<br />
s.addElement(tabstyle)<br />
</code></pre></li></p>
<li>So, all our styles have been created and added to our Document. Now it is time to actually insert some text and apply these styles to it. Let's first add our main heading
<pre><code>mymainheading_element = H(outlinelevel=1, stylename=h1style)<br />
mymainheading_text = "This is my main heading"<br />
teletype.addTextToElement(mymainheading_element, mymainheading_text)<br />
textdoc.text.addElement(mymainheading_element)<br />
</code></pre></p>
<p>odfpy has two main classes for text - <code>H</code> and <code>P</code>. <code>H</code> is for headings and <code>P</code> is for paragraphs. In this block, since we are adding a heading, we create an <code>H</code> object and specifies the outlinelevel (which is normally 1) and the stylename that we created earlier, <code>h1style</code>. Also, we add some text to the object using <code>teletype.addTextToElement</code> method. Like I said before, we use teletype to properly handle whitespaces like tabs or newlines. Instead, we can directly give the text as <code>text</code> argument to the initialization of <code>H</code> (or <code>P</code>) object. But this will simply skip tabs or newlines instead of handling them. So I prefer using <code>teletype</code>. Finally, we add the created <code>H</code> object to our document using <code>textdoc.text.addElement</code> method.</p></li></p>
<li>
<p>Similarly, create a subheading using <code>h2style</code> as stylename</p></li></p>
<li>
<p>Adding a paragraph is also similar</p>
<pre><code>paragraph_element = P(stylename=justifystyle)<br />
paragraph_text = """<br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem<br />
Ipsum has been the industry's standard dummy text ever since the 1500s, when an<br />
unknown printer took a galley of type and scrambled it to make a type specimen<br />
book. It has survived not only five centuries, but also the leap into electronic<br />
typesetting, remaining essentially unchanged. It was popularised in the 1960s<br />
with the release of Letraset sheets containing Lorem Ipsum passages, and more<br />
recently with desktop publishing software like Aldus PageMaker including<br />
versions of Lorem Ipsum.<br />
"""<br />
teletype.addTextToElement(paragraph_element, paragraph_text)<br />
textdoc.text.addElement(paragraph_element, paragraph_text)<br />
</code></pre></li></p>
<li>Let's see how to add a bulleted list with two items
<pre><code>bulletlist = List(stylename=bulletedliststyle)<br />
listitemelement1 = ListItem()<br />
listitemelement1_paragraph = P()<br />
listitemelement1_content = "My first item"<br />
teletype.addTextToElement(listitemelement1_paragraph, listitemelement1_content)<br />
listitemelement1.addElement(listitemelement1_paragraph)<br />
bulletlist.addElement(listitemelement1)<br />
listitemelement2 = ListItem()<br />
listitemelement2_paragraph = P()<br />
listitemelement2_content = "My second item"<br />
teletype.addTextToElement(listitemelement2_paragraph, listitemelement2_content)<br />
listitemelement2.addElement(listitemelement2_paragraph)<br />
bulletlist.addElement(listitemelement2)<br />
textdoc.text.addElement(bulletlist)<br />
</code></pre></p>
<p>As we seen earlier, we create a <code>List</code> object to represent the complete list with the style <code>bulletedliststyle</code> that we defined earlier as stylename argument. For each individual item of the list, we need a <code>ListItem</code> object which contains a <code>P</code> object that holds the text. We add text to the paragraph using <code>teletype</code>, then add the <code>P</code> object to the <code>ListItem</code> object and  the <code>ListItem</code> object to the <code>List</code> object. This is repeated for another <code>ListItem</code>. This <code>List</code> object is finally added to the document.</p></li></p>
<li>Adding a numbered list is similar to a bulleted list. We just specify <code>numberedliststyle</code> as stylename.</li>
<li>
<p>To use the tabstop style we defined, create a paragraph with that style</p>
<pre><code>newtext = "Testing\tTabstops"<br />
tabp = P(stylename=tabparagraphstyle)<br />
teletype.addTextToElement(tabp, newtext)<br />
textdoc.text.addElement(tabp)<br />
</code></pre></li></p>
<li>So, we have added all the necessary contents to our document. Now we should save it to an odt file. For that, we use the <code>save</code> method.
<pre><code>textdoc.save(u"myfirstdocument.odt")<br />
</code></pre></li><br />
</ol></p>
<p>If we open the document 'myfirstdocument.odt' in LibreOffice, we can see something like the following.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/12/LO1.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/12/LO1.png" alt="LO_preview" width="1365" height="747" class="alignnone size-full wp-image-805" /></a></p>
<p>The complete code is as follows</p>
<p><script src="https://gist.github.com/balasankarc/1832670ec8ddd9a34d33.js"></script></p>
