---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Lenovo G5030 WiFi Disabled in Linux Mint
author:
  display_name: Balasankar C

  login: balasankarc
  email: balasankarc@autistici.org
  url: http://balasankarc.in
author_login: balasankarc
author_email: balasankarc@autistici.org
author_url: http://balasankarc.in
wordpress_id: 712
wordpress_url: http://balasankarc.in/tech/?p=712
date: '2015-07-16 00:23:40 -0400'
date_gmt: '2015-07-15 18:53:40 -0400'
categories:
- bugfix
tags:
- linux
- wireless
- wifi
- mint
- ubuntu
- bugfix
- lenovo
- disabled
comments: []
---
<p>Heyo folks,<br />
Recently, I bought a Lenovo G5030 Laptop for my father. The first thing I did, was install GNU/Linux in it. Since it was for my father, I installed Linux Mint 17.1 in it. It detected Ethernet, WiFi and Bluetooth automatically. But the issue was, WiFi was disabled. I tried clicking the toggle button in Network Panel (from the network applet in bottom panel). But, it never got enabled. So, I decided to fire <span style="color:red"><code>rfkill list</code></span>, to check whether the WiFi was blocked. Guess what, it was blocked.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-15-235638.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-15-235638.png" alt="rfkill list" width="495" height="220" class="alignnone size-full wp-image-717" /></a></p>
<p>The module ideapad&#95;wlan was hard blocked. Since, it was hardblocked, <code>rfkill unblock all</code> won't touch it. After a bit of searching internet forums, I found the answer. I had to blacklist ideapad&#95;wlan. So, I did the following command<br />
<span style="color:red"><code>echo "blacklist ideapad_laptop" | sudo tee -a /etc/modprobe.d/blacklist.conf</code></span><br />
Just to make sure that the line was added to blacklist.conf, I did a <span style="color:red"><code>tail</code></span> on the file</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-16-000009.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-16-000009.png" alt="tail" width="653" height="189" class="alignnone size-full wp-image-716" /></a></p>
<p>I had to reload the module using <span style="color:red"><code>sudo modprobe -r ideapad_laptop</code></span>. Then, when I tried <span style="color:red"><code>rfkill list</code></span>, ideapad&#95;wlan was no longer there (actually, ideapad&#95;bluetooth was also gone, which I hope is for good). However, the physical wlan was also soft blocked. I unblocked it using <span style="color:red"><code>sudo rfkill unblock all</code></span> and voila! everything worked fine.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-16-001557.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/07/Screenshot-from-2015-07-16-001557.png" alt="wififine" width="426" height="119" class="alignnone size-full wp-image-718" /></a></p>
<p>PS : Will try out the laptop more and write a detailed review when I get time. Also, need to check it for <a href="http://h-node.org">h-node.org</a></p>
