---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: publish2wp - Wordpress Publisher
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 635
wordpress_url: http://balasankarc.in/tech/?p=635
date: '2015-06-20 01:44:00 -0400'
date_gmt: '2015-06-19 20:14:00 -0400'
categories:

- CLI
tags:
- cli
- python
- wordpress
- publisher
comments: []
---
<p>Heyo folks,<br />
I am pretty sure you all know about the numerous wordpress publishing scripts out there. Still, I wrote one. Why? Just to scratch my personal itch. I am not at all interested in opening up my browser (Mozilla Firefox) which actually is a memory thief. I would be in heaven if I could just do everything via the command line. So, writing posts was a "should-i-do-it-or-not" task for me always, just because of the laziness to open Firefox.</p>
<p>So, I checked out some of the wordpress posting apis and found out the package xmlrpc_wordpress to be a good one. So, I wrote a custom tool using that wrapper which read text files and posts them(or saves them as draft) to a wordpress instance. Guess what? I am publishing this post using that tool and it seems to work pretty fine. <del>May update it so as to add support for tags and categories, but not sure if I'll still have the enthusiasm to do that after some time.</del> Added category and tag support. So, if anyone want to try that tool, it is hosted in my <a href="http://gitlab.com/balasankarc/publish2wp">GitLab Repo</a></p>
<p>I am using it in combination with a markdown to html converter script (which is actually a wrapper around the Python markdown module), which can be seen here. This is done to make sure as part of proofreading so that I can happily publish it directly.</p>
<p>#!/usr/bin/python<br />
import markdown<br />
import sys</p>
<p>inputfile = open(sys.argv[1])<br />
outputfile = open(sys.argv[2],'w')<br />
markdowntext = inputfile.read()<br />
htmltext = markdown.markdown(markdowntext)<br />
outputfile.write(htmltext)<br />
outputfile.close()<br />
inputfile.close()</p>
