---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Rahasya - Privacy aware Daily Journal
author:
  display_name: Balasankar C

  login: balasankarc
  email: balasankarc@autistici.org
  url: http://balasankarc.in
author_login: balasankarc
author_email: balasankarc@autistici.org
author_url: http://balasankarc.in
wordpress_id: 720
wordpress_url: http://balasankarc.in/tech/?p=720
date: '2015-07-30 08:10:46 -0400'
date_gmt: '2015-07-30 02:40:46 -0400'
categories:

- Programming
- Privacy
- Python
tags:
- programming
- Privacy
- gui
- python
- qt
- journal
comments: []
---
<p>Heyo,<br />
I've always wanted to try out the concept of Daily Journal, where I write everything (well, almost everything. If I could remember everything you would've already seen me as topper of exams. :P) happened each day and whatever comes to mind regarding them openly. But the main factor that kept me back was the fear of someone else reading my diary (or more precisely, due to my nature of keeping things "secure" I may lose it and someone else may find it). So the idea lied forgotten in the attic. However I recently wanted to try out GUI programming with Qt and the idea suddenly came back. So decided to write a Daily Journal software using Python. The Privacy issue would be fixed using always trust worthy GPG. As a basic step, decided to use files to store the data after encryption. I also have an idea to learn Android by porting this application and providing some way to Sync between devices.</p>
<p>The code, as usual, is available <a href="https://gitlab.com/balasankarc/rahasya">here</a>.</p>
