---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Debian Jessie Release Party @ Kochi
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 594
wordpress_url: http://balasankarc.in/tech/?p=594
date: '2015-04-26 12:31:34 -0400'
date_gmt: '2015-04-26 07:01:34 -0400'
categories:
- Debian
- SMC

tags:
- smc
- gnu/linux
- debian
- jessie
- release
- kssp
comments: []
---
<p>Howdy,</p></p>
<p style="text-align:justify">
25th of April, 2015 was an important day in the lives of Free Software enthusiasts. Debian released its 8th version - named Jessie (as always, from the Toy Story movie series) on that day. It was relesed after about 2 years of rigorous testing and debugging and would surely be the most stable one of all. As part of the release, there were release parties organized all [over the world](https://wiki.debian.org/ReleasePartyJessie/). About 13 programmes were organized in different parts of Kerala by Swathanthra Malayalam Computing in collaboration with various Free Software User Groups and similar minded organizations like KSSP, IT@School etc. In the event organized at Floor of Madness, DBG at Thiruvananthapuram Technopark, the current DPL, Neil McGovern  addressed the event via videochat.<br />
</p></p>
<p style="text-align:justify">
In Kochi, the event was organized by Kerala Shasthra Sahithya Parishad (KSSP) and I was invited as the speaker. The programme was a bit delayed due to some power outrages. About 15 people attended the programme and consisted of both young and middle-aged. The older guys were, in fact more interested in learning about GNU/Linux and its ideology. Since, most of them were KSSP members and were already familiar with the concept and importance of Freedom in various sectors of life, they didn't have much trouble in grasping the idea of Software freedom. The organizational structure of Debian was discussed, along with the DFSG and do-o-cratic modus operandi of Debian. Various stages of Debian like Stable, Unstable and Testing, and the flow of packages through these three were explained. Slightly technical stuff like what packages are, different repos of Debian like Main, Contrib, Non-free, what backports are etc were also mentioned. An enthusiastic guy named Ananthanarayanan also helped me in explaining these. Also discussed the transitions to Free Software that is happening in Kerala - like Niyamasabha migrating to LibreOffice, KSEB having Oruma, and now the Kerala Police migrating slowly to Free Software.<br />
</p></p>
<p style="text-align:justify">
The participants was eager to know if there are alternatives to the various propreitary softwares that they use - like Tally, Photoshop, Maya etc. I told them about GNUKhata and how it had more features than Tally and how ICFOSS has been using it successfully for almost 3 years. Also other softwares like GIMP, Inkscape, Blender etc were introduced. I also discussed about the need of such meetups and events which act as a platform to bring together the interested learners and trainers who can teach them. A major reason for people not adopting Free Software is their ignorance about the existence of Free Software and the resources which they can depend on for learning about Free Software. In the participants opinion, companies are willing to migrate from Tally, but they can't find training for the alternatives like GNUKhata anywhere. Also, in addition to an introduction to Free Software, many of the newcomers need follow ups to clear their doubts - like consultants or people to troubleshoot issues with their computers. People only know about Windows repairing guys whose common solution to all programs is "First restart, then format". They don't know about the Free Software community which exists all over the World, and its subset in Kerala. So, when they want to learn something or have some doubt about some Free Software, they don't know whom to ask. Organizations like KSSP and SMC, which already have a well build organizational structure can help very much in building up platforms like this to introduce these people to Free Software. When such organizations take initiative and publicize about these events, they do has a larger reach compared to individuals talking about FS.<br />
</p></p>
<p style="text-align:justify">
KSSP has shown interest in conducting training camps to GNU/Linux and other commonly used applications like LibreOffice, GIMP etc. Hope they take it forward soon.<br />
The participants were given ISOs of Debian Jessie RC3 (couldn't do an install fest due to shortage of time). See some photos below (sorry for the poor quality).</p>
<p></p></p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_2296.jpg"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_2296-300x225.jpg" alt="IMG_2296" width="300" height="225" class="alignnone size-medium wp-image-597" /></a></p></p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_20150425_172127889.jpg"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_20150425_172127889-300x169.jpg" alt="IMG_20150425_172127889" width="300" height="169" class="alignnone size-medium wp-image-598" /></a></p></p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_20150425_172139533.jpg"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/04/IMG_20150425_172139533-300x169.jpg" alt="IMG_20150425_172139533" width="300" height="169" class="alignnone size-medium wp-image-599" /></a></p></p>
