---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'Debian GitLab Packaging Diaries #2 - Ruby 2.2 transition and mono-logger FTBFS'
author:
  display_name: Balasankar C

  login: balasankarc
  email: balasankarc@autistici.org
  url: http://balasankarc.in
author_login: balasankarc
author_email: balasankarc@autistici.org
author_url: http://balasankarc.in
wordpress_id: 674
wordpress_url: http://balasankarc.in/tech/?p=674
date: '2015-06-23 00:00:59 -0400'
date_gmt: '2015-06-22 18:30:59 -0400'
categories:

tags:
- ruby
- debian
- packaging
- gitlab
comments:
- id: 43293
  author: 'Debian GitLab Packaging Diaries #3 (June 26 &#8211; July 3) | Technocrazian'
  author_email: ''
  author_url: http://balasankarc.in/tech/?p=678
  date: '2015-07-03 23:17:16 -0400'
  date_gmt: '2015-07-03 17:47:16 -0400'
  content: "[&#8230;] logger-application &#8212; add logging support to Ruby application.
    Remember the issue with mono-logger and Ruby 2.2 mentioned earlier? [&#8230;]"
---
<p>Heyo folks,<br />
I had packaged the gem <a href="http://rubygems.org/gems/mono_logger">mono-logger</a> as part of GitLab packaging. It was a dependency of resque, which in turn was a dependency of devise&#95;async. At that time, Ruby 2.1 was the official version of Debian and packages were build based on that. However, recently, <a href="http://softwarelivre.org/terceiro">Antonio</a> had <a href="https://lists.debian.org/debian-ruby/2015/06/msg00026.html">updated</a> ruby-defaults adding Ruby 2.2 to the list of supported interpreters. Along with that, <a href="http://www.proba.jussieu.fr/~boutil/">C&eacute;dric</a> had <a href="https://lists.debian.org/debian-ruby/2015/06/msg00027.html">uploaded RSpec 3.0</a> to unstable from experimental. And, some of the packages that I co-maintain began to break. The main issues were</p>
<ol>
<li>ruby-sqlite had to be rebuilt against Ruby 2.2</li>
<li>Ruby 2.2 didn't ship test-unit against it. So, now have to include ruby-test-unit to the build dependencies</li>
<li>Many gems still used RSpec 2 and tests gave errors and deprecation warnings</li><br />
</ol></p>
<p>So, in mono-logger, I faced two issues</p>
<ol>
<li>There were skipped tests, which used the keyword 'skip'. This was supported in Ruby 2.2, in which test-unit was a mere wrapper of Minitest. However, in Ruby 2.2, test-unit was an entirely distinct gem and it used 'omit' instead of 'skip'. But, I couldn't simply change to omit as it was not in Ruby 2.1. Another solution was to use minitest instead of test-unit and retain skip. But, the test involved some stuff which used the assertion <strong><em>assert_nothing_raised</em></strong> from test-unit, which surprisingly, wasn't present in Minitest. So, as a solution, I just commented out the skipped tests. :D</p></li>
<li>The logger gem, which is the base of mono&#95;logger, in Ruby 2.2 didn't ship <strong><em>Logger::Application</em></strong> any more. This was now another gem (seriously Ruby devs, what the fuck? Do you get some sort of wild happiness when releasing a gem for every small piece of code?). So, now I had one more gem in the long-enough-now-itself dependency chain - <strong><em>logger-application</em></strong>. When I tried to package that, it brought another dependency - <strong><em>mspec</em></strong>. And guess what just gatecrashed the party? mspec used Rspec ~2. Seriously, I am tired. :(</p></li><br />
</ol></p>
<p>Thinking to disable tests for now.</p>
