---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: A Gemfile parser in Python
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 756
wordpress_url: http://balasankarc.in/tech/?p=756
date: '2015-11-01 22:20:14 -0500'
date_gmt: '2015-11-01 16:50:14 -0500'
categories:
- Programming
- Python
tags:
- ruby
- python
- parser
- gemfile
comments: []
---
<p>Heyo,<br />
There were times when I thought I should go with both Python and Ruby and thus get a firm grip in both languages. But, it seems, I am no longer motivated to code in Ruby. So, I decided to stick with Python for all my coding purposes. But, there were some stuff that I use, which is already written in Ruby by someone else. So, what to do except porting it to Python?</p>
<p>One such project came with my Debian activities, where I maintain progressbars for the packaging status of <a href="http://balasankarc.in/diaspora">Diaspora</a> and <a href="http://balasankarc.in/gitlab">GitLab</a>. It involves finding out the dependencies mentioned in Gemfile (or gemspec file), finding out the dependency chains of these level-one dependencies using <a href="http://rubygems.org">Rubygems API</a>. Cedric of Debian-Ruby team have already written a program to accomplish these tasks in Ruby, which can be found <a href="http://gitlab.com/debian-diaspora/gemdeps">here</a>. It used a gem called <a href="https://rubygems.org/gems/gemnasium-parser">gemnasium-parser</a> which can be used to parse Gemfiles. I decided to write such an implementation in Python.</p>
<p>A Gemfile lists the dependencies of a Ruby application in a specific format. Example of a gemfile can be seen below</p>
<pre><code>source "https://rubygems.org"</p>
<p>gem "rails", "4.2.4"<br />
gem "rspec", group: test</p>
<p>group :development<br />
gem "mini_portile"<br />
gem "fog-atmos"<br />
end<br />
</code></pre></p>
<p>Gems may be under different groups, can have version requirements etc. These all has to be parsed correctly by a parser.</p>
<p>Reading the code of Gemnasium/Parser, I saw that they were using regular expressions to do the task. So, I decided to mimic it and use regular expressions. I wrote regexes to handle different tokens in the Gemfile - gem name, version, autorequire, group etc.</p>
<p>I have been following the PEP8 standards for so long, but this was the first project I decided to try Pylint also. Pylint + PEP8 sure is an awesome combination to make your code clean and professional.</p>
<p>So, after I wrote the parser and did several modifications, I decided to release it to <a href="http://pypi.python.org/">PyPi</a>, which I was doing for the first time. I created an account in PyPi and pushed the library to it.</p>
<p>I was (and still am) to see that the number of downloads gets increased at a fascinating rate (~1000 within few days for a library that has a very specific usecase). Maybe some bug in PyPi.</p>
<p>The code is available in <a href="http://gitlab.com/balasankarc/gemfileparser/">my gitlab repo</a> and the package can be found at the <a href="https://pypi.python.org/pypi/gemfileparser">PyPi page</a> .</p>
