---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Trying out Diaspy - ICU and Commitstrip bots for D*
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 733
wordpress_url: http://balasankarc.in/tech/?p=733
date: '2015-08-26 20:33:34 -0400'
date_gmt: '2015-08-26 15:03:34 -0400'
categories:
- Programming
- Python
tags:
- programming
- coding
- gnu/linux
- debian
- diaspora
- python
- diaspy
- api
- icu
- commitstrip
- chalu
comments: []
---
<p>Heyo,</p>
<p>As you may know, I am a long time supporter and user of Diaspora, the free, decentralized, Privacy-aware social networking platform. I also am one of the podmins of a Diaspora instance (called pod) - <a href="https://poddery.com">Poddery</a>. One of the main things missing in Diaspora is a stable and usable API which prevented me from using it programatically. But recently, I came to know about <a href="https://github.com/marekjm/diaspy">Diaspy</a>, which is an unofficial Python interface for Diaspora, when it was <a href="https://tracker.debian.org/pkg/python-diaspy">accepted to Debian</a>.</p>
<p>So, as usual, I started playing with it. One of the reasons I visited Facebook even after deleting my account was <a href="https://www.facebook.com/internationalchaluunion">International Chalu Union</a> which is the largest comedy platform in Facebook that handled almost everything sarcastically. Recently, I came to know about their <a href="http://chaluunion.com/">website</a> which implemented a IFTTT from the Facebook page. So, all the posts that are published in the Facebook page will be automatically posted to their website. I wanted to lose this dependency on Facebook and though of using diaspy to pull those posts and publish them to Diaspora. So, I started writing a script which could be used along with a cron job to check for new posts and use diaspy to publish them to poddery.  Initially I used a system which kept all the downloaded images and checked them to prevent redownloading. Later, I decided to go with logging for that. But, it seems diaspy has some issues with handling relative paths for image uploads. XPath rocks people.</p>
<p>Anyway, the ICU guys agreed to use it as their official Diaspora account and I started running a cron job for doing the job. The results are posted via <a href="poddery.com/u/icu">this poddery account</a>.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/08/diaspy.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/08/diaspy.png" alt="diaspy" width="1349" height="1111" class="alignnone size-full wp-image-735" /></a></p>
<p>After that, I wanted to get <a href="http://commitstrip.com">Commitstrip</a> to Diaspora and I asked the concerned people for permission to use their comics and they were happy to grant me. So, today I modified my original script and created another <a href="https://poddery.com/u/commitstrip">diaspora account</a> to get Commitstrip comics to Diaspora.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/08/cmstrp.png"><img src="http://balasankarc.in/tech/wp-content/uploads/2015/08/cmstrp.png" alt="cmstrp" width="1349" height="934" class="alignnone size-full wp-image-738" /></a></p>
<p>The original code of ICU poster can be found, as usual, in my <a href="https://gitlab.com/balasankarc/icu_diasposter">Gitlab Account</a></p>
