---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: RTL8723BE Internet (Wi-Fi) down after some time in Linux Mint (and possibly
  Ubuntu too)
author:

  display_name: Balasankar C
  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 688
wordpress_url: http://balasankarc.in/tech/?p=688
date: '2015-07-09 21:42:49 -0400'
date_gmt: '2015-07-09 16:12:49 -0400'
categories:
- bugfix
tags:
- linux
- wireless
- wifi
- mint
- ubuntu
- internet
- down
- sometime
- realtek
- rtl8723be
- unstable
comments:
- id: 43313
  author: renu
  author_email: renusarang@gmail.com
  author_url: ''
  date: '2015-07-09 21:53:29 -0400'
  date_gmt: '2015-07-09 16:23:29 -0400'
  content: Thank u so much...
---
<p>Hi,<br />
I have been making my friends migrate from Windows to GNU/Linux. Since they were extreme begineers I installed Linux Mint on their computers. Most of the systems worked perfectly with a windows-gnulinux dual boot. But some new HP systems had the "feature" that only one OS can be installed at a time. However, I convinced them to remove Windows (Yay me!!) and installed Linux Mint only.<br />
In those two systems, the Wireless card was Realtek RTL8723BE (as per the output of <span style="color:red"><code>lspci</code></span>) and it was acting weird. The wifi works fine for some time and then it suddently just stops working. One way it was fixed was by disabling and re-enabling the device (by <span style="color:red"><code>sudo rmmod rtl8723be &amp;&amp; sudo modprobe rtl8723be</code></span>), but this was not practical each time.</p>
<p>After some internet searching, I got a solution. To disable fwlps and ips of RTL8723BE device. It was done using the following command<br />
<span style="color:red"><code>echo "options rtl8723be fwlps=N ips=N" | sudo tee /etc/modprobe.d/rtl8723be.conf</code></span></p>
<p>And did a reboot. Voila!! Internet is stable again and world is safe. :D</p>
