---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: My 2^10 days of packaging
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 725
wordpress_url: http://balasankarc.in/tech/?p=725
date: '2015-08-09 17:44:01 -0400'
date_gmt: '2015-08-09 12:14:01 -0400'
categories:
- Debian
tags:
- ruby
- gnu/linux
- debian
- diaspora
- packaging
- gitlab
- nostalgia
comments: []
---
<p>Heyo folks,</p>
<p>Today, out of the blue, I decided to check how many days have gone since I was first introduced to packaging by <a href="https://poddery.com/u/praveen">Praveen</a>. From my <a href="http://balasankarc.in/tech/?p=9">blog post entry</a>, it was on October 20, 2012 when I joined an IRC training conducted by Praveen. It was for the packaging of Diaspora and in general that of ruby gems. And today, 1024 days had passed since I first tried my hands in packaging. So, thought about documenting the phases involved in it.</p>
<h3>The beginning - October, 2012</h3></p>
<p>The first gem I filed an <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=691054">ITP</a> for was <a href="http://rubygems.org/gems/jammit">jammit</a>. I was walked through the basic steps mentioned here and while checking for the dependencies, there were two unpackaged ones - <a href="http://rubygems.org/gems/cssmin">cssmin</a> and <a href="http://rubygems.org/gems/">jsmin</a>. Well, that got my spirits down. After all, everyone do hope to get the stuff rolling in their first try. Also, I was intimidated by the fact that jammit, being an application rather than a library, required me to write a manpage while packaging. So, that made me to drop the packaging idea for a while and I never tried it again for two years</p>
<h3>The second beginning - August and September 2014</h3></p>
<p>In 2014, I wanted to give packaging another try and was suggested the gem timeline-setter by Praveen. I used the gem2deb tool and created a package and sent an <a href="https://lists.debian.org/debian-ruby/2014/08/msg00053.html">RFS to list</a>. But I had missed something. Guess what, it had jammit as a dependency. So, I decided to start packaging cssmin, a runtime dep of jammit. I prepared a package for cssmin, and <a href="https://lists.debian.org/debian-ruby/2014/08/msg00065.html">sent an RFS</a> to Debian Ruby mailing list. Praveen mentioned some changes to the packaging and I did them and pushed to alioth. Well, he uploaded it and my first package was accepted to Debian on <a href="https://lists.debian.org/debian-devel-changes/2014/09/msg00081.html">September 1st</a>.</p>
<p>After cssmin, I tried to package jsmin, but jsmin had an <a href="https://wiki.debian.org/qa.debian.org/jsonevil">json evil license</a>. Also, jammit upstream was <a href="https://github.com/documentcloud/jammit/issues/262">reluctant about packaging of it and had disagreements over jsmin's evil license</a> . So, I dropped the jammit packaging, and in turn, timeline-setter packaging half way.</p>
<h3>Diaspora Packaging - October 2014 to January 2015</h3></p>
<p>I decided to work on getting Diaspora on Debian, following Praveen's lead. So in October, I started with the gem haml-rails and completed packaging of about 5 gems that month. By the end of November, I packaged 11 gems, including some of the ruby-redis-* family. By the end of February, I had tried my hands on a font package also,and some more ruby packages including the ruby-fog-* family. I was maintaining about 19 packages at that time.</p>
<h3>Applying for Debian Maintainer status - January 2015</h3></p>
<p>I <a href="https://lists.debian.org/debian-newmaint/2015/01/msg00033.html">applied to become a Debian Maintainer</a> on 22 January, 2015. Becoming one permitted me to update the packages I maintain without the need of a sponsor. Praveen <a href="https://lists.debian.org/debian-newmaint/2015/01/msg00034.html">seconded my application</a> and I <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776053">requested my keys to be added</a> to the maintainer keyring.</p>
<h3>Becoming a Debian Maintainer - February - March 2015</h3></p>
<p>My DM application was accepted on 28th February 2015 and I was made a DM (my keys got added to the keyring) on 4th March 2015. I asked Praveen to grant me DM access on the packages that I maintained and once I got that, I was able to update my packages.</p>
<h3>GitLab packaging - April 2015 - ****</h3></p>
<p>Since Diaspora packaging was coming to an end, I decided to <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=651606">take up</a> the packaging of GitLab. I packaged some of its dependencies, created a <a href="http://balasankarc.in/gitlab/">progressbar</a> as a step to learn Ruby based on Cedric's code, and started a <a href="http://balasankarc.in/tech/?p=614">blog series</a> on my experiences with GitLab packaging. I also helped the Ruby team in fixing bugs caused by the Ruby2.2 transition and RSpec3 upload.</p>
<p>Hope to contribute more towards the Debian project in the future</p>
