---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Debian Ruby Packaging error - invalid byte sequence in US-ASCII
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 701
wordpress_url: http://balasankarc.in/tech/?p=701
date: '2015-07-09 23:31:29 -0400'
date_gmt: '2015-07-09 18:01:29 -0400'
categories:
- Debian
- bugfix
tags:
- ruby
- debian
- packaging
- bugfix
- locale
- us-ascii
comments: []
---
<p>Heyo,<br />
During the packaging of some gems, I got the weird error - "invalid byte sequence in US-ASCII". Since I knew US-ASCII was something related to languages, I found out pretty quickly that it was something related to the locales setting of the package. It seems the necessary locales were not getting installed in the build environment.<br />
To solve the error<br />
1. Add <span style="color: #ff0000;">locales</span> to Build-Depends<br />
2. Add <span style="color: #ff0000;">locales-all</span> to Build-Conflicts as locales-all doesn't provide the stuff given by locales package. So, it should be prevented from being installed by default. Refer this <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=789738">bug report</a><br />
3. Locales should be defined in some location in the build environment. That path should be given as an environment variable while building<br />
3.1 It requires the default build method to be overriden<br />
3.2 It required the clean method to be overriden<br />
3.3 Both of this is done by modifying the debian/rules file</p>
<p>This is the modified debian/rules file<br />
################### MODIFIED DEBIAN/RULES FILE BEGINS #################################<br />
<span style="color: #ff0000;">#!/usr/bin/make -f</span><br />
<span style="color: #ff0000;"> %:</span><br />
<span style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp; mkdir -p debian/build/locale</span><br />
<span style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp; localedef -f UTF-8 -i en_US debian/build/locale/en_US.UTF-8</span><br />
<span style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp; LOCPATH=$(CURDIR)/debian/build/locale LC_ALL=en_US.UTF-8 dh $@ --buildsystem=ruby --with ruby</span><br />
<br /><br />
<span style="color: #ff0000;">override_dh_clean:</span><br />
<span style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp; LOCPATH=$(CURDIR)/debian/build/locale LC_ALL=en_US.UTF-8 dh_clean --buildsystem=ruby</span><br />
<span style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp; rm -rf debian/build/</span><br />
################### MODIFIED DEBIAN/RULES FILE ENDS #################################</p>
<p>Let's analyse the code<br />
1. In the % block, we are overriding the default build statement. We first create a temporary location for defining the locales. In the next statement, we define necessary locales. Then the path and LC_ALL environment variable is set while running the dh $@ statement.<br />
2. In the clean block, we must call the dh_clean statement with both environment variables set, just like dh $@ statement. Also, we must remove the temporary directory we created.</p>
<p>Hope this helps someone who gets stuck at the issue.</p>
