---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'Debian GitLab Packaging Diaries #3 (June 26 - July 3)'
author:
  display_name: Balasankar C

  login: balasankarc
  email: balasankarc@autistici.org
  url: http://balasankarc.in
author_login: balasankarc
author_email: balasankarc@autistici.org
author_url: http://balasankarc.in
wordpress_id: 678
wordpress_url: http://balasankarc.in/tech/?p=678
date: '2015-07-03 23:16:58 -0400'
date_gmt: '2015-07-03 17:46:58 -0400'
categories:
- Debian

tags:
- debian
- packaging
- gitlab
comments: []
---
<p>Heyo folks,<br />
Last two weeks was a bit of a packaging time for me. Also, <a href="http://j4v4m4n.in">Praveen</a> was sponsored $3000 by Gitlab, for the packaging work and he started it a few days back (check for #debian-gitlab-months in Diaspora). That meant my packages were uploaded quicker, :D. The packages I worked on are</p>
<ol>
<li><a href="http://rubygems.org/gems/omniauth-multipassword">omniauth-multipassword</a> -- OmniAuth strategy to use different password strategies</li>
<li><a href="http://rubygems.org/gems/slack-notifier">slack-nofitier</a> -- Ruby wrapper for posting to slack webhooks</li>
<li><a href="http://rubygems.org/gems/logger-application">logger-application</a> -- add logging support to Ruby application. Remember the issue with mono-logger and Ruby 2.2 mentioned <a href="http://balasankarc.in/tech/?p=674">earlier?</a></li>
<li><a href="http://rubygems.org/gems/delayed_job_active_record">delayed-job-active-record</a> -- ActiveRecord backend for DelayedJob</li>
<li><a href="http://rubygems.org/gems/timfel-krb5-auth">timfel-krb5-auth</a> -- Kerberos binding for Ruby</li>
<li><a href="http://rubygems.org/gems/omniauth-kerberos">omniauth-kerberos</a> -- OmniAuth strategy for Kerberos - Waiting for Praveen to upload</li>
<li><a href="http://rubygems.org/gems/rack-oauth2">rack-oauth2</a> -- Rack interface for OAuth 2.0</li>
<li><a href="http://rubygems.org/gems/jquery-scrollto-rails">jquery-scrollto-rails</a> -- library to use jQuery scrollTo with Rails</li>
<li><a href="http://rubygems.org/gems/underscore-rails">underscore-rails</a> -- library to use underscore.js with Rails</li>
<li><a href="http://rubygems.org/gems/torquebox-no-op">torquebox-no-op</a> -- emulate TorqueBox APIs outside of TorqueBox</li>
<li><a href="http://rubygems.org/gems/devise-token_authenticatable/">devise-token-authenticatable</a> -- token based authentication for devise</li>
<li><a href="http://rubygems.org/gems/redis-actionpack">redis-actionpack</a> -- Redis session store for ActionPack</li><br />
</ol></p>
<p>devise-token-authenticatable was my 50th package to Debian. It has been an awesome experience so far with the Debian Ruby Team.</p>
