---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: National Flag Profile Picture, Nationalism, Free Basic, Internet.org and the
  sack over our faces.
author:

  display_name: Balasankar C
  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 741
wordpress_url: http://balasankarc.in/tech/?p=741
date: '2015-09-28 12:49:29 -0400'
date_gmt: '2015-09-28 07:19:29 -0400'
categories:

tags:
- india
- facebook
- internet.org
- net neutrality
- modi
- free basics
comments: []
---
<p>It seems everyone is happy changing their profile pictures in Facebook to the "Digital India" tricolor filtered one using Facebook's <a href="http://fb.com/supportdigitalindia">Digital India app</a>. Of course, everyone sees this as an act of patriotism and support to our nation's prosperous journey towards technical advancement.</p>
<p>There is a small issue though. And, even though it is a doubt and assumption now, due to previous experiences there is a high chance it will be proven right.</p>
<p>I hope you all remember the commotion about Facebook's internet.org project and how it violated the concept of net neutrality. Facebook was trying to cheat the people, to put it bluntly. How was it cheating? They were selling internet.org as a way to provide "free internet to the common people of India". But this 'internet' they were talking about consists of facebook.com and about 30+ other sites. <strong>How on earth can providing an extremely small subset of Internet be described as 'free internet' to users? It is actually like Facebook defining what Internet should be for the Indians</strong>. Well, that can't be accepted. So, when TRAI asked for a feedback from people regarding its policy regarding internet.org, airtel zero etc, about <a href="http://www.deccanherald.com/content/473400/trai-gets-over-10-lakh.html">10 lakh people mailed TRAI</a> against implementing Mark Suckerberg's dream in Indian soil. Till this almost everyone knows</p>
<p>Now comes the important part. Facebook started an SMS campaign asking people to give a miss call to show their support for 'free <em>internet</em>'.<br />
<a href="http://balasankarc.in/tech/wp-content/uploads/2015/09/CFbxlBSVIAAgIHV.jpg"><img class="alignnone wp-image-742" src="http://balasankarc.in/tech/wp-content/uploads/2015/09/CFbxlBSVIAAgIHV.jpg" alt="CFbxlBSVIAAgIHV" width="200" height="356" /></a></p>
<p>Also, Facebook users started seeing a messgage as shown below</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/09/11873730_1624670011116022_1010537354814166801_n.jpg"><img class="alignnone size-full wp-image-743" src="http://balasankarc.in/tech/wp-content/uploads/2015/09/11873730_1624670011116022_1010537354814166801_n.jpg" alt="11873730_1624670011116022_1010537354814166801_n" width="720" height="310" /></a></p>
<p>Initially it had a No button, but guess what. When people started clicking No more, they simply removed it and gave only an option to click yes. When the relatively innocent users of Facebook who read this sentimentally touching and seemingly honest question, they definitely will click I'm in. That click will guide you to post a feedback on mygov.in website. But that feedback is a pre-written template which kinda says "I support internet.org". And guess what, Facebook presented those clicks and miss calls as statistics against those 10 lakh emails to TRAI.</p>
<p><a href="http://balasankarc.in/tech/wp-content/uploads/2015/09/10984979_1627451970837826_1877405130824947136_n.jpg"><img class="alignnone size-full wp-image-744" src="http://balasankarc.in/tech/wp-content/uploads/2015/09/10984979_1627451970837826_1877405130824947136_n.jpg" alt="10984979_1627451970837826_1877405130824947136_n" width="655" height="548" /></a></p>
<p>So, the people who clicked "I'm in" were made fools as their clicks were automatically converted to a statement against net neutrality. Boom!</p>
<p>Now, just two days before Narendra Modi visited US, Facebook renamed internet.org to "Free Basic" and started presenting it as an infrastructure to provide internet to Indians. The timing is perfect and the approach is flawless. Since with NaMo government, the best selling outfit is that of nationalism, Facebook knows is very well that if they offer a candy covered in the silver foil of patriotism, Indians will happily take that from any foreigner without hesitation. So, the profile picture changing app is a push towards that same concept. Just like when 10 lakh people voted against internet.org and facebook presented those button clicks as arguments against those mails, when people vote against incusion of free basic in digital india programme, facebook definitely will present the statistics of people changing their profile pictures as supporting free basics. And we again are made assholes.</p>
<p>So think twice before changing your profile picture.</p>
<p>FOr more info on internet.org and plays behind it - http://www.medianama.com/2015/08/223-facebook-internet-org/</p>
