---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: Debian Packaging - The mentoring days
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 814
wordpress_url: http://balasankarc.in/tech/?p=814
date: '2016-02-13 00:23:09 -0500'
date_gmt: '2016-02-12 18:53:09 -0500'
categories:
- Debian

tags: []
comments: []
---
<p>Heyo,</p>
<p>From the last blog entries, I think it can be guessed that I am seriously into <a href="http://debian.org">Debian</a> packaging. I have been maintaining ~80 Ruby packages that are dependencies of Diaspora, Gitlab etc and the packaging work surely helped to kick my technical knowledge up a notch.</p>
<p>Since I believe in the idea of "Our knowledge becomes polished when we teach/share it" (attribute it to the fact that I come from a family full of teachers. :P ) I was very much interested in mentoring someone else on packaging. So, I <a href="http://lists.smc.org.in/pipermail/discuss-smc.org.in/2015-November/000660.html">announced</a> a packaging training session (<span style="color:red">Note:</span> See end of post for logs) on IRC under <a href="http://fosscommunity.in">FOSS Community India</a> banner. So the session was planned on 28th November 2015, 22:00 IST.</p>
<p>There were around 12 people present in the session who were interested in packaging, and thus in contributing to the community. Abhijith (debku) was there to help me in the session and was indeed a great help. The first day of the session discussed extreme basic stuff like the package structure, it's working, different files inside the packaging directory etc etc. IIRC, one or two guys left between the session, but overall I felt the session was good. We continued the session next day also, diving deeper into the packaging internals. The session was planned to be continued next week (which I don't think happened actually - I was busy, they were busy, this whole court room was busy... Eh?)</p>
<p>Since we were playing around XMPP and testing its chance as a viable alternative for popular IM stuff like Whatsapp and Telegram, we created a conference room named debian-in (you can come there - debian-in@conference.siacs.eu) and was using that as a communication channel. Soon, there were some activity on the channel and within no time we were having about 4 new comers who were trying out packaging - Dhanvi, Rahul, Sagar, and Sudheesh (and IIRC, Raju a.k.a libregeekingkid was there sometime), and they were damn passionate about it too.</p>
<p>Since all of them were using the so called 'more user friendly' OSs like Ubuntu or Linux Mint, the packaging tools were a bit outdated, which caused some initial troubles (which I personally enjoyed as I love to teach/explain about stuff. :D). Anyway, I constantly nagged them to migrate to Debian, at least to Testing (<span style="color:red">Update:</span> <del datetime="2016-02-16T19:16:56+00:00">Rahul switched to Debian Testing and Sudheesh also will do soon</del>Both switched to Debian Testing). To be honest, it isn't like that the packaging went 'roses roses all the way'. There were moments of excellent questions, good explanations, dumb doubts, and explanations-to-escape. But, over all, the 4 are fun to work with and 3 already have a package each in Debian (Dhanvi was busy with some stuff and since we wanted the gem he was doing for GitLab without delay, Praveen had to took over it. But, Dhanvi is back with packaging of akismet). Also, they ask some good questions that I had a misunderstanding, which were corrected by <a href="http://j4v4m4n.in/">Praveen</a> (obviously. :D). I too finally experienced that we get a better understanding of stuff when we explain it to someone else and their doubts will encourage us to think from a different perspective.</p>
<p>So, in short, mentoring people is fun and I do hope I wasn't a total shipwreck and guys actually wasn't bored. :D . Hope they continue the enthusiasm and get involved in Debian more and more.</p>
<h3>Logs</h3></p>
<p>Day 1 : http://balasankarc.in/irc_logs/packaging_session/2015-11-28.html<br />
Day 2: http://balasankarc.in/irc_logs/packaging_session/2015-11-29.html</p>
