---
layout: post
permalink: /tech/:title.html
status: publish
published: true
title: 'GSoC Update: Week #5 and #6'
author:

  display_name: Balasankar C
  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 847
wordpress_url: http://balasankarc.in/tech/?p=847
date: '2016-07-05 09:57:24 -0400'
date_gmt: '2016-07-05 04:27:24 -0400'
categories:

- GSoC
tags:
- malayalam
- gsoc
- stemmer
- language processing
- inflection
- spellchecker
- suggestion
- jaccards
- ngram
- soundex
comments: []
---
<p>Heyo,</p>
<p>Last two weeks were spent mostly in getting basic spellchecker module to work. In the first week, I tried to polish the stemmer module by organizing tags for different inflections in an unambiguous way. These tags were to be used in spellchecker module to recreate the inflected forms of the suggestions. For this purpose, an inflector module was added. It takes the output of stemmer module and reverses its operations. Apart from that, I spent time in testing out the stemmer module and made many tiny modifications like converting everything to a sinlge encoding, using Unicode always, and above all changed the library name to an unambiguous one - <code>libindic-stemmer</code> (The old name was stemmer which was way too general).</p>
<p>In the second week, I forked out the spellchecker module, convert the directory structure to match the one I've been using for other modules and added basic building-testing-integration setup with pbr-testtools-Travis combination. Also, I implemented the basic spell checking and suggestion generation system. Like stemmer, marisa_trie was used to store the corpus. Three metrics were used to generate suggestions - Soundex similarity, Levenshtein Distance and Jaccard's Index. With that, I got my MVP (Minimum Viable Product) up and running.</p>
<p>So, as of now, spell checking and suggestion generation works. But, it needs more tweaking to increase efficiency. Also, I need to formulate another comparison algorithm, one tailored for Indic languages and spell checking.</p>
<p>On a side note, I also touched indicngram module, ported it to support Python3 and reformatted it to match the proposed directory that I have been using for other modules. A PR has been created and am waiting for someone to accept it.</p>
