---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: In for GSoC
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 825
wordpress_url: http://balasankarc.in/tech/?p=825
date: '2016-04-24 15:46:30 -0400'
date_gmt: '2016-04-24 10:16:30 -0400'
categories:
- GSoC
tags:
- smc
- malayalam
- indic
- programming
- coding
- google
- summer of code
- gsoc
- indicproject
comments: []
---
<p>Heyo,</p>
<p>So, I am in for <a href="http://summerofcode.withgoogle.com/">Google Summer of Code</a> as my project "Inflection Aware Spellchecker for Malayalam" got accepted under <a href="http://indicproject.in">Indic Project</a>. I will be implementing a spellchecker that can handle the problem of inflections in Malayalam language on top of the <a href="http://silpa.org.in">LibIndic</a> framework. I am happy that I got <a href="http://stultus.in">Hrishi a.k.a Stultus</a>, whom I have known for the past 4 years, as my mentor for this project. Also, it is great to have such a vibrant community like <a href="http://smc.org.in">SMC</a> along with me.</p>
<p>The progress of my work may be seen through my blog posts that I will be regularly posting <a href="http://balasankarc.in/tech/category/gsoc/">here</a></p>
