---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: GSoC Community Bonding - VibhakthiGenerator
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 832
wordpress_url: http://balasankarc.in/tech/?p=832
date: '2016-05-23 17:41:44 -0400'
date_gmt: '2016-05-23 12:11:44 -0400'
categories:

- GSoC
tags:
- malayalam
- gsoc
- grammar
- vibhakthi
comments: []
---
<p>Hi,</p>
<p>So the community bonding period of Google Summer of Code 2016 comes to an end today. During this period, the participants were expected to mingle with the community, get to know more about its basic workflow, make small small contributions to the projects undertaken by community, understand the coding standards, deployement models and version control schemes, the communication model used etc.</p>
<h2>VibhakthiGenerator</h2></p>
<p>I have been contributing to the community before GSoC, in form of localization and packaging etc. Still, as a contribution to the community during the GSoC Community Bonding period, I have written a small library in Python,  that can be used to generate different Vibhakthi forms of Malayalam words (like രാമൻ -> രാമന്റെ, രാമനെ, രാമനോട്, രാമനാൽ etc). The project was inspired by Santhoshettan's <a href="http://thottingal.in/projects/js/jquery.i18n/demo/mlgrammar.html">similar project using jQuery.i18n library</a>. The code is available in my <a href="http://gitlab.com/balasankarc/vibhakthi-generator">personal repo</a> now and I will be pushing it to the organization's repo soon. I am yet to make it follow libindic's directory structure.</p>
<p>The library now uses a rule based approach to generate the Vibhakthi forms, which is not 100% efficient. It will fail in words ending with those letters (usually Chillu characters) whose base forms are still ambiguous. Example, the words ending with ർ whose base form can be either ര or റ. Different words ending with ർ, that have similar structure has different results when applying the same vibhakthi.</p>
<p>Example :<br />
അനിവർ + സംബന്ധിക = അനിവറിന്റെ<br />
മലർ + സംബന്ധിക = മലരിന്റെ<br />
കൗരവർ + സംബന്ധിക = കൗരവരുടെ</p>
<p>(Thanks to Santhoshettan for the following info) This shows a drawback of rule based method and we need to develop a method where the word etymology is also considered . That can be expected to be done when Machine Learning techniques become more clear and usable for Malayalam. For now, since no such library exists, I follow the concept of "99% is better than 0%" and guess the library is worth using until we can find something better. I have a plan to use this library during the development of the spell checker (I will post its proposal in detail, soon), which I have to dig more on. For now, you can try out the library at this <a href="http://vibhakthi.balasankarc.in/">online demo</a>. Happy if you people can test and report issues/suggestions etc.</p>
<h2>Stemmer</h2></p>
<p>Also, to handle inflections, the spellchecker should have a stemming phase in between. So, I have read the stemmer code of libindic and found out that it is actually halfway between a stemmer and lemmatizer (and I intend to keep it as such). However, the existing method is highly inefficient, causing many false positives and has to be made more efficient. I intend to follow the rule based approach for it, with an option to crowd source the root word corpus. This will be the first phase of the project.</p>
