---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'GSoC Update: Week #1 and #2'
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 837
wordpress_url: http://balasankarc.in/tech/?p=837
date: '2016-06-05 00:04:05 -0400'
date_gmt: '2016-06-04 18:34:05 -0400'
categories:

- GSoC
tags:
- malayalam
- stemmer
- nlp
- language processing
- trie
comments: []
---
<p>Heyo,</p>
<p>Last two weeks of GSoC mostly involved working on Stemmer module of the proposal. I had discussions with Hrishi and Vasudev regarding the directory structure that I will be using for the stummer. I proposed <code>
<libindic>.<module>.<language></code> format because it gives more visibility to libindic. Since both of them agreed (I will be converting all the existing modules to this format, after GSoC), I first ported the existing <a href="">indicstemmer</a> module to this directory structure. With directions and suggestions from Vasudev and Hrishi, we (Me and <a href="http://web.iiit.ac.in/~jerin.philip/">Jerin</a>, who is working on <a href="https://github.com/libindic/sandhi-splitter">Sandhi Splitter</a> set up pbr as packaging tool, testtools as testing framework, Travis CI for continuous integration and tox for local automation and testing. The development environment may be summarized as follows</p>
<ul>
<li>Packaging: <a href="http://docs.openstack.org/developer/pbr/">pbr</a></li>
<li>Test Framework: <a href="http://testtools.readthedocs.io/">testtools</a></li>
<li>CI: <a href="http://travis-ci.org/">Travis</a></li>
<li>Local automation/testing: <a href="https://tox.readthedocs.io/">Tox</a></li>
<li>Style checker: <a href="https://pypi.python.org/pypi/autopep8">autopep8</a>, <a href="https://pypi.python.org/pypi/flake8">flake8</a></li>
<li>Python versions: Python 2.7, Python 3.5</li><br />
</ul></p>
<h3>Work on Stemmer</h3></p>
<p>There are several problems with the existing stememr implementation. One is the high count of false positives. This is because, in Malayalam there exists root words which satisfy the structure of an inflected word. An example is ആപത്ത്, which can be considered similar to എറണാകുളത്ത്. The former is a root word whereas the latter is an inflected word. So, based on the stemmer rule <code>ത്ത്=ം</code>, that is used to handle എറണാകുളത്ത്, ആപത്ത് will also get stemmed to ആപം. This, hence, is a false positive. What we need is a root word corpus, that contains the possible root words in Malayalam (well, we need some crowd sourcing to update it) and checking the input word against it so as to detect if it is a root word.</p>
<p>Another problem with the existing stemmer is that it is unable to handle multiple levels of inflection. An example is അതിലേക്ക് (into that) : അതിൽ + ഏക്ക് : അത് (that) + ഇൽ (in) + ഏക്ക് (to). We need to implement a multiple suffix stripping algorithm that will handle it. I wrote an iterative suffix stripping algorithm, that continues suffix stripping and transformation until a root word is encountered or a mis-hit on the rules occurs.</p>
<p>Since linear list obviously is the least optimal solution for storing a large dataset, and tries are good for storing textual data, I decided to go with a Trie for storing the root word corpus. Tailoring a data structure that will suit my need is one of the last tasks of my GSoC proposal. So, I used an existing trie implementation - <a href="https://pypi.python.org/pypi/marisa-trie">marisa trie</a> that is available as a Python library.</p>
<p>I have added tests for all the 7 vibhakthis, and form of a word (അവനും, രാമുവും), some of the plural forms (കാളകൾ) etc and the coverage as of now is 100%.</p>
<p>As always, the code and update is available at <a href="http://github.com/libindic/indicstemmer">GitHub repo</a>.</p>
