---
layout: post
status: publish
permalink: /tech/:title.html

published: true
title: 'GSoC Update: Week #3 and #4'
author:
  display_name: Balasankar C

  login: admin
  email: c.balasankar@gmail.com
  url: ''
author_login: admin
author_email: c.balasankar@gmail.com
wordpress_id: 844
wordpress_url: http://balasankarc.in/tech/?p=844
date: '2016-06-23 11:04:08 -0400'
date_gmt: '2016-06-23 05:34:08 -0400'
categories:

- GSoC
tags:
- malayalam
- gsoc
- stemmer
- language processing
- inflection
comments: []
---
<p>Heyo,</p>
<p>[Sorry for the delay in the post]</p>
<p>I spent the last two weeks mainly testing out the stemmer module and the defined rules. During that I found out there are many issues for a rule based model because different types of inflections to different parts of speech can yield same inflected form. This can be solved only by machine learning algorithm that incorporates a morphological analyzer and is hence out of scope of my proposal. So I decided to move forward with the stemmer.</p>
<p>I tried to incorporate handling of inflections of verb - like tense change - using rules and was able to do a subset of them. Rest of the forms need more careful analysis and I've decided to get the system working first and then optimize it.</p>
<p>I've also decided to tag the rules so that a history of stemming can be preserved. The stemmer will now generate the stem as well as the tags of rules applied. This metadata can be useful to handle the problem of same letter being inflected to different forms that I faced while developing VibhakthiGenerator.</p>
<p>I spent some time in cleaning up the code more and setting up some local testing setup like a CLI and Web interface.</p>
<p>The PR was accepted by Vasudev and the changes are currently a part of the indicstemmer codebase.</p>
<p>BTW, it is time for the Midterm evaluations of GSoC 2016, where the mentors evaluate the progress of the students and give a pass/fail grade to them. Also, the students get to evaluate the mentors, communication with them and their inputs. I have already completed this and am waiting for my mentor to finish it. Hopefully, everything will go well.</p>
