---
layout: page
title: Technocrazian
---

<div class="posts">
  {% for post in site.posts %}
  {% unless post.categories contains 'Literature' %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <p style="text-align:justify">
    {{ post.content | remove: '<p>' | remove: '</p>' | truncatewords:75}}
    <br />
      <a href="{{ post.url }}">Read More</a>
    </p> 
  </div>
  {% endunless %}
  {% endfor %}
</div>
