---
layout: default
---
<div class="posts">
<h1>Pages under category &ldquo;{{ page.title }}&rdquo;</h1>
  {% for post in page.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <p style="text-align:justify">
    {{ post.content | remove: '<p>' | remove: '</p>' | truncatewords:75}}
    <br />
      <a href="{{ post.url }}">Read More</a>
    </p> 
  </div>
  {% endfor %}
</div>
